[2011-07-07 12:53] joelmarty opened #1 "Need to add a number rounding function"
Computations often create very small numbers (e-14 range). There should be some rounding.

[2011-08-09 15:00] almet opened #2 "Multiple projects"
It is possible to create multiple projects with a password.

[2011-08-09 15:01] almet opened #3 "Different users per project"

[2011-08-09 15:01] fredericsureau opened #4 "Balance display"
Display the balance of the debts of each user

[2011-08-09 15:02] almet opened #5 "Management of users"
Support adding / removing users to a project.

Users are not really removed until they don't have any event bound to them.

[2011-08-09 15:02] almet opened #6 "Management of expenses"
List the expenses for this project. Allow adding expenses.

[2011-08-09 15:03] fredericsureau opened #7 "Notification of the creation of the project"
When a project is newly created, the creator user can define a list of emails that will be notified that the project have been created. This page can be easily skipped.

[2011-08-09 15:03] fredericsureau opened #8 "Having a design with a menu"
Add a menu to the existing design and make the navigation fluid.

[2011-08-09 15:06] #2 closed, assigned to almet

[2011-08-09 15:07] #3 closed, assigned to almet

[2011-08-09 15:10] almet opened #9 "Do not redirect users to the creation form when they are trying to log in"

[2011-08-09 15:13] almet opened #10 "Replace select multiple for persons by a list of checkboxes."

[2011-08-09 15:16] almet opened #11 "Put it in production"
Deploy it (via a fabric script?)

[2011-08-09 15:18] almet opened #12 "Translate the application in french (at least), i18n"

[2011-08-09 17:35] #5 closed, assigned to fredericsureau

[2011-08-09 21:50] #7 closed, assigned to almet

[2011-08-09 21:50] #9 closed, assigned to almet

[2011-08-09 21:52] #8 closed, assigned to almet

[2011-08-09 21:52] #4 closed, assigned to nobody

[2011-08-09 22:21] #10 closed, assigned to almet

[2011-08-09 23:01] #11 closed, assigned to almet

[2011-08-09 23:02] almet opened #13 "Create a fabric script to deploy it easily"
Being able to deploy stuff via ssh is one thing, being able to do it automatically would be better.

Have a look at fabric and on how to make fabfiles :)

[2011-08-09 23:33] #13 closed, assigned to almet

[2011-08-10 08:52] almet opened #14 "Write tests for all the existing use cases"

[2011-08-10 08:55] fredericsureau opened #15 "Members view"
The members view displays all of the project's members, even the desactivated ones.
It is then possible to manage members (edit, add, delete).

[2011-08-10 09:35] almet opened #16 "Add information about the code, and link easily to a demo"

[2011-08-10 11:05] #6 closed, assigned to fredericsureau

[2011-08-10 15:52] #15 closed, assigned to nobody

[2011-08-10 21:52] almet opened #17 "Add a way to change project name, password and contact email"

[2011-08-12 09:21] almet opened #18 "Add the ability to reduce the number of transfers to solve the balance"
@Feth worked and published his code here: https://github.com/feth/peinard/

There is still a need to package it and for us to use decimals but that's basically it :)

[2011-08-19 22:37] almet opened #19 "Make a nice design"
We need something fancy :)

[2011-08-19 22:39] almet opened #20 "Various improvement on our usage of flask."
I've added some ideas into the README, could be interesting to have a deep look on how to get a better structure etc.
https://github.com/ametaireau/budget-manager/blob/master/TODO

[2011-08-20 23:44] #19 closed, assigned to nobody

[2011-08-21 10:48] almet opened #21 "XSS security issue on delete links"
Delete should use POST, not GET (For members, expenses and projects), to avoid XSS attacks.

[2011-08-21 12:58] #16 closed, assigned to nobody

[2011-08-22 16:34] almet opened #22 "Adding a disabled user should enable it"
If I de-activate an user and try to add him again, I'll get an error. Different things:
- The system should find him and reactivate him.
- The balance should make him appear, in grey, even if the user is deactivated
- Error messages should be put in flash messages, not in for messages in a different page as it is done currently.

[2011-08-22 21:21] #14 closed, assigned to nobody

[2011-08-22 21:21] #22 closed, assigned to nobody

[2011-08-23 08:49] fredericsureau opened #23 "Bug in the user adding"
When you try to add a new user in a project, if the user name is already used in another project, this is not possible. Fix this!

[2011-08-23 16:12] almet opened #24 "Usability - Password should be named "code""
… or at least there should be some information about the fact that this password is meant to be shared when creating the project.

[2011-08-24 21:24] almet opened #25 "Design, text on the right is not too visible"
… and there is a problem with the color of the font (probably), it seems. Chromium 15 does the following capture: http://files.lolnet.org/alexis/budget-manager-chromium.png

[2011-08-26 10:10] #25 closed, assigned to nobody

[2011-08-26 10:11] almet opened #26 "CSS footer is not done right."
@arnaudbos said: "The #footer element has absolute positioning, however the PC I'm testing with Chrome 13 has a very small screen (11"), so the bottom of the screen coincides with an element of the form".

Having an alternate stylesheet for mobile would probably solve this.

[2011-08-26 18:31] almet opened #27 "Provide a REST API"
All the things should be available trough a simple HTTP REST Interface.

[2011-09-09 17:43] almet opened #28 "Export and import features"
As suggested by @Tinmn, it could be useful to be able to export the list of bills into a CSV format. I think we could achieve this using a particular format with the REST API (See #27) , thus, we would be able to provide export into others formats as well such as XML, JSON etc.

[2011-09-09 17:45] #20 closed, assigned to nobody

[2011-09-09 17:48] almet opened #29 "Do not ask users with a javascript prompt to confirm deletion"
As suggested by @Tinmn it could be better to change the link into another one, asking the user to click again.

[2011-09-13 23:51] arnaudbos opened #30 "Validating the Authentication form without identifier causes 400 Bad Request"
In the home page (home.html) as well as the authentication page (authenticate.html).

The validation of the authentication form ("Log to an existing project..." in home)
returns HTTP Error 400 "Bad Request" if no project identifier is given.

[2011-09-14 00:09] #30 closed, assigned to arnaudbos

[2011-09-14 12:51] #23 closed, assigned to nobody

[2011-09-14 20:03] #17 closed, assigned to nobody

[2011-09-14 20:03] #26 closed, assigned to nobody

[2011-09-17 12:48] QuentinRoy opened #31 ""Shared" users error"
It is not possible to add the same user (or a different one under the same name) on different project.

[2011-09-17 12:49] QuentinRoy opened #32 "Password recovery functionality"

[2011-09-18 22:00] #24 closed, assigned to arnaudbos

[2011-09-20 03:20] #31 closed, assigned to nobody

[2011-10-08 11:45] #27 closed, assigned to almet

[2011-10-08 15:14] #1 closed, assigned to nobody

[2011-10-08 15:14] #29 closed, assigned to QuentinRoy

[2011-10-08 15:14] #32 closed, assigned to nobody

[2011-10-12 08:40] almet opened #33 "Editing a bill resets the payer"
When editing a bill, the select form does not select the actual payer by default and so resets it.

[2011-10-13 19:28] #33 closed, assigned to nobody

[2011-10-15 00:01] #12 closed, assigned to arnaudbos

[2011-10-15 00:31] almet opened #34 "Paint the slidebar in green"
well, that's it :)

[2011-10-15 00:32] almet opened #35 "Add a flag for the language"
In addition to the automatic detection of the lang, there should be an option to change the lang.

[2011-10-15 00:33] almet opened #36 "Multiple contact emails"
Add the ability to have multiple emails of contact.

[2011-10-15 00:33] almet opened #37 "Add a jquery date picker for the date"
The picker should support localisation as well.

[2011-10-15 19:41] almet opened #38 "Add a tutorial and some explanations"
Newcomers are somewhat destabilised and do not understand what the project is about. Add some tooltips and explanations on the homepage.

[2011-10-16 08:51] brunobord opened #39 "Number format"
Hi there,

Number format for the bill list looks "wrong" to me. It's like "15.0" or "45.1". I think it should be "15.00" or "45.10" by default. Amounts should have 2 decimals digits, IMHO.

[2011-10-16 10:30] almet opened #40 "Who should pay ?"
Could it be interesting for a project to indicate who should pay the next time? (the person with the lower balance), or is it obvious regarding the balance itself?

[2011-10-16 10:37] almet opened #41 "Review the existing android and iOS applications"
Steal good ideas and kick bad ones. All the applications that are somehow related to this one should be reviewed.
I've started a wiki page for this: https://github.com/spiral-project/ihatemoney/wiki/Comparison-of-android-apps

[2011-10-16 12:00] #39 closed, assigned to QuentinRoy

[2011-10-16 22:17] #35 closed, assigned to nobody

[2011-10-16 22:17] #37 closed, assigned to almet

[2011-10-17 22:11] almet opened #42 "Have a dashboard for admins to have stats"
Having a simple a nice dashboard, mainly for admins, could allow to have some stats about the number of members/projects/etc.

[2011-10-18 00:29] #40 closed, assigned to nobody

[2011-10-18 01:06] almet opened #43 "Manage transfers"
Transfers of money from one person to another should be handled in a simple way.

[2011-10-18 10:34] arnaudbos opened #44 "Delete a user causes HTTP Error 500"
Edit: I just realized it might be somehow related to #21?

One of my friend at work tried to crash things (several good beta testers in da place BTW) and inserted some shit into the demo project, see http://ihatemoney.notmyidea.org/demo/.

I tried to delete the entry and found this bug. We can't delete a member, it causes HTTP Error 500. Any idea?

[2011-10-18 11:25] arnaudbos opened #45 "User shouldn't be able to add negative bills"
One of my co-workers noticed that there was no validation preventing negative bills.

Yes, it's a silly idea to insert a negative bill but still, do we ignore it and let the user do what he wants, or do we prevent wrong behaviors like this one?

[2011-10-18 14:10] brunobord opened #46 "No REST API doc"
The Readme file states:

I wish I could find it.
kthxbye :op

[2011-10-18 15:49] #44 closed, assigned to nobody

[2011-10-18 20:22] fredericsureau opened #47 "Keep the last payer selection"
When adding a lot of bills, it is boring to click each time in the list for the payer.

I propose to keep the last selected payer (in the session for example) and select it by default in the add list.

[2011-10-18 20:26] fredericsureau opened #48 "Fix some spelling mistakes"
In the french translation, there are some mistakes in the columns titles. (à instead of a)

[2011-10-18 20:27] fredericsureau opened #49 "Change edit / delete links to icons"
Replace the textual links by icons

[2011-10-18 20:29] fredericsureau opened #50 "Make the new bill link more visible"
The "new bill" link is too discrete IMHO and this is the most clicked link in the UI

[2011-10-18 20:32] fredericsureau opened #51 "Fix the user panel UI"
When moving over user panel, the delete link appears and create an unpleasant shifting of the text.

[2011-10-18 20:34] fredericsureau opened #52 "CSS bug in green left panel"
The green left panel does not fill the whole page when there are lots of bills registered.

[2011-10-18 20:38] fredericsureau opened #53 ""Add a bill" form in a new tab or popup"
What about moving the "add a bill" form to a new tab?

What about a checkbox "I want to add some more bills" that would display the form again when data are saved.

Or what about displaying this form in a kind of popup to avoid list movement?

[2011-10-18 20:43] fredericsureau opened #54 "Messages make the list move"
When a message is displayed to the user (e.g. when a bill has been added correctly), this make the bills list move and create an unpleasant blinking effect.

I propose to keep an area dedicated to messages which would avoid list movement. Or a kind of status bar.

This is the same problem with the "add a bill" form.

[2011-10-18 21:27] #46 closed, assigned to nobody

[2011-10-19 05:08] AdrienLemaire opened #55 "Add tags feature"
Would be nice if we could append a tag to a bill, to sort them by categories (rent, food, party, etc).

Thanks for you hard work !

[2011-10-20 02:24] #47 closed, assigned to nobody

[2011-10-20 06:10] xate opened #56 "Who should pay : All"
Il could be interesting, when we choose who should pay, to select everybody checking only one box. Indeed, I think "Select everybody" is the most common case.

[2011-10-20 12:11] #56 closed, assigned to nobody

[2011-10-20 12:49] ksamuel opened #57 "The demo site carshes and shows a Traceback"
http://ihatemoney.notmyidea.org/demo is currently crashing.

It also displays informations avbout the error instead of a user friendly "500 error" page; This could lead to a security hole:

Traceback (most recent call last):
  File "/bundles/port-8729/app_image/epio_wsgi.py", line 30, in **call**
    output = wsgi_entrypoint(environ, self.start_response)
  File "/bundles/port-8729/app_image/pyenv/

[2011-10-20 14:30] brunobord opened #58 "optional mail sending"
Hi,

I know it looks like an "anti-feature", but on my test environment, but I wish that, when you validate the project creation form, the mail sent was optional.

use cases:
- I'm working on a "geek-unfriendly" environment, where the mail sending is not allowed. or I'm too lazy to make it work via flaskext.mail. or both.
- I'm creating my project in "I Hate Money" on an offline laptop ; mail send

[2011-10-27 14:17] #57 closed, assigned to nobody

[2011-10-27 14:30] almet opened #59 "Edit removes all the selected users"
When editing a bill, all the payers are removed.

[2011-10-27 14:34] almet opened #60 "Wording: "Amount paid" instead of "Payed""

[2011-10-27 14:36] almet opened #61 "Wheight members"
On user creation, add the ability to wheight them: a familly can have a weight of 2. This weight should be optional and with a default value of 1.

[2011-10-27 14:47] almet opened #62 "French numbers should use commas rather than dots"

[2011-10-27 14:57] almet opened #63 "It is not possible to delete a project"
Currently, it is not possible to delete a project.

[2011-10-27 15:06] #58 closed, assigned to nobody

[2011-10-28 10:48] QuentinRoy opened #64 "New user management"
As previously discussed with Alexis (who didn't agree with me at this time), I think the delete user functionality is confusing and unecessary.

Here is my idea:
- No user deletion at all, if a user is part of a displayed bill, he is in the balance list BUT
  - Users with a balance of 0 are automatically hidden.
  - We can show those hidden users with a button at the end of the balance list. They

[2011-11-01 11:57] #52 closed, assigned to nobody

[2011-11-01 12:07] #60 closed, assigned to nobody

[2011-11-01 13:35] #49 closed, assigned to nobody

[2011-11-01 13:41] #50 closed, assigned to nobody

[2011-11-02 12:20] #63 closed, assigned to nobody

[2011-11-16 17:08] QuentinRoy opened #67 "Delete bill logo"
The scissors aren't a good logo for deleting a bill. Scissors are usually used to an cut-past action which can lead user astray. Why not using the same logo as the user deletion one? It would also keep logos homogeneous in the application (two different logos for a similar action, wtf!)
Moreover, there is not any confirmation or cancel mechanism while the delete bill button is very easily triggere

[2011-11-20 17:50] QuentinRoy opened #69 "Balance line highlight"
I propose to highlight the members of a bill (in the balance) when hovering over it.

[2011-11-26 20:09] fredericsureau opened #70 "deconnect, in "options""
a direct acces  to "deconnection button" woud be better. We could extract it from options and put it in the top-right corner.

Thanks,

Contribution from Laura :)

[2011-11-27 03:16] #69 closed, assigned to QuentinRoy

[2011-11-27 03:17] #67 closed, assigned to nobody

[2011-11-27 03:18] #61 closed, assigned to nobody

[2011-11-27 03:18] #34 closed, assigned to nobody

[2011-11-27 03:18] #62 closed, assigned to nobody

[2011-11-27 03:33] #54 closed, assigned to nobody

[2011-11-27 03:36] #48 closed, assigned to nobody

[2011-11-27 03:36] #51 closed, assigned to nobody

[2011-11-27 11:36] #38 closed, assigned to nobody

[2011-11-28 00:07] #42 closed, assigned to nobody

[2011-11-28 00:07] #59 closed, assigned to nobody

[2011-11-28 00:42] #53 closed, assigned to nobody

[2012-01-28 00:30] fredericsureau opened #73 "Members can be deleted even when assigned to bills"
When a member only appears in the "For whom?" column and is not the Payer of any bill, the delete link does not deactivate but directly delete the member.

[2012-01-28 00:37] #21 closed, assigned to nobody

[2012-02-03 13:46] Glandos opened #76 "User should be informed that password is stored in clear-text"
Password should be stored as hashes, even for something like this.

Otherwise, great project ;)

Edit: change title according to the following discussion

[2012-02-05 20:07] Glandos opened #77 "Remove dependency to Google"
Hi!

I may seem a bit paranoid, but could it be possible to remove the CSS import from Google's servers?
It is a bit annoying for self-hosted instance to download content from somewhere else :)

However, I don't really know if it's legally possible to embed the font into this project…

[2012-02-15 15:14] #76 closed, assigned to nobody

[2012-02-15 15:28] #77 closed, assigned to nobody

[2012-02-21 11:15] feth opened #79 "Lower dev requirements"
Hello,

I checked out this project, and there are things I like a lot in it:
- it is pretty
- it is damn easy to get a clone running and start developing

However, not knowing the flask API (yet?) and having the bad habit of extensively using pep8 and pyflakes inside vim -not to name pylint- I came over a few road blocks:
- the code contains many "from flask import *" that render reference checkin

[2012-02-21 11:34] feth opened #81 "use peinard, support money transfers and various features"
I wrote an algorithm to solve the exact problem that ihatemoney solves.
I dare to say my algo is fancier and solves the general case: who should give money to whom in order to optimize the number of transfers.
It comes with a software I never finished, but well, why not integrate the features here?
- variable relative bill share value (ie. Alice 20%, Bob 80%)
- absolute bill share value (ie. Alice

[2012-02-26 18:54] #81 closed, assigned to nobody

[2012-03-08 07:41] feth opened #83 "Handle db migration?"
Hello,

I'd like to try and add a feature to this app, that requires an sql schema migration.
Do you have an opinion about the best way to properly handle schema migrations?

Basically, all tools work the same and rely on a version field (integer) stored in a special table.
If not found, table and field are created (and version assumed to be 0).
If found, application compares the field with its ow

[2012-03-08 15:31] #79 closed, assigned to nobody

[2012-04-05 13:54] #73 closed, assigned to nobody

[2012-07-10 21:55] QuentinRoy opened #86 "Multiple submits (and submit feedback)"
I just noticed that you can submit multiple time the same bill if you do not wait the server's answer. I think it should be blocked. I just did the following mistake :
- fill in the bill form
- Press 'enter' to send
- There is no feedback so I thought "Oh... Enter doesn't work"
- Pressed 'Submit'
- "Why the *\* did it create my bill twice?"

[2012-08-25 08:59] QuentinRoy opened #87 "Project deletion"
It does not work.

[2012-08-25 09:01] QuentinRoy opened #88 "Submit and add a new one button"
It submit the current bill but does not open the add bill button popup again.

[2012-09-02 11:53] #87 closed, assigned to nobody

[2012-09-02 11:54] #70 closed, assigned to nobody

[2012-09-02 11:56] #41 closed, assigned to nobody

[2012-09-03 16:29] aavenel opened #89 "Add an « undo delete » action."
It's very easy to delete a bill by mistake (only one click).

I suggest to add an "undo" link in the flash message so the user have some seconds to undo his action.

[2012-09-15 10:36] almet opened #92 "Error when deleting a user"
See https://sentry.lolnet.org/ihatemoney/group/243/

[2012-10-23 03:40] Korri opened #94 "Add user coefficients."
We currently use an App on Android, and is has a realy cool feature, you can assign a default percentage to each user (default and per transaction), so for example we have a couple here so they have a default percentage of 200% as they share the same money (And like that we don't need to split every purchase between the two of them).

Having this feature could be really cool.

[2012-10-23 09:09] #88 closed, assigned to nobody

[2012-11-01 10:32] Glandos opened #95 "Display total value"
I know it can be a source of fear for some of us, but I'll be happy to see the total of each line displayed somewhere.

Maybe under every participants on the left column, or at the bottom of the table, or in the header, near to the project's name.

[2013-03-17 06:18] almet opened #99 "Change the bootstrap theme"
I've probably seen too much bootstrap + lobster, maybe we should do something about that?

[2013-04-07 21:13] aavenel opened #100 "Update french translation"
French translation is not up to date, specially with the "settle bills" patch.
I can take care of this issue but I don't know how to edit and compile messages.po file. Any advice ?

[2013-04-07 21:59] #100 closed, assigned to nobody

[2013-04-22 08:22] alkaphreak opened #102 "ihatemoney.org unreachable"
Does the dns entry are still alive ?

[2013-04-25 08:12] #102 closed, assigned to nobody

[2013-05-08 02:36] #99 closed, assigned to nobody

[2013-05-08 02:40] almet opened #103 "Add a stats tab"
Having a "statistics" tab would probably be valuable, so we can see who spent what, and what's the evolution for the last months, for instance.

[2013-05-08 02:40] #95 closed, assigned to nobody

[2013-05-08 02:43] #92 closed, assigned to nobody

[2013-06-19 15:35] almet opened #104 "ZeroDivisionError: float division by zero"
https://sentry.lolnet.org/ihatemoney/group/249/

[2013-06-19 15:36] almet opened #105 "TypeError: object of type 'NoneType' has no len()"
https://sentry.lolnet.org/ihatemoney/group/244/

[2013-07-15 15:01] almet opened #107 "Why we're saying NO"
Here's a good article explaining why it's good to say "NO".
http://insideintercom.io/product-strategy-means-saying-no/

[2013-07-15 15:01] #107 closed, assigned to nobody

[2013-08-06 18:52] astorije opened #108 "Minimalist index page"
It would be nice to be able to disable the demo project, as well as the public ability to create new projects. This could be handled in `settings.py`.
I would love to implement this feature but I prefer to have the general opinion about this. Any suggestions?

[2013-08-08 16:06] astorije opened #109 ""Internal Server Error" when creating a new project"
Hi,

When I create a new project, I get an Internal Server Error.

It seems to come from a problem when sending emails. My server (Debian Wheezy) is brand new, basically there is only nginx (and gunicorn in a virtualenv) on it. No mail server as sending emails was not needed so far.

When looking at the [Flask-Mail documentation](http://pythonhosted.org/Flask-Mail/#configuring-flask-mail), we can

[2013-09-26 09:57] almet opened #110 "Add a way to remove old and unused projects"
Should add a script able to have a look at the old projects and remove them.

[2013-09-26 09:58] almet opened #111 "After some inactivity, prompt the owner that the project will be deleted."
We have a lot of projects that had been created but not used anymore. We should get rid of them.

[2013-09-26 09:59] almet opened #112 "Add a way to sort projects in the dashboard"
Currently, when you access /dashboard you have some stats but that's not possible to sort them so they're pretty useless.

[2013-10-12 15:12] aavenel opened #113 "Go responsive !"
ihatemoney is currently broken on mobile display. It's quite unusable even just to add a bill.

With all the improvements in bootstrap 3.0, it should be possible to provide a better experience !

Any thoughts about this ?

[2013-10-17 11:40] #104 closed, assigned to nobody

[2013-10-17 11:41] #105 closed, assigned to nobody

[2014-07-21 20:39] aavenel opened #116 "Bug : rounding errors in balances"
![bug_rounding](https://cloud.githubusercontent.com/assets/303767/3649894/c53d8c90-1116-11e4-811f-7804071b2bac.png)

Person A has paid 112,00 and was given 112,00 by person B. Balance should be 0,00 and not 0,02.

[2014-07-22 18:46] aavenel opened #118 "Create a new project "dashboard" mess up ihatemoney"
Begin a new project with the name "dashboard" generate an error, but it still created.
The project is of course unattainable.

I'm not sure about the right way to fix this :
- check if the name is different from "dashboard" at creation (quite ugly, but do the job)
- map url to ` /project/<project_id>/` instead of `  /<project_id>/`

IMO the second solution is better but every people who use ihatem

[2014-07-22 18:55] #116 closed, assigned to nobody

[2015-04-15 19:32] #118 closed

[2015-04-16 13:14] ametaireau commented on #113
I believe it's quite easy to accomplish, it's just a matter of updating the theme in order to have the latest bootstrap which is responsive.

[2015-04-16 13:15] ametaireau commented on #109
This is not related to ihatemoney directly, but to your setup. You need to install correctly a postfix on your machine, or configure it to use a SMTP relay.

[2015-04-16 13:15] #109 closed

[2015-04-16 13:18] ametaireau commented on #108
So, if I understand correctly, the idea would be to only have one project, and disable the possibility to create new projects. Is this correct?

If yes, then I believe we should add new settings (`DISABLE_PROJECT_CREATION` and `DEFAULT_PROJECT_NAME`). and change the routing based on that, plus disable some endpoints depending on the settings.

@astorije do you still need this?

[2015-04-16 13:19] ametaireau commented on #94
Where are we with this? @aavenel do you want to work on it?

[2015-04-16 13:21] ametaireau commented on #94
Another possibility is to add this coefficient information to the list of people (e.g. that would work for couples).

This seems to minimize the complexity (no change when adding the new bills) and could only when editing the users (not sure exaclty how to do that, though).

[2015-04-16 13:22] ametaireau commented on #55
What should we do with this?

[2015-04-29 12:13] JocelynDelalande opened #120 "AssertionError on project creation"
I tested it in two different machines, one with Debian Wheezy, the other with jessie, using virtualenvs.

Steps to reproduce :

- Install ihatemoney last master, as recomended in the README
- put a *budget/settings.py*  with the following contents :

[code]
- Try to create a projet
- bang ! `AssertionError: The message does not specify a sender and a default sender has not been configured`

A stac

[2015-04-30 15:06] JocelynDelalande commented on #120
My bug report was inacurate, this has nothing to do with **TESTING** setting , but with #121.

I close this one, the hot spot being on the pull request #121.

[2015-04-30 15:06] #120 closed

[2015-05-21 13:19] QuentinRoy opened #125 "Canceling autocomplete with 'esc' cancels the bill too"
This issue is related to #124.

I dont think it is possible to check if the browser is displaying autocomplete propositions (I could not find how).
Thus, there is three alternatives to solve this bug:
1. Removing autocomplete. However #124's discussion raises some objections against this solution)
2. Removing bill cancelation when the user presses the escape key. It is probably not what we want ei

[2015-07-25 14:15] Gbury opened #127 "Worker process raises TabError"
I tried to run the server on my machine and ended up with a rather long list of TabErrors (full error output available at: http://gbury.eu/public/error_log.txt ). It seems to be an error that came with python3, which forbids use of both tabs and spaces for indentation.

[2015-07-27 12:48] ametaireau commented on #127
Ah yeah, it's not compatible with python 3 I believe. I'll be happy to review / merge changes to go in this direction though!

[2015-07-30 08:46] tigre-bleu opened #128 "Apache instructions"
It would be nice for the "average administrator" to have a document explaining the steps to install the application with apache.

The curent steps are imho not so easy to understand.

[2015-07-30 09:11] ametaireau commented on #128
Hi!

I don't install with Apache so I cannot really help here. However, I can paste the NGINX configuration and put it in some settings if that makes it easier for you and others.

Otherwise, would you like to contribute a documentation about how to deploy with Apache?

[2015-08-18 11:02] JocelynDelalande commented on #94
+1 for the proposition of coefficients on users, I think it's a rather light feature in terms of UI, for same reasons that @berteh mentioned.

Another use case, which is quite complicated to handle without software and fits nicely with user coefficients :

- John, Mag and Bob go on holidays together
- John stays 3 days, Mag 2 days and Bob 2 days, they log their bills on IHM.

Assigning weights bas

[2015-08-18 16:32] ametaireau commented on #94
I've updated the title of the issue. I think the other proposal (in-bill coefs) is a no-go based on the feedback we currently have.

[2015-08-20 08:35] JocelynDelalande commented on #94
I started working on it.
As it implies schema modification, one question that remains IMHO before merging is how to handle migrations, see https://github.com/spiral-project/ihatemoney/issues/83

[2015-08-20 08:44] JocelynDelalande commented on #83
I'm not yet very familiar with flask, but I see two libs to do that :

- https://github.com/stackforge/sqlalchemy-migrate
- https://pypi.python.org/pypi/alembic

Both seems active, if someone more experimented on flask has an opinion on it, it would be handy :), as well as pointing out some software that nicely integrate those libs.

Coming from Django world, I find the migrations library for SQLA

[2015-08-20 09:44] JocelynDelalande commented on #94
UI proposal for users list

![screenshot-localhost 5000 2015-08-20 11-41-28](https://cloud.githubusercontent.com/assets/429633/9380467/aa7d09ac-4730-11e5-9a7f-88913156720e.png)

I suggest hiding the coefficient if everyone is x1

[2015-08-20 09:55] aavenel commented on #94
Looks good for me, but how do you define the coefficient for each user ?

[2015-08-20 10:02] JocelynDelalande commented on #94
Coming later, work in progress :)

[2015-08-21 03:37] JocelynDelalande commented on #86
Has it been fixed since ? I can't reproduce, even adding time.sleep(2) on backend view so that it takes long to respond

[2015-08-22 08:43] JocelynDelalande commented on #94
UI proposal for the users list to access member form
![screenshot-localhost 5000 2015-08-22 10-40-53](https://cloud.githubusercontent.com/assets/429633/9423202/9c477fb2-48ba-11e5-9bfe-e57a4cb9f770.png)

[2015-08-23 16:01] QuentinRoy commented on #86
It seems very unfixed in the ihatemoney.org version (I just clicked multiple times on the submit button).

![screen shot 2015-08-23 at 17 54 28](https://cloud.githubusercontent.com/assets/728801/9428970/c864d868-49c0-11e5-9069-6f26c64e41d7.png)

[2015-08-24 10:06] ametaireau commented on #86
Current deployed version is 42dd9d54a89b7ef8a015b20d8a979e835fa87b09. Also, this issue is not fixed in master.

[2015-08-24 10:07] ametaireau commented on #86
Changes since last deploy: https://github.com/spiral-project/ihatemoney/compare/42dd9d54a89b7ef8a015b20d8a979e835fa87b09...master

[2015-11-08 19:45] JocelynDelalande commented on #83
any input on that ?

[2015-11-09 08:24] almet commented on #83
I won't invest time on this project to develop new features like this, unfortunately. Feel free to take it if you need it! I'll hapilly review and provide feedback if needed.

[2016-01-31 11:36] Natim opened #132 "Let people modify the notification email content"

[2016-01-31 11:36] Natim opened #133 "Split emails on new line, coma, and semi-column and trim them."
In the invitation form, it's possible to enter a list of emails. Currently, they are only coma-separated, but they could also be split with new lines and semi-columns.

Also, they could be trimmed.

[2016-01-31 11:38] Natim opened #134 "Be able to configure the number of person in the person list."
When going with couple, you want to count 2 people for some names and 1 for some other one.
Another way do to that would be to merge group people on the settle page to remove money transfert between people of the same couple for instance.

[2016-01-31 11:43] almet commented on #134
I believe this is a dupe of https://github.com/spiral-project/ihatemoney/pull/131.  Closing.

[2016-01-31 11:43] #134 closed

[2016-02-02 13:20] Natim opened #135 "Add the language code in the URL or in a cookie so that we can keep it between session."
It could be nice to be able to save the bookmarked in the right language.
For each new session it's back to english.

[2016-02-03 17:30] Natim opened #136 "Display statistics as a graph"
It could be nice to have a summary tab with information about what everybody did pay and did spend as well as the total of expenses for the group.

[2016-02-03 17:47] almet commented on #136
What would that look like?

[2016-02-05 17:41] Natim opened #137 "Add the ability to pay from the "settle" page"

[2016-02-05 17:43] Natim commented on #136
![solde-demo](https://cloud.githubusercontent.com/assets/229453/12854164/5baa1206-cc38-11e5-8603-cba6a4a14ad7.png)

I was thinking of something like that.

[2016-02-06 12:01] almet commented on #136
That's really cool! I think we could even provide this information [as a graph](https://wpoely86.github.io/D3.js-Diverging-Stacked-Bar-Chart/) (Diverging stacked bar chart)

[2016-02-06 12:09] almet commented on #137
If someone is deleted and doesn't have a balance of 0, then it will only be deactivated. It means that it's not possible to add her in the next expenses, nor it's possible to delete the person.

To mark the account as settled, you would need to reactivate the person, set the balance to 0 via a transfer and then delete the person again. That might not be ideal.

Instead, we could add a link to have

[2016-02-08 08:06] Natim opened #138 "In the settle page remove exchanges of values: 0"

[2016-02-08 08:08] Natim commented on #137
No that is not related to the remove button. I did it adding transfert as a new expense.
It works but it might be useful to automate it in the settle page.

Like ``Lea paid 50€ to Robin`` she still have got to pay 30 to Mathilde.

[2016-02-08 10:03] QuentinRoy commented on #137
To be honest I always found this mechanism confusing and over-complicated.

I wonder if the best solution could just to forbid the “deletion” of a member when his balance is not null.

[2016-02-08 10:12] QuentinRoy opened #139 "Between Members Transfer registration"
Another common type of transaction is transfer between members: (e.g. Sarah gave 10 euros to George).
This type of transaction is actually almost required if one wants to zeroes her balance before leaving for example.

One trick that can be used (and that I saw myself using several times) is to register a bill in the form of Sarah paid 10 for George (only). However, it really looks like a trick. I

[2016-02-08 10:34] Natim commented on #134
Yes it might be, should we merge it?

[2016-02-08 10:51] Natim commented on #137
This issue is not about deleting the user from the list. It is about making her pay what she needs to pay to someone and marking her account has sold.

[2016-03-31 21:22] tomfitzhenry opened #140 "Make 'Private code' and 'Email' optional"
When I create a new project, I just want to give my shared expenses a name (e.g. "Christmas 2015 holiday"), and get started. The private code could be generated, and included in the URL, which I'll send around to friends via our existing comms channels (whatsapp or whatnot). What's the rationale for requiring a secret code and email address?

[2016-04-03 19:22] almet commented on #140
That's actually a good idea! I would be thrilled to see the project moving forward in this direction. Do you want to work on it? Do you need some guidance?

[2016-05-31 12:12] #83 closed

[2016-06-15 07:12] JocelynDelalande opened #142 "budget.run.main() is run twice"
log says :

[code]

… Which seems like duplicate code execution.

And in fact, if I fire up a debugger, I pass twice at the same point with this exact same stack :

[code]

Which is odd.

[2016-06-15 08:35] JocelynDelalande opened #143 "Add NOT NULL to many fields"
_budget/models.py_ is quite lazy about SQL required fields.

Most of fields are mandatory but not marked as such in the SQL scheme.

The TODO is to add `nullable=True` to relevant several fields in models.py

[2016-08-18 15:43] JocelynDelalande opened #146 "http*s* hosted website is down"
From [doc](https://ihatemoney.readthedocs.io/en/latest/api.html) :

That is a good idea :)… However, https://ihatemoney.notmyidea.org/ does not work.

[2016-08-18 15:51] JocelynDelalande commented on #146
Closing, the issue was barely that domain changed, see #147

[2016-09-04 18:54] JocelynDelalande opened #149 "Switch to AngularJS/ReactJS"
Hi,

@almet just to know what you would think about switching to a single-page-app framework like AngularJS, ReactJS… Goal is to get better experience for the user (#113 will help that also). The REST API would allow us to switch to this approach quite easily.

I'm not asking anyone to do it. I just would like to know, if I PR that kind of **big** change, would it be welcome or not ?

@almet ?

[2016-09-04 19:14] almet commented on #149
Il will, yes!

I am thinking that using kinto.js would be interesting

Le 4 septembre 2016 20:54:46 GMT+02:00, JocelynDelalande <notifications@github.com> a écrit :

[2016-09-12 12:27] fredericsureau commented on #45
I'm such a silly user! I want to add a negative bill to represent money I've stolen from the virtual wallet.
Currently, you can only represent money people owe you.
Negative values is one (simple) way to represent money you owes other people.

[2016-09-12 12:34] fredericsureau commented on #45
Corresponding pull request #150

[2016-09-12 16:42] almet commented on #149
Do you plan to work on this or were you asking just out of curiosity? :-)

[2016-09-13 09:24] almet commented on #146
It's now HTTPS on ihatemoney.org

[2016-09-13 09:24] #146 closed

[2016-09-13 09:25] almet commented on #140
Bump ! Would you like to work on such an addition?

[2016-09-22 21:25] Vincent14 opened #152 "Recurring bills (ISP, electricity, water, charges...)"
I would know if it's possible to add bills that could have a frequency (every day/week/month//year)?

[2016-09-22 21:28] Vincent14 commented on #113
I agree, I need this!

[2016-09-23 15:25] JocelynDelalande commented on #113
@Vincent14 Feel free to submit a PR :-)

[2016-09-23 15:36] JocelynDelalande commented on #149
I'd like to work on it, but I doubt that I will manage to find the time to.
 However, if that miracle happen… It's good to know that contribution will be received with enthusiasm and not trashed away :-)

[2016-09-24 17:55] aavenel opened #153 "Path doesn't exist: 'migrations'"
Hi,

I tried to clone the repo from scratch and execute the usual steps :
[code]

Unfortunatly, I'm getting an error :

[code]

Should I execute another command to get started ?

[2016-09-25 13:37] JocelynDelalande commented on #153
@aavenel reproduced your steps ; it works for me (on a fresh clone, no pre-existing venv).

However I was able to reproduce your error if I run `python budget/run.py` (so from the parent directory), are you sure you are inside the *budget* dir when you run the command ?

[2016-09-25 14:31] aavenel commented on #153
That was it ! I should have read the doc more carefully ...
Thanks @JocelynDelalande !

[2016-09-25 14:31] #153 closed

[2016-10-04 22:25] JocelynDelalande commented on #45
@almet please close as #150 is merged :-)

[2016-10-05 09:06] #45 closed

[2016-10-19 19:09] FabriceSalvaire opened #157 "Ported to Python 3"
see https://github.com/FabriceSalvaire/ihatemoney

tests.py is broken

[2016-11-01 11:26] Djabal commented on #152
That will be very convenient !

[2016-12-30 16:02] zorun commented on #138
I saw this happen too when transferring money to settle things manually (see #139 ).  The "Settle" page then has some lines with an amount equal to 0.00.

I think it may be related to rounding issues (i.e. the amount is displayed as "0.00" but is actually equal to e.g. 0.000001).

[2016-12-30 16:11] zorun commented on #138
This causes the issue: https://github.com/spiral-project/ihatemoney/blob/master/budget/models.py#L219

The amount of a bill should be a Decimal object instead of a float, see https://docs.python.org/2/library/decimal.html

SQLAlchemy seems to support Decimal objects, however it would require a database migration: http://docs.sqlalchemy.org/en/latest/core/type_basics.html#sqlalchemy.types.Numeric

[2016-12-30 16:13] Natim commented on #138
We can also round it for the comparaison to avoid database migration

[2016-12-31 10:33] zorun commented on #94
I guess this issue can be closed, it has been implemented by #131 :)

[2016-12-31 12:08] zorun opened #159 "Optimise SQL queries"
A project with a few hundreds bills loads quite slowly: rendering the `list_bills` view takes several seconds.

Debugging with the Flask toolbar, it seems that the number of SQL queries issued by `list_bills` is very high: number of bills * number of owers.  For instance, with 100 bills and an average of 5 owers for each bill, there will be 500 SQL queries.

See also #156 for some initial thoughts

[2016-12-31 12:50] zorun commented on #159
Most of the SQL queries are actually done by the sidebar, presumably to compute the balance.  The list of bills itself generates approximately one query per bill (which is still too much).

[2017-01-01 14:26] berteh commented on #94
love it, and the simple way you handled it. congrats.

[2017-01-02 12:36] zorun opened #163 "'test_unprefixed' test fails"
One of the test of the testsuite fails to pass:

[code]

What's strange is that when I do the same query manually, I do get a 303 HTTP code:

[code]

@JocelynDelalande any idea?

[2017-01-02 13:36] zorun commented on #138
@natim yes, that would work for this issue, but similar hackish solutions would be needed elsewhere.

I tried to switch to a Numeric datatype, but it does not seem to solve the issue.  This warning may explain why:

[code]

Basically, when using sqlite3, it's still using floats inside the database, so rounding errors still occur.

Another solution could be to switch to integers (as suggested by th

[2017-01-02 14:03] aavenel commented on #138
This is not the first time we have some issues about rounding.  See #126

I agree with @zorun, if we can't use Decimal, the proper fix would be to store the amount as an integer. However, this requires some database migration. Perhaps it's not worth it and we can add a round() like @Natim suggested.

[2017-01-02 14:19] zorun opened #165 "Stop using floats to avoid rounding issues"
Using floats for bill amount leads to all sorts of rounding issues, see for instance #126 and #138.  Basically, computations with floats are not exact, because it is not possible to represent exactly some decimal numbers in a binary system.  For instance with python 2.7.13 and 3.5.2:

[code]

One solution would be to use a [Numeric](http://docs.sqlalchemy.org/en/latest/core/type_basics.html#sqlalc

[2017-01-02 14:21] zorun commented on #138
@aavenel Yes, it's a large change, and it would bring other issues.  I have moved the general discussion to a new ticket #165

The initial issue should be fixed by #164

[2017-01-02 18:59] #94 closed

[2017-01-02 21:42] aavenel commented on #152
This could be useful ! However, it's not really clear how do we implement this. Mockups are welcome.

Although it's quite difficult to configure, it's possible to do this now using the API.

[code]
Note your member id, as it it required to configure the next request.

[code]

If you omit the date field, we will use the current time at bill's creation.

You can find the documentation of the API her

[2017-01-09 09:23] JocelynDelalande commented on #165
@zorun thanks for taking time to explain the issue, I learnt things :-)

[2017-01-16 20:13] #138 closed

[2017-01-17 08:34] #163 closed

[2017-01-29 16:13] JocelynDelalande opened #168 "Update to bootstrap 4"
we are currently using bootstrap2. Bootstrap 4 is currently alpha, but close to beta, which will be followed by a final release.

So I propose to jump directly to bootstrap 4 (of coulrse, we may wait for final release of BS4 to merge such a PR). BS4 introduce nice things like the use of flexbox for positioning.

I started to work on it ; nothing that I'd be proud enough to show code yet, but here

[2017-01-29 16:16] aavenel commented on #168
I strongly approve this ! If I can help with something, let me know.

[2017-01-29 16:29] JocelynDelalande commented on #168
@aavenel I'll let you know when it will come to testing :)

Note that BS4 means dropping support for some old browsers like IE9.

[2017-01-30 22:39] JocelynDelalande commented on #168
Notes for myself, what will be changed with the BS4 PR:

- better factorization of templates
- fix moving elements (ex: try switching from project page to home page, things in sidebar are moving)
- improve readability
- fix misaligned elements
- make more use of BS grid system
- responsive design

I'm afraid my git log will be quite non-atomic :-s

[2017-02-01 18:02] JocelynDelalande opened #170 "Remove dead code for archive creation"
While working on #168 I stumbled uppon the « create archive » feature, which seems to do nothing.

It seems like something half-implemented ; should we remove that dead code from code base ?
@almet  ?

[2017-02-01 21:16] almet commented on #170
Hey, I don't remember anything about this to be honest, so I would suggest you remove it, yes!

[2017-02-01 21:22] #159 closed

[2017-02-01 21:38] almet commented on #168
That looks exciting, thanks for your work on this :)

[2017-02-01 21:42] almet commented on #165
Hi, thanks for taking the time to explain this so precisely!

I would personally go in this direction: we don't really care about cents here, since they're cents (and that would make no real difference) and they are used only for display (as a way for users to roughly know the parts).

[2017-02-01 21:43] almet commented on #157
I'm closing this since it's getting tracked in #158

[2017-02-01 21:43] #157 closed

[2017-02-01 21:45] almet commented on #152
We've not implemented this in the current version of the software in order to keep things easy to grasp (and the UX simple), but I can see why this would be useful.

As @aavenel says, mockups (or implementations!) would be welcome for this. For now, I don't think anyone volunteered.

[2017-02-01 21:46] almet commented on #142
Do you know if this is still the case?

[2017-02-01 21:49] almet commented on #139
I don't really see this as a trick: if Sarah paid 10 for George, well, it seems easy enough, isn't it? I'm closing for now, feel free to reopen if you disagree.

[2017-02-01 21:49] #139 closed

[2017-02-01 21:52] almet commented on #137
Thanks for the proposal. What I understand is that you want a button, that could appear on the "settle" page which would add a new bill with the payment from one person to the other. Is that correct?

Would you like to work on an implementation for this?

[2017-02-01 21:53] almet commented on #135
That's a good idea! Would you like to work on a fix?

[2017-02-01 21:54] almet commented on #133
That would be a welcome addition!

[2017-02-01 21:55] almet commented on #132
For security reasons, I would prefer to let this automated, otherwise it could be used to send spam. Closing for now.

[2017-02-01 21:55] #132 closed

[2017-02-01 21:55] #128 closed

[2017-02-01 21:55] almet commented on #127
See #157

[2017-02-01 21:55] #127 closed

[2017-02-01 21:56] almet commented on #125
I think option 2 is what makes the most sense here.

[2017-02-01 21:58] almet commented on #111
I believe we should just state somewhere that accounts will be deleted after some inactivity, plus a script to automate it.

[2017-02-01 21:59] almet commented on #110
Dupe of #111

[2017-02-01 21:59] #110 closed

[2017-02-01 21:59] almet commented on #108
Gentle bump on this. Anyone would like to volunteer on this?

[2017-02-01 22:01] almet commented on #103
Duplicate of #136

[2017-02-01 22:01] #103 closed

[2017-02-01 22:02] almet commented on #89
Should we get this done?

[2017-02-01 22:02] almet commented on #86
Fixed, closing.

[2017-02-01 22:02] #86 closed

[2017-02-01 22:04] almet commented on #64
I believe we won't do that for now (but it could be part of a complete redesign).

[2017-02-01 22:04] #64 closed

[2017-02-01 22:05] almet commented on #55
@aavenel , I know it's a conversation from the past, but do you have something done for this? Would you like to fix this?

[2017-02-01 22:09] #18 closed

[2017-02-02 09:38] JocelynDelalande commented on #170
So let's keep this issue open as a reminder :-)

[2017-02-02 09:57] JocelynDelalande commented on #168
@aavenel actualy, I'm pretty close to something on this topic, but responsive could come in a second time, so I won't include responsive things in this PR ; however it will be made easier by BS4.

So, to reconsider your question:

Is the adding of responsive code for small srceens (using BS4) something you would like to code ?

[2017-02-02 10:01] aavenel commented on #168
@JocelynDelalande I've close to no experience in this kind of development, but I can give it at try. Can you push a WIP PR so we can have a look at the code ?

[2017-02-02 10:32] JocelynDelalande commented on #111
suggestion if that gets done at some point : send an email a month or so before deletion.

[2017-02-02 10:36] JocelynDelalande commented on #142
Likely, but I'd have to test it again (or someone else), please leave open meanwhile.

PS: Thanks for the big triaging work !

[2017-02-02 12:32] almet commented on #170
Yep! I updated the title.

[2017-02-12 21:20] astorije commented on #108
Hi @almet! Sorry, there is an extremely low chance I'd be working on this in any foreseeable future as I'm already involved in way more projects than I can handle at the moment.
Anyone willing to contribute, I'd be happy to discuss/add details/give 2c if that's any useful.

Feel free to close this if you think it's not a reasonable idea anymore.

[2017-02-14 21:32] JocelynDelalande opened #173 "XSS vulnerability on list_bills"
It seems that someone happily & successfully tested a XSS on the list_bills view. See screenshot.

![xss](https://cloud.githubusercontent.com/assets/429633/22950310/6f03ceba-f305-11e6-8389-e8d7d9ca02f3.png)

I disabled the XSS-ing buddy and removed it from the bills where it was on the demo project to avoid bothering visitors, but the bug remains.

[2017-02-14 22:18] aavenel commented on #173
The XSS seems to be caused by this line
`        html.append(u'<p><label for="%s">%s<span>%s</span></label></p>'
            % (choice_id, '<input %s /> ' % html_params(**options), label))`

in _forms.py_

We should use template instead of writing html like this. I don't have time to fix this tonight so if somebody wants to submit a PR, you're welcome :)
PS : there is also some unescaped parameter

[2017-02-21 23:31] #173 closed

[2017-02-21 23:37] JocelynDelalande opened #175 "Do a complete review to remove XSS"
It's highly probable, even after @aavenel fixed on of those (see #173)  that XSS are still possible in Ihatemonney.

Anyone for a complet review ? See @aavenel comment here : https://github.com/spiral-project/ihatemoney/issues/173#issuecomment-279854242 for some leads on how to fix those.

[2017-03-04 10:00] Jojo144 opened #177 "Rename delete to deactivate"
I suggest renaming 'delete' / 'supprimer' a person by 'deactivate' or 'disable' / 'désactiver' it. Otherwise, it is very hard to know that it is possible to reactivate it afterwards.
By the way, this feature is very nice!

[2017-03-04 17:29] 0livd commented on #108
I'd like to work on this one but I'm not really sure of the implementation. In my opinion the main issue is that if you host ihatemoney on a public server, anyone can create new projects and manage their expenses on your instance. As @astorije said, this could be solved by adding a new parameter in settings.py so that new project creation will require a password (also specified in settings.py). It

[2017-03-06 21:38] 0livd commented on #108
I made a WIP commit to show how i would implement it. This adds 2 new settings, PUBLIC_SERVER and PUBLIC_SERVER_PASSWORD. When PUBLIC_SERVER is set to True, the server password must be provided to create a new project and the demo project is no longer a special project.
Here PUBLIC_SERVER is set to True for the example but it should set to False by default.
Tests are broken in this commit
Any comm

[2017-03-07 23:06] almet commented on #108
Hi, thanks for taking the time to work on this, I believe it will be useful to others :)

Here are a few comments:

I find the name "public server" unclear. A name like "AUTHORIZE_PROJECT_CREATION" seems to better  explain what the intent is.

to be honest, I'm not so clear about what we are trying to achieve exactly here. If we want to have a way for the administrator to control the creation of n

[2017-03-08 21:37] almet commented on #177
Hi, would you like to contribute the change ?

[2017-03-11 11:38] almet commented on #168
This is now fixed by #172

[2017-03-11 11:38] #168 closed

[2017-03-11 11:39] almet commented on #28
This is now done thanks to @0livd in #176.

[2017-03-11 11:39] #28 closed

[2017-03-13 19:02] almet commented on #165
cc @feth in case you want to have a look.

[2017-03-14 18:52] 0livd commented on #142
It seems to be a normal behavior of flask when run in debug mode and with the reloading functionality
http://stackoverflow.com/a/25504196

[2017-03-14 19:03] almet commented on #142
Thanks, thats good to know ! Closing.

[2017-03-14 19:03] #142 closed

[2017-03-15 00:35] JocelynDelalande commented on #142
@0livd thanks for the link <3

[2017-03-15 08:23] Jojo144 commented on #177
I know the change is less that 5 lines so I could do that.
But I didn't manage to setup the test environment in few minutes.
So I prefer to decline for the moment, I am very busy those days.
I'll do it later if nobody act before ...

Le 08/03/2017 à 22:37, Alexis Metaireau a écrit :

[2017-03-15 20:02] 0livd commented on #170
The thing here is that deleting the archive table in the database model is not as trivial as it seems. In the existing migration scripts, the constraint between the bill and the archive tables is created without a name (the name parameter for sa.ForeignKeyConstraint is optional) so a random name is automatically generated by the underlying database engine. The problem is that constraint alteration

[2017-03-15 21:39] almet commented on #170
For reference, here is the commit that introduced the archive feature: https://github.com/spiral-project/ihatemoney/commit/801802836a648ac0865c1c932e3cf9a01e3a639e

@0livd thanks for the investigation, and sorry to hear that this 6-years-younger myself did cause this trouble ;-) I guess what you're proposing is the way to go, at least until we come up with a better solution!

[2017-03-18 16:51] JocelynDelalande opened #180 "start making releases"
I was thinking, what about starting making tagged releases  (or even just tagging on github) ?

It's a bit of work, but it would :

- make the install process a bit easier
- simplify third-party packaging (I'm thinking about https://github.com/YunoHost-Apps/ihatemoney_ynh )
- force us to keep track of changes in a ChangeLog

What do you think ?

[2017-03-18 22:55] almet commented on #180
I'm in favor of releases as well :-)

[2017-03-20 12:10] almet commented on #113
In case anyone is wondering, we now have bootstrap 4 support, but are not fully rezponsive yet!

[2017-03-20 13:00] #170 closed

[2017-03-21 00:21] brubrant opened #183 "Fix Layout on Mobile"
Hi,

After the update to TWBS 4 the it's hard the use the App on mobile. I use it a lot on my smartphone (right after I pay a bill that is shared) and now it is very hard as the "Add new Bill" is hidden under the navbar.

Looks like a problem with the columns on them (a ROW wrapping them may be necessary). Adding the row wrapper fix a bit, buy the maybe better to hide some elements that are making

[2017-03-21 08:07] JocelynDelalande commented on #183
@brubrant ihatemoney is simply not responsive at the moment. It still a task that has to be done by someone, see #113 .

Help on this point is more than welcome, by the way :-)

[2017-03-21 08:07] JocelynDelalande commented on #183
duplicate of #113

[2017-03-21 08:07] #183 closed

[2017-03-21 08:13] JocelynDelalande opened #184 "Use tox to allow devs to test against multiple python versions"
Now that we have python3 compatibility…

Currently, [travis tests against multiple python versions](https://github.com/spiral-project/ihatemoney/blob/master/.travis.yml#L2-L4). But locally, the developper does not have the tools to run the test suite against different python versions.

[Tox](https://tox.readthedocs.io/en/latest/) may be the way.

[2017-03-21 10:31] almet commented on #184
Yes, tox is the graal here. See how it's done in the Kinto project: https://github.com/Kinto/kinto/blob/master/tox.ini

[2017-03-21 16:19] almet opened #187 "Have a way to externalise the settings"
Currently, the settings file needs to be in the same directory as the source, which is a problem when you want to package it properly.

We've yet to find a solution for this, any help is welcome on the topic :)

[2017-03-22 17:19] 0livd commented on #187
We could use instance folders for this and put the configuration in something like /etc/ihatemoney/ihatemoney.cfg
http://flask.pocoo.org/docs/0.12/config/#instance-folders

[2017-03-22 21:32] almet commented on #187
Thanks for the pointer. It seems that the current source code uses the `FLASK_SETTINGS_MODULE` environment variable to define where the settings module should be, so it might just already work, but this has yet to be verified in practice.

[2017-03-28 22:03] #184 closed

[2017-03-31 15:06] JocelynDelalande commented on #113
@aavenel still interested to responsibilize ihatemoney now that it's using BS4 ? :-)

[2017-04-01 09:04] JocelynDelalande commented on #180
We now have a mechanism for making realeases (#182) … But we still didn't produce any.

@almet ok if I release a 1.0 with current code ? I would use the tagging mechanism you set but I won't release this version on pypi (for reasons we discussed [before](https://github.com/spiral-project/ihatemoney/pull/182#issuecomment-289809693)).

To tell the full story, I need a tag/release to improve [the yun

[2017-04-02 15:12] almet commented on #180
I think the thing we need now is a roadmap :-)

if you need a release, make one, for sure! I would probably wait us to merge the settings change before 1.0 though. So maybe 0.9 ? And we can issue 1.0 shortly after once ready.

[2017-04-04 13:50] JocelynDelalande opened #194 "`make release` is broken on dependencies"
Just tried to issue a `make release` (see https://github.com/spiral-project/ihatemoney/issues/180#issuecomment-290907313).

It's failing with :
[code]

It seems that the release venv is lacking some dependencies (zest.releaser is not pulling some things it needs). I managed to fix it by hand adding those to *dev-requirements.txt*:

[code]

… But that seems a little weird to me to have to do that.

[2017-04-04 14:15] JocelynDelalande commented on #180
Ok, just released [0.9](https://github.com/spiral-project/ihatemoney/releases/tag/0.9) despite #194 .

I leave this issue open for a few days, to see if this release process is ok for now or if we have comments/improvement suggestion.

I followed strictly what our README.md release section. The *zest.releaser* wizard is pretty clear (I answered *yes* everywhere except for pypi release).

What I'd

[2017-04-04 14:37] JocelynDelalande opened #195 "Better document SECRET_KEY tunning on a production instance."
Currently, we don't warn boldly people installing ihatemoney to change `SECRET_KEY` with a random string. Thus, blindly following README leads to insecure installation with a SECRET_KEY set to *tralala*.

We must improve doc on that topic.

[2017-04-04 19:32] almet commented on #195
What we did on kinto was to provide à tool to generate the settings file maybe we should do the same here ?

[2017-04-07 15:34] 0livd opened #196 "Move tests away from the budget directory"
We should put the tests in a test directory so it's cleaner and more flexible e.g. having separate files for configuration tests, separate the tests in multiple files, ...
We won't be able to run the tests with python tests.py anymore because of import errors but unittest has a discovery module to handle such cases `python -m unittest discover` https://docs.python.org/2/library/unittest.html#test-

[2017-04-08 07:57] JocelynDelalande commented on #196
Why cleaner ? tests are part of the software, having them belonging to `budget.tests` seems the right way to me :-)

Good practices indeed. A *budget/tests* folder does the job also for that :)

[2017-04-08 11:16] almet commented on #196
I actually quite agree that tests should be in a python folder rather than in a simple file.

That being said, I don't have any strong opinion about having them in or out the `budget` module itself. I know that we've been discussing this for the [pelican](https://github.com/getpelican/pelican) project at some point and decided to include the tests in the same python package to ease packaging (it s

[2017-04-08 11:33] almet commented on #194
It seems this could be related to the version of pip you're using with Debian Jessie. One way to solve this is to upgrade the pip version that is installed in the virutalenv before actually installing the dependencies. I'll make a patch for this.

[2017-04-09 11:18] almet commented on #108
Gentle bump on the topic.

If anyone got ideas about which direction we should take, dont hesitate to comment so we can go further on this. Thanks !

[2017-04-09 19:52] JocelynDelalande commented on #194
Oh, nice :-)

Do you mean patching the upstream lib or patching our README to mention that pip must be upgraded ?

[2017-04-09 21:55] almet commented on #194
I was thinking patching the makefile :-)

[2017-04-10 10:23] almet commented on #194
Can you give #197 a try on a clean venv @JocelynDelalande ? It's supposed to install the venv, then upgrade pip and then install the dev dependencies and dependencies. Let me know if that works better.

[2017-04-10 11:54] Toover commented on #113
As a new user, I was also deceived by the impossibility to use the web app on my mobile with the default configuration. I had to display it as if I was a computer, and in landscape mode, to workaround the issue where we cannot add a bill. However I don't care about seeing a "responsive design": fixing the issue is all this web app needs.

[2017-04-10 12:38] almet commented on #113
Thanks for taking the time to comment in here, feedback is always valuable.

You're right, this is problematic. The thing is that currently, nobody volunteered to make this happen, which is why you're facing the issue you're describing. If you want to help fix the issue or if you know someone who will be willing to, don't hesitate to propose some code changes, I'll happily review and eventually me

[2017-04-10 15:01] Toover commented on #113
I have had a look around the code and it seems that a good solution would be to let the navigation bar to be to stay on top of the page, instead of floating on top of the view. Another one would be to make sure all buttons of the navigation bar are dropdown to save space, so that the current space calculation is right. Is there one of the solutions better than the other for you?

[2017-04-10 16:11] almet commented on #113
thanks for the proposition, I don't understand the proposition about the dropdown in order to save space, though.

The idea to not have the navigation bar on top might work, yes! It might also be possible to hack something together that would let it on mobile, but thiner in order to not get in the way. What do you think?

[2017-04-10 17:11] Toover commented on #113
About the drop down: the top navigation bar was always expanded, so it was covering the forms at the top of the page (like "add bill"). I figured out that with "bootstrap", you it is quite easy to have a drop-down menu that is collapsed by default, so that it only covers the top of the page when needed.

Diving into the issue and what the bootstrap framework issue, I figured out how to solve it wi

[2017-04-10 21:31] JocelynDelalande opened #199 "Document dependencies/venv installation"
In the « deploy it ! » section.

[2017-04-10 21:58] JocelynDelalande commented on #194
@almet Thanks for trying :-)

However, it does not work. The error changed ! is now : 

[code]

[2017-04-10 21:59] JocelynDelalande commented on #194
@almet Thanks for trying :-)

However, it does not work. If I apply your patch, the error changes, becoming:

[code]

[2017-04-11 07:04] almet commented on #194
Can you tell me what is the pip installed version in the venv ? Seems related to https://github.com/pypa/setuptools/issues/937

[2017-04-11 08:48] Phyks opened #200 "Private instance"
Hi,

It would be really useful to have some settings to make a private instance. Basically, this would disable the demo and prevent anyone from creating a new project.

Thanks!

[2017-04-11 12:18] almet commented on #200
Hi, thanks for opening an issue here. I believe this is a duplicate of https://github.com/spiral-project/ihatemoney/issues/108. The discussion would benefit from your input I believe, so don't hesitate to go there and comment, thanks!

[2017-04-11 12:18] #200 closed

[2017-04-11 13:53] Phyks commented on #200
Indeed, thanks for the pointer. I did a quick search but completely missed the other issue. Moving there :)

[2017-04-11 13:56] Phyks commented on #108
For my personal use case, the following features would be awesome:

* Having a setting to completely disable the demo.
* Having a setting to prevent creation of other projects.

This would mean an instance would then be "private".

Additionnally, there could be some "admin page" to list all the available projects on the instance, monitor them etc (with some special admin password, hashed in the se

[2017-04-15 16:43] JocelynDelalande commented on #194
[code]

[2017-04-15 17:24] JocelynDelalande commented on #195
Sounds cool :-)

We could use a `manage.py` subcommand.

[2017-04-19 16:38] 0livd commented on #196
For me it makes more sense to put the tests outside the ``budget`` directory because they are not meant for the end user. According to the pytest doc, if we go this way we need to introduce a new ``src`` directory, so putting them in ``budget/test`` might just be easier

[2017-04-20 11:58] 0livd commented on #108
@Phyks Thanks for your input, we have pretty much the same use case
I would divide this into 2 PRs:

- Enhance the existing dashboard page to make it an admin dashboard with features like project creation/deletion and others stated in #42 . A password is required to access it
- Add a new setting to disable the demo and project creation from the home page (project creation is available on the admin

[2017-04-21 22:14] almet commented on #196
I think we should go with `budget/test` here, as it might to run the tests for packagers of distributions like Arch linux (which encourage to run the tests at packaging time.)

[2017-04-22 21:07] #196 closed

[2017-04-23 16:32] #187 closed

[2017-04-23 17:05] almet commented on #108
That sounds something simple enough to me, if anyone wants to give it a go, please do and I will review, comment and it will eventually make it to master :)

[2017-05-30 13:01] FabriceSalvaire commented on #165
I am just reading this issue, **and I think float (double) are not an issue at all.**

The issue is due to cent which are only represented by 2 decimal.

1.42 / 5 is exactly equal to 0.284 and thus 5 * 0.004 € is lost by the cent rounding.

For each transaction, we are always losing or winning some cents which should be equilibrated over the time.

However there are some rules to follow like apply

[2017-05-30 18:41] Phyks commented on #108
Isn't this done in recent commits? At least, the HEAD commit looks a lot like what I was looking for in https://github.com/spiral-project/ihatemoney/issues/108#issuecomment-293271142 :)

[2017-05-30 18:43] Phyks opened #211 "Update makefile command?"
Hi,

When updating `ihatemoney`, new dependencies might be introduced. Currently, doing a `git pull` and a `make install` does not actually install any new requirement due to the install stamp.

Maybe their could be a `make update` or a `make force-install` command to ensure that the updated requirements are actually installed.

Thanks

[2017-05-30 19:20] 0livd opened #212 "Document the settings"
We should document each setting in the ``Configure it`` section of the readme, especially after the recent addition of new ones (``ACTIVATE_DEMO_PROJECT`` and ``ADMIN_PASS ``)

[2017-05-30 19:21] 0livd commented on #108
yep it's done but not documented yet... see #212

[2017-05-30 19:38] Phyks commented on #108
Ok, so this issue may be closed in favor of #212?

Not sure if settings should actually be commented somewhere on the wiki, or just commented in the `default_settings.py` file. I think the latter might be enough and ease the maintenance of up to date comments.

[2017-05-31 14:08] FabriceSalvaire opened #214 "Ideas for enhancements"
**What is the use case ? :**  Manage expenses for (sport) outdoor outings. There are certainly a  large need on this topic.

_We are also using Google doc  (document and calc application) to organize the outings, Drive for photos, Doodle for meeting planning, and a CMS web site._

**Wanted features :**
1. Basic HTTP Authentication : I don't want that script kiddy's hacker play with it, **done on m

[2017-06-11 17:37] almet commented on #214
Hi, thanks for taking the time to submit your ideas in the bug tracker!

However, It seems that you have many different ideas here, and we try to keep track of the suggestions in a different ticket for each. Hence, I will close this very ticket, but please don't consider that we are rejecting your ideas. If you want us to discuss them, the best way to do so is to open a different ticket for each.

[2017-06-11 17:38] #214 closed

[2017-06-11 17:39] almet commented on #212
I concur. In general, I believe we would benefit from a review of our documentation in general, so it's more comprehensive.

[2017-06-11 17:45] almet commented on #108
Hi, in general, it's better to have a separate documentation, but we can also add comments in the settings file directly!

[2017-06-11 17:45] #108 closed

[2017-06-11 17:45] almet commented on #211
It's indeed a good idea :-)

[2017-06-13 16:20] almet commented on #113
I think we should close this for now as ihatmeoney is not broken anymore on mobile display. If anyone wants to contribute a better way to be mobile compatible, please do open another ticket.

[2017-06-13 16:20] #113 closed

[2017-06-13 19:17] aavenel commented on #113
Great work ! Is this deployed on ihatemoney.org ?

[2017-06-15 16:09] almet commented on #113
Did not get the time just yet :-)

[2017-06-15 16:26] 0livd commented on #180
Should we release version 1.0 ? Now that the design on mobile has been fixed and that #193 is merged

[2017-06-16 08:55] JocelynDelalande commented on #180
I'd vote yes, let's 1.0 :-)

[2017-06-16 09:56] aavenel commented on #175
This issue is a bit too generic. I think we can close this one.

[2017-06-17 21:59] #175 closed

[2017-06-17 22:00] almet commented on #180
Yes ! I'll let you the honor @JocelynDelalande, if that's okay for you?

[2017-06-17 22:41] JocelynDelalande commented on #180
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Alexis Metaireau <notifications@github.com> wrote:

With great pleasure, I will be able to update my my yunohost
package to back on that 1.0 right after :-)

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1

iQIcBAEBCgAGBQJZRa/0AAoJEOodh6AvlLNT4GYP/2ikgtDrPwBbefJ3rlQd1ddn
eWlk1Qb4TdYasknmd6L2mS3N4tvqBsQFjnO7OIVGwoXDOjSRupJmZZTNVAY+Q8Ky
JVZfOEx7o18ow/

[2017-06-18 16:58] Phyks opened #216 "Build failing due to docs"
Hi,

There is a `build failing` icon in the README, which seems to be due to the README.

See https://travis-ci.org/spiral-project/ihatemoney/jobs/244082701

[2017-06-18 19:45] 0livd commented on #180
Would be nice to merge these 2 small fixes before releasing :) #217 #218

[2017-06-18 22:21] #216 closed

[2017-06-19 09:40] JocelynDelalande commented on #212
Wild idea : maybe we should extend the sphinx doc, instead of bloating the README ?

[2017-06-19 17:44] 0livd commented on #212
@JocelynDelalande Yes this could be the way to go. It feels like everything can fit in the readme since there is not much to say after all, but keeping it concise and easy to read is a difficult exercise...
We could keep the most important stuff like ``Make it run`` in the readme and move the rest in the sphinx doc

[2017-06-19 22:44] almet commented on #212
Yes, or we could just have a small readme which just redirects to the documentation, with a link, and maybe add a few captures so people can see what the project looks like without having to test it themselves.

[2017-06-19 22:45] almet commented on #180
Done :)

[2017-06-20 12:05] almet commented on #113
Hi, I just deployed the latest version on ihatemoney.org, let me know if you find anything weird there :)

[2017-06-20 12:47] JocelynDelalande commented on #180
Huray, thanks :-)

Closing.

[2017-06-20 14:38] JocelynDelalande commented on #180
Oh, but the release is not done yet, I misread you, sorry.

[2017-06-20 15:25] pyg77 opened #219 "Need to unzoom on firefox mobile to add bills"
Firefox for Android 53.0.2

When I want to add a new bill on firefox mobile, the popover is opening as expected, I enter somehhing in the "What?" field (producing an automatic zoom on the popover). Then when I want to enter something on another field (like the payer field), nothing is happening. I can't even validate or close the popover.

Solution found: unzoom to max, by unpinching on the screen

[2017-06-20 15:29] pyg77 opened #220 "Little css issue when adding new user"
On firefox mobile on android (v53.0.2), when I want to add new user, the navbar is hidding the "add new user" field.

See screenshot: https://framapic.org/gkFPhYKUXgYi/sK1Fad2XJ8q2.png

Solution found: unzoom to max by unpinching the screen and target carefully the field.

[2017-06-20 15:46] aavenel opened #221 "Hide custom Datepicker on mobile"
When adding a new bill on android phone, custom datepicker is displayed as a duplicate of the standard one.

Steps to reproduce :
Config : chrome on Android,
Add a new bill
Click on Date field -> date picker from standard android is displayed
Validate -> Custom datepicker is still visible

[2017-06-20 19:59] aavenel commented on #221
This is also a problem on desktop : both default calendar and custom are displayed.

![virtualbox_ubuntu-gitlab_20_06_2017_21_55_37](https://user-images.githubusercontent.com/303767/27353215-93d14374-5603-11e7-87d0-d905bba97604.png)

Should we keep our custom datepicker ? Or just let the default one do the job ?

[2017-06-20 20:24] almet commented on #221
I believe that whenever there is a custom one we should use it as it probably showcases a better UX than what we have. But, older browsers for instance don't have any UX for the datepicker, and as such we should keep ours.

There are probably other people who thought about this. I'm actually astonished that bootstrap doesn't do it by default. This is something to investigate though, thanks for rep

[2017-06-20 20:28] almet commented on #180
Thanks for taking care of it :)

[2017-06-20 20:32] almet commented on #219
Thanks for writing this bug report! I've yet to understand why this happens. I first thought that this was due to the fact that I mis-deployed the latest changes on https://ihatemoney.org, but it seems that I did everything well there.

When I try to access the project using my firefox browser on desktop and go in the "mobile" view, everything seems to behave like it should. Weird.

Any idea about

[2017-06-20 20:48] JocelynDelalande commented on #180
@almet I still don't have rights on pypi to upload, could you manage to grant me those please ? (username *jocelynd*)

[2017-06-20 20:54] almet commented on #180
It's done!

[2017-06-20 20:58] Phyks commented on #219
Yes, I noticed it as well on my instance. Not sure where it comes from, might be related to my latest PR. I'll try to have a look.

Previous behavior was unusable on mobile devices. Hopefully we will converge with a responsive UI :)

[2017-06-20 21:06] JocelynDelalande commented on #180
1.0 is alive !

https://pypi.python.org/pypi/ihatemoney

[2017-06-20 21:14] almet commented on #180
Hooray!

[2017-06-20 21:36] 0livd commented on #180
nice job ! :)

[2017-06-20 22:59] pyg77 commented on #219
Please note that everything is working well on chrome/android (58.0.3089.83)

[2017-06-20 23:22] almet opened #224 "Travis-CI seems to run python2.7 for all targets"
When looking at https://travis-ci.org/spiral-project/ihatemoney/builds/245155868?utm_source=github_status&utm_medium=notification I found out that the different build architectures were all using python 2.7 as a target.

There's something fishy :-)

[2017-06-20 23:25] almet commented on #224
Nevermind. Python 2.7 is always used to run tox, and that's in there that there were something going on. We're covered!

[2017-06-20 23:25] #224 closed

[2017-06-20 23:50] almet commented on #194
So, I believe this is not happening anymore? Should we close?

[2017-06-20 23:51] almet commented on #180
Closing, thanks to everyone involved!

[2017-06-20 23:51] #180 closed

[2017-06-21 00:27] almet opened #227 "Package for debian"
I think it could be nice to be packaged for debian. However, I'm completely out of the hype on this, and don't know where to start. I would be very happy to have some guidance from you @JocelynDelalande as it seems you know a bit how it works.

What do you think? What would be the steps in order to have something in the debian repositories?

[2017-06-21 00:29] almet opened #228 "Have a «ihatemoney» command"
that would be nice to have ihatemoney runnable via a «ihatemoney» executable. This will probably lead to a few changes in how everything is currently done. For instance, I would like to have the following commands:

- «ihatemoney serve» to start the server;
- «ihatemoney init» to create a configuration file;
- Maybe we should also have a «ihatemoney migrate» in order to run the migrations, but tha

[2017-06-21 00:31] almet commented on #228
I just realised that we already have this thing, in the «manage.py» file. It provides a way to run the migrations and run the server. So it's probably just a matter of packaging it under the right name.

[2017-06-21 07:00] JocelynDelalande commented on #194
I can't tell, I upgraded to stretch :-/

[2017-06-21 08:48] Phyks commented on #219
Oh, that explains why other users on the instance are not seeing this issue. I just noticed it two days ago, and was thinking it was just a cache issue, or some bug on my phone. But you noticing it also means it is really a bug (either in ihatemoney or Firefox for Android).

Not sure how blocking this is for you at the moment? The fact that one could zoom on mobile UI is quite disapointing for me.

[2017-06-21 10:44] JocelynDelalande commented on #221
20 juin 2017 22:24 "Alexis Metaireau" <notifications@github.com> a écrit:

Agreed.

I am too…

We are using an alpha version of BS4 ; maybe we should upgrade to see if it got fixed in stable version ? I'm saying that, but I have no time to start digging this one, anyone ?

Thanks for reporting, anyway :-)

[2017-06-21 11:14] 0livd opened #232 "Use unique URIs to share projects"
A nice enhancement would be to be able to share a project with a link of the following form https://ihatemoney.org/projects/-uuid-, just like on framadate.org. IMO it would be a much better design than the actual one where we store an unhashed password in the database (even if there is a warning). For backward compatibility, we could keep the password authentication but it would be hashed in the d

[2017-06-21 11:18] 0livd opened #233 "Hash the admin password"
The admin password is currently stored in clear text in the settings, it would be more secure to hash it and maybe provide a makefile recipe to hash a given password. The (new) documentation would need to be updated too

[2017-06-21 12:00] almet commented on #233
Thats a great idea!

[2017-06-21 12:03] #212 closed

[2017-06-21 12:03] #199 closed

[2017-06-21 12:03] #211 closed

[2017-06-22 00:17] almet commented on #219
@pyg77 Can you confirm this is solved via the latest commit ? It is currently deployed on https://ihatemoney.org, please update your cache (ctrl + f5 should be enough), as we're not doing anything fancy to force refresh the CSS files with every updates ;))

[2017-06-22 10:02] pyg77 commented on #219
Not totally :-/

(can't do ctrl+f5 on a mobile, but I have emptied the cache ;) )

Steps to reproduce on Firefox 53.0.2
1. Go on the demo project
2. scroll down to add a bill, and click "Add a Bill"
3. tap on "What?" field, then input something on "what?" field
4. tap on "Payer" scrolldown.

Nothing happen when I tap on user scrolldown.
Expected behavior: list of users appear, and I can select one

[2017-06-22 10:03] pyg77 commented on #220
Seems to be fixed by #231

[2017-06-22 11:41] Phyks commented on #219
Ok, I missed it on my instance with only 2 persons. :/ Let's reopen this.

Not sure it can be easily monkey patched. I think it would be better to solve https://github.com/spiral-project/ihatemoney/issues/113 and https://github.com/spiral-project/ihatemoney/issues/149 together.

I can try to write something using Vue.JS, but don't want to promise anything till I am sure to have enough time to fini

[2017-06-22 19:02] almet commented on #219
@Phyks we can discuss this in #149 instead. The API would be used, yes!

[2017-06-22 19:02] #220 closed

[2017-06-22 20:31] Phyks opened #234 "Basic math operations"
Hi,

Not sure how relevant it is, but often I have a bill with multiple entries and I want to enter the sum of some entries in ihatemoney.

I usually have `bc` running in a term next to my browser to handle it, but was thinking that maybe this could be handled directly by `ihatemoney`.

[2017-06-22 22:11] almet commented on #234
Ah, that would be Nice, I havent though about it ! Seems simple enough :-)

[2017-06-23 08:11] Phyks commented on #149
I can try to write something using Vue.JS, but don't want to promise anything till I am sure to have enough time to finish it.

[2017-06-23 08:14] QuentinRoy commented on #149
Actually we already started this project a few years ago (using React): https://github.com/almet/ireallyhatemoney. Unfortunately we never hard the time to continue.

[2017-06-23 08:16] QuentinRoy commented on #149
Also we had very little knowledge of React at that time. I just had new look at it, I'm not sure it's worse keeping.

[2017-06-23 08:55] Phyks commented on #149
Ok, I'll try to have a look. I can write something in React if you prefer, but would rather go for Vue. Anyways, if people working on this are more at ease with one or another, I can adapt :)

[2017-06-23 09:03] QuentinRoy commented on #149
I feel like both are similarly good. I tend to prefer React, mostly because I am not a big fan of Vue's templating syntax (I like the way it deals with scoped CSS though), but I don't have enough experience with Vue to make a judgement. Anyway, unfortunately, I do not expect to have the time to work on this anytime soon (even though I wish) so I don't feel my opinion should matter :).

[2017-06-23 11:40] JocelynDelalande commented on #234
Seems nice feature.

Possible non-intrusive and safe design : handle basic operations (sum,
subsrtaction, multiplication) with JavaScript.

- the user enters its operation
- on input unblur or form submit, javascript computes the sum and
replace the operation with its result

WDYT ?

@Phypks : would you code it ?

[2017-06-23 11:45] JocelynDelalande commented on #149
My take on this : go ahead and write with your favorite framework. None of those tools are bad, I like to say that the one who actualy write something choose the tool :-)

Despite what I said, I am not sure of having the time to write something regarding this work. The first who moves notify the others :-)

[2017-06-23 11:46] almet commented on #149
I've exactly the same opinion as @JocelynDelalande. Let's just do it. This project started as an experimentation of a new technology (Flask was a few weeks old then), so let's keep it like that :-)

[2017-06-23 12:45] Phyks commented on #149
Ok, I'll let you know if I can get some time to start this :)

[2017-06-23 12:45] Phyks commented on #234
Sure, that sounds nice!

I'll try to handle it, as I need it :)

[2017-06-23 12:50] Phyks opened #235 "Float separators"
Hi,

It seems the `input` field for the amount is of type `number`. Then, the browser enforces the use of the locale dependent comma separator. For instance, my French Firefox enforces the use of `,` as a float separator.

Problem is that on French keyboards, the `.` key in the numpad area types `.` and not `,`. Then, it is very unintuitive to type `3,2` instead of `3.2`.

Not sure if we should fi

[2017-06-23 13:34] JocelynDelalande commented on #235
Agreed. I'm hitting this too rigid behavior often also.

[2017-06-23 14:14] aavenel commented on #235
In fact I think this is a regression, as I remember to write code to handle `,` or `.` without distinction in back-end validation.

Perhaps using `<input type="number" formnovalidate />` will be enough to get rid of this. https://stackoverflow.com/a/15304154

[code]

[2017-06-23 16:15] 0livd commented on #149
@Phyks That sounds cool ! I recently started to hack around with Vue.js so I can give a hand if needed

[2017-06-24 06:48] Phyks commented on #235
Yes, either comma and dot are working in the backend code. But the browser does not validate float with dots with French locale.

Not validating the field works, but "24,a34" will not be discarded either. I'll try to have a look at browsers capabilities.
--
Phyks

Le 23 juin 2017 16:14:56 UTC+02:00, Alexandre Avenel <notifications@github.com> a écrit :

[2017-06-24 11:38] 0livd opened #238 "Better document how to download ihatemoney"
The recommended way to get the code in the installation doc is ``git clone https://github.com/spiral-project/ihatemoney.git`` which does not correspond to the latest stable release.
We could :

- tag a release as the ```latest release``` so ihatemoney could be downloaded following this link ``https://github.com/spiral-project/ihatemoney/releases/latest``
- provide the link to pypi ``https://pypi.p

[2017-06-24 11:49] JocelynDelalande commented on #235
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Possible good compromise showed in :
https://codepen.io/anon/pen/MovRBW

It seems that you cannot customize validation as long as you keep
`type="number"`

-----BEGIN PGP SIGNATURE-----

iQIzBAEBCgAdFiEECtxJPuKxaTvavr2N6h2HoC+Us1MFAllOTdsACgkQ6h2HoC+U
s1OnOxAAgKFxn/ALVRwk1rsy8q9oHIMYM+5Gpw01XY42Rua4UfH2z8WYqmKBqKYE
+K/4CX6+fUHd6SFWxD8kChQ6cv336Ap/I+

[2017-06-24 16:17] JocelynDelalande commented on #238
The actual question is what is our "official" insallation method.
I'd suggest pip, which means we have to document the venv
creation (the makefile is not usable with pip method). WDYT ?

+1 (let's keep git use for development stuff)

[2017-06-25 09:27] 0livd commented on #238
I'd rather go for the easiest solution: keep everything on github ...but pypi is fine too and in this case something like ``ihatemoney make-venv`` could be used for virtualenv stuffs, see #228.

[2017-06-25 19:05] almet commented on #235
Yep, that looks like the way to go!

[2017-06-26 08:50] almet commented on #238
I think that using PyPI to release our software is the current de-facto standard, and as such that's what we should publicize. You want to install Ihatemoney ? Fine ! Do a `vitualenv ihm && pip install ihatemoney` and you should be good to go!

As stated in #227, I would love to see ihatemoney included in Debian for instance, so it's easier to install for our users, but I don't have any debian fu

[2017-06-26 19:46] JocelynDelalande commented on #238
Seems we didn't reached consensus yet :-)

@0livd does your opinion remain the same (preference for publicizing github) after reading @almet message ?

[2017-06-26 21:22] 0livd commented on #238
@JocelynDelalande Let's go for pypi :)

[2017-06-26 22:16] #233 closed

[2017-06-27 06:06] #195 closed

[2017-06-27 17:52] #177 closed

[2017-06-28 18:18] almet opened #241 "Change the default location of the database file"
Following a discussion in #229 with @0livd and @JocelynDelalande I'm opening an issue to discuss the idea to change the default location of the database or the one used in the examples.

I personally like the idea proposed by @JocelynDelalande : let the default as it is right now and change the location used in the examples.

[2017-06-28 21:32] 0livd commented on #241
So this would only be a suggestion, like ``/etc/ihatemoney`` for the settings ?
IMO the main issue for the moment is that when we do a ``git clone && make serve``, it doesn't work out of the box and the default database path needs to be manually changed. But there might be another way to solve this issue ?

And should we provide a way to automatically create these directories, ``/etc/ihatemoney``

[2017-06-28 22:00] almet commented on #241
You are correct, we have an issue with the current setup, but I'm not sure this is related to the location of the database. I've tried to change the default location to `sqlite://` which loads a memory backend, and I still have an issue with the `project` database not being found. I'm currently investigating locally, but I would welcome any input.

Now, for the second thread of this discussion, I

[2017-06-29 16:47] 0livd opened #245 "Protection against brute force attacks"
Along with #244, it would be nice to have some throttling mechanism as a protection against brute force attacks, at least for the admin authentication

[2017-06-29 21:18] 0livd opened #246 "Control public project creation via a flag when using the API."
Even when disabled, public project creation is still possible via the API.

[2017-07-02 11:01] Jojo144 commented on #177
Hum... I am sorry to reopen this issue but, in fact, I better understood what do this button in the meantime.
This button actually *delete* the user if its total is 0. If it is not, the user will be *deactivated* until its total reach 0, in that case it will be automatically deleted.
I thus propose to revert this commit and change the message "User ... has been deactivated." to something like " Us

[2017-07-04 12:35] JocelynDelalande commented on #177
The user is just hidden then, but remains in database doesn't it ?

[2017-07-06 23:19] almet opened #248 "Database creation doesn't seem to be working"
Since I played a bit with the import mechanism, it seems that the database creation doesn't work as it should anymore.

Steps to reproduce:

- Run the server `ihatemoney runserver`
- Open your browser at http://localhost:5000
- Click on "demo".

Here is the stacktrace I'm getting:

[code]

[2017-07-17 08:13] SuderPawel commented on #248
Similar issue noticed

[code]

[2017-07-26 08:56] JocelynDelalande commented on #194
Closing for now, until someone eventually re-open it.

[2017-07-26 08:56] #194 closed

[2017-07-26 11:55] JocelynDelalande opened #251 "Do not expose settings in an hard-to-read table"
It's unreadable on most screens (evil horizontal scroll).

![image](https://user-images.githubusercontent.com/429633/28619706-f9b9c982-7209-11e7-8663-ceba1d6b2107.png)

Maybe we should use sections to present/explain the different settings.

[2017-08-01 17:29] 0livd opened #253 "Add python 3.6 support"
We should add python 3.6 support as it starts to be used as the default python3 interpreter in recent distributions (e.g. fedora 26)

[2017-08-01 17:52] 0livd commented on #232
@almet @JocelynDelalande Any thoughts on this ? I might be better off submitting a WIP PR to show what I have in mind...

[2017-08-01 19:31] almet commented on #232
Thanks for this proposition.

Why not having the ability to share a project with an unique URI, but I think that not having to remember anything that looks like an UUID is a better design. Having to remember a project name + password is something that currently works versus having to go to the emails to find the link that was used to share the project.

This would add a new feature to the existing

[2017-08-01 19:32] almet commented on #253
That's a good idea, let's add it :-)

[2017-08-02 19:47] Pofilo opened #255 "HTTPS and Google Chrome"
Some requests make the application not usable in HTTPS. Is there a way to fix it ?

These days, HTTPS for web applications is a must have !

[2017-08-03 13:50] NicolasBrosse opened #256 "Deleting a project"
Hello,

When going to the edit options of the project on `https://ihatemoney.org/[name_of_the_project]/edit` and **triying to delete it throught the appropriate button**, nothing happens.

[2017-08-06 02:06] #248 closed

[2017-08-10 19:48] 0livd commented on #232
The main idea behind this is to increase security by not storing unhashed passwords anymore. In the current design we store cleartext passwords to be able to :
- recover a lost password
- share a project by sending its credentials by email

The first one could be easily avoided by sending a token link to the user so he can reset his password via a dedicated form.
One way to avoid the second is sha

[2017-08-10 19:49] 0livd commented on #255
Could you produce some logs/screenshots/... ?

[2017-08-12 16:21] Pofilo commented on #255
Yeah sure !

First, in Google Chrome (but not in Firefox), the icon is grey and not green:

![ihm](https://user-images.githubusercontent.com/7527594/29242267-05537828-7f8a-11e7-9919-359644be24f3.png)

Then if I press F12, I can see that Chrome detects _Mixed-content_:

![ihm2](https://user-images.githubusercontent.com/7527594/29242268-055cca7c-7f8a-11e7-92bc-d021784a9ecc.png)

Finally, the request

[2017-08-19 08:55] JocelynDelalande opened #260 "Hand cursor not showing up on user actions"
Those are clickable areas, a hand cursor should be presented to user, like on hyperlinks.

![image](https://user-images.githubusercontent.com/429633/29485121-cd39c2c4-84cc-11e7-939f-396cae70c077.png)

[2017-08-20 10:19] almet commented on #232
Hi, I'm back :-) I dont like to break features like that. It's never à good idea for the users.

Why not having this as a way to share links ! As to storing passwords in clear, we can probably just change that and hash it with a salt, which would change less the existing feature. What do you think?

Also using a link sent by e-mail to connect seems as insecure as sending the password in clear, but

[2017-08-20 10:21] #253 closed

[2017-08-20 10:22] #256 closed

[2017-08-20 10:25] #238 closed

[2017-08-20 10:37] #245 closed

[2017-08-20 18:54] JocelynDelalande opened #261 "pip + stable path to assets."
We now use pip to install ihatemoney. cf #252.

This leads to an issue : pip installs the assets in a clumsy path like *$VIRTUALENV/lib/python3.5/site-packages/ihatemoney-1.1.dev0-py3.5.egg/ihatemoney/static/css/main.css*.

Which is pretty bad, because:

- it's dynamic (cannot be explained easily in doc)
- the path will change any time you upgrade to a newer version, so vhost conf will have to be

[2017-08-20 22:48] almet commented on #261
That's a good question! I've had a quick look at the [`setup.py` file of sphinx](https://github.com/sphinx-doc/sphinx/blob/master/setup.py) but I don't understand how they accomplish this so far.

Maybe @Natim will get an idea on how to accomplish this?

[2017-08-23 15:21] Natim commented on #261
That's the https://github.com/sphinx-doc/sphinx/blob/master/setup.py#L217 `zip_safe=False`

[2017-08-23 17:45] almet commented on #261
I don't understand how `zip_false` accomplishes this, either from reading the SO thread or from the [setuptools documentation](http://setuptools.readthedocs.io/en/latest/setuptools.html?highlight=zip_safe#setting-the-zip-safe-flag).

If it solves our problem, then that's great (except from my ability to read their docs, heh); but I think we need to try it before calling it solved :-)

[2017-08-23 18:10] JocelynDelalande commented on #261
Erf, actually we already have `zip_safe=False` in [our setup.py](https://github.com/spiral-project/ihatemoney/blob/master/setup.py#L67).

[2017-08-23 18:32] 0livd commented on #232
The thing is that if we want to hash the passwords in the database, we have to reimplement the 2 features that need clear text passwords.
Just to be sure we understand each other correctly, what I propose is not to completely remove the current projectID/password login system. What would change for the users is only the way they share projects and recover passwords, they would still be able to log

[2017-08-24 14:49] almet commented on #232
Ah okay, sorry I misunderstood what your proposal was (the month off might not help here :p). I think we have a consensus here: let's keep the current login mechanism and let's change the way we share links and recover passwords.

We could also lead the users to share their password via a different mean (if possible via voice !).

[2017-08-24 15:00] almet commented on #261
Gasp. Actually, after a quick look, I don't understand exactly what we're trying to solve here. On my computer, the files are installed in the correct way (from latest master).

e.g. in this directory: ```/home/alexis/dev/newenv/lib/python2.7/site-packages/ihatemoney/static/```. How did you do the installation?

[2017-08-24 16:11] 0livd commented on #232
Yeah the first post was actually not that clear.
Ok so I'll try to propose something soon :)

[2017-08-24 16:31] JocelynDelalande commented on #261
@almet actually, my ihatemoney install was with a `setup.py install`, that explains the weird paths not a pip one.

 So, that way, the paths remain stables uppon update. Seems fie.
Also, I think the installation doc is good enough as-is for now. I close the issue.

Sorry for opening this nearly-useless discussion :x

(Bright side : i learnt a subtle difference between pip-installing and setup.py-i

[2017-08-24 16:31] #261 closed

[2017-08-24 16:33] almet commented on #261
No worries at all, let's just say python packaging is hard to understand :-)

[2017-09-05 15:44] JocelynDelalande opened #264 "Release v2.0 ?"
Long time since release of 1.0.

Changes since then include:

- the python package was renamed #229
- the wsgi path changed #240
- the official installation method changed #252

Those could be considered as breaking changes, as updating an existing installation blindly will break the app.

Do you agree that, following semantic versioning, next version should be 2.0 ?

[2017-09-05 15:51] almet commented on #264
I agree with this, yes! We probably should have an upgrade documentation in place before releasing 2.0 !

[2017-09-05 21:22] JocelynDelalande opened #266 "Fix installation doc to avoid storing db in /tmp/"
Default database location [is in /tmp](https://github.com/spiral-project/ihatemoney/blame/master/ihatemoney/default_settings.py#L11). Which is good for testing but bad for production.

We must mention the need to tweak this setting in installation documentation, as */tmp* often gets flushed on boot, this default is dangerous for production.

Has to be fixed prior to 2.0 release (#264)

[2017-09-05 21:48] opi commented on #260
According to some UX expert, it could be a bad idea to use the had cursor: https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b

Anyway, some visual indication should tell the user that an element can be clicked (color change, underline, ...)

[2017-09-06 08:33] almet commented on #260
Thanks for your input on this, we probably might just underline them on hover then!

[2017-09-06 08:35] almet commented on #266
Also, we could issue a warning in the console when the default database path is /tmp, with a link to the docs :-)

[2017-09-06 17:36] 0livd commented on #264
Let's do this ! We might want to wait for #232 though, as it will provide much better security.
I hope that v3.0 will be the switch to a single page app ... or maybe v4.0 :D

[2017-10-22 18:11] JocelynDelalande commented on #264
currently (re)working on it.

[2017-10-23 07:12] JocelynDelalande opened #273 "Removing requirements.txt"
To avoid dependencies list duplication. Replacing [its use](https://ihatemoney.readthedocs.io/en/latest/contributing.html#the-hard-way) by

    pip install -e .

I'm wondering if there are there any downsides doing this ?

[2017-10-23 07:43] JocelynDelalande opened #274 "Add upgrade doc"
see

- https://github.com/spiral-project/ihatemoney/issues/264#issuecomment-327219245
- https://github.com/spiral-project/ihatemoney/issues/264#issuecomment-338497339

[2017-10-23 07:56] JocelynDelalande commented on #228
closed by #230

[2017-10-23 07:56] #228 closed

[2017-10-23 14:15] JocelynDelalande opened #277 "Remove stderr noise from generate-config"
[code]

It is harmless (the first noisy lines are in stderr not stdout), but confusing. re-organising `manage.py` a little should avoid that.

ref #275

[2017-10-24 21:31] JocelynDelalande commented on #235
Nice hack detailed here : https://www.ctrl.blog/entry/html5-input-number-localization

In short `<input type=number lang=en>` will accept both comma and dot as decimal separator.

[2017-10-24 21:32] 0livd opened #278 "Document how to configure an external mail server"
We do not expose the mail server configuration and use the default configuration of flask mail which requires a local mail server listening to port 25. An external smtp server could be used instead, this should be documented, see https://pythonhosted.org/flask-mail/#configuring-flask-mail

[2017-10-26 16:48] 0livd commented on #264
I'm going to start implementing #232 (using tokens I guess). My hunt for clear text passwords will finally be over and v2.0 will be way more secure :). I'll update the upgrade guide too since it will require a database migration.

[2017-10-26 17:02] JocelynDelalande commented on #264
@0livd not sure to understand the need for documentation, database migrations, as they are implemented in ihatemoney, are supposed to be ran automatically, and should not require any user action.

[2017-10-26 17:05] 0livd commented on #264
@JocelynDelalande Oh yeah you're right :)

[2017-10-26 17:48] almet commented on #277
What would you expect as the output? I tend to think that having the warning about the password is a good thing, and that we should remove the INFO, do you agree?

[2017-10-26 19:12] JocelynDelalande commented on #277
Yes, at least INFO, if not WARNING.

So… I'm wondering… In one side polluting user display is bad, and
may be confusing (the stdout/stderr distinction does not apply to
the eyes), on the other side, warning the user is something
useful.

At the end, I think I would prefer to suppress warnings from
output also (for the generate-config command only).

User have other ways to receive the same warning

[2017-10-26 22:08] almet commented on #277
The thing is that most people don't look at the warnings in their logs :( I think that it's good to have this warning printed anywhere we can, as it's the only way we have to warn the user.

If they want to ditch the warning, well... they should probably fix their configuration :)

[2017-11-01 00:56] #266 closed

[2017-11-01 01:12] almet commented on #255
I believe this is because the browser requests `favicon.ico` and gets redirected because the app thinks it's the name of a project. This should be easy to fix if for instance we do not accept dots in project names.

Adding this issue to the list of easy picks as it's a simple routing issue.

[2017-11-01 01:14] almet commented on #273
Yeah, that probably makes sense. I don't see why we should keep the two lists separated. My call on this is to remove it and we can add it back later if needed.

[2017-11-01 01:19] almet commented on #246
It's just a matter of adding a conditional check in the correct `ProjectHandler` that lives at https://github.com/spiral-project/ihatemoney/blob/master/ihatemoney/api.py#L32

Flagging as a good issue to get started.

[2017-11-01 01:21] almet commented on #241
I'm not sure how we should make this go ahead. Any idea?

[2017-11-01 01:24] almet commented on #235
Let's just do it then?

[2017-11-01 01:27] almet commented on #234
I'm flagging this as a good first issue as I think it should be easy enough, but I might be wrong and some help might be required in order to accomplish this. If it's the case, don't hesitate to comment on this pull-request and we'll try to help you out :-)

[2017-11-01 01:31] almet commented on #149
I would be interested if we can kick-off a project using vue.js, even if it's not usable, but just something to hack on. Don't hesitate to share inspirational projects / gists or anything that might help us getting started on this :)

[2017-11-01 01:32] almet commented on #221
Anyone can tell us if it's still the case with the current bootstrap version?

[2017-11-01 13:46] Phyks commented on #273
Personnally, I'd rather keep the `requirements.txt` file, but load it dynamically in the `setup.py`. I tend to think this is the easier way to deal with dependencies. See for instance [this code](https://github.com/Phyks/libbmc/blob/master/setup.py#L15-L24) for an example in the `setup.py`.

[2017-11-01 13:49] Phyks commented on #235
Not sure whether it's better to overload the `lang` or to use the ability to [pass a `regex`](https://stackoverflow.com/a/16883588). Maybe the latter is less hacky?

By the way, it seems this bug only affects Firefox, not Chromium, isn't it?

[2017-11-01 13:51] Phyks commented on #234
Sure, I think it's quite easy to achieve and a good first issue. I really have quite a lot of backog at the moment, so if anyone else is willing to give a try, feel free to do it :)

[2017-11-01 13:56] Phyks commented on #227
I recently came across [Yunohost](http://yunohost.org/) which is a solution built on top of Debian to selfhost easily and painlessly.

I don't think there is an app achieving the same goal as `ihatemoney` packaged for it yet, so maybe it would be worth writing a `ihatemoney` package. There is an app for [Kresus](https://github.com/LowMem/kresus_ynh) for instance, and it should be quite easy to wri

[2017-11-01 14:08] almet commented on #227
Thanks for the proposal. Actually, Ihatemoney is already packaged for yunohost, thanks to the work of @JocelynDelalande. We might want to advertise it in our documentation ! The package is at https://github.com/YunoHost-Apps/ihatemoney_ynh

[2017-11-01 14:10] almet commented on #273
Yes! I think it's even better, let's go for it :)

[2017-11-01 14:48] Phyks commented on #227
Oh, I missed it, that's awesome!

[2017-11-01 16:17] almet commented on #221
This is also happening on latest Firefox.

[2017-11-01 17:36] #273 closed

[2017-11-01 20:38] JocelynDelalande commented on #241
Actually, since #275 the problem seems handled (IMHO):

- default is still to put it in /tmp, which seems fine for development
- production defaults (via `./manage.py generate-config ihatemoney.cfg`) put it in /var/lib/ihatemoney.

Another (maybe safer) option for « development default » might be to store the db in the path of cloned folder.

[2017-11-01 20:52] #274 closed

[2017-11-03 16:29] JocelynDelalande commented on #235
The first (`lang` stuff) is IMHO more user friendly, the user agent may tell « please enter a number » instead of « please enter a correct value ».

[2017-11-05 18:06] 0livd commented on #149
I actually made this a couple of months ago and totally forgot about it :). https://gist.github.com/0livd/ecbfe221d8e57039ef10cd5afbdf8a2a
I think it is a good starting point to hack around and learn Vue.js but I guess we should ultimately use something like webpack. I don't think I'll have time to do more than this though.

[2017-11-05 18:07] Phyks commented on #149
I have a couple of Vue-based webapp around, which I can point you too if you want some reference. Unfortunately, I don't think I could commit into writing anything soon :/

[2017-11-06 13:39] almet commented on #149
Pointing to them is always useful. I probably won't commit time to this in the near future, but for whoever is interested, please share :)

[2017-11-06 14:16] Phyks commented on #149
[Here](https://git.phyks.me/Phyks/flatisfy/tree/master/flatisfy/web/js_src) is a webapp built around a basis similar to Ihatemoney (Vue.JS frontend with a python + bottle backend for the api). Server code is also in the same repo.

[Here](https://github.com/Phyks/Food) is a WIP using Vue.JS frontend (and Vuetify, an awesome framework to quickly set up a Material design webapp) wrapping around [Ope

[2017-12-16 21:35] Glandos commented on #165
I am currently hitting this issue, since the total balance is `9.4449999999997` in the API call.
Maybe it could be stored twice, one as float for direct DB operations, and one as string for Python operations as Decimal.

[2017-12-17 22:46] almet commented on #165
Hi everyone, if someone want to have a closer look and propose a fix for this, I will happily review it and provide feedback.

Cheers!

[2017-12-21 12:57] #232 closed

[2017-12-21 16:31] JocelynDelalande opened #289 "Remove password field from project resource in API"
I see little purpose (even less after #286 ) exposing the project password hash in the API, like it appears here:

`GET http://localhost:5000/api/projects/demo`
[code]

What about removing this field from DB output ?

[2017-12-21 16:35] JocelynDelalande commented on #289
(this has to be considered a breaking change)

[2017-12-21 19:34] almet commented on #289
Yeah, I agree. Let's remove this :)

[2017-12-22 16:39] #289 closed

[2017-12-23 00:32] JocelynDelalande commented on #277
Doh, I though I replied this one already :x.

No, that is wrong and misleading : at the time one generate its configuration (typically, just pip-installed,  following the documentation building configuration with `generate-config ihatemoney.cfg`) command :

- they are currently using a configuration that will produce warnings (`generate-config` runtime env with default settings)
- they are, at thi

[2017-12-23 00:42] almet commented on #277
Thanks for pointing that out, I now understand what you mean.

It's true that these should be silenced at this installation stage: my remark from end of October doesn't make any sense in the light of what you're saying!

[2017-12-26 22:09] JocelynDelalande opened #294 "app crash when adding a member with already existing username"
If you try to add a member to a project where a same-name member already exist, here is what you get : a HTTP 500 with a stacktrace:

[code]

I think it deserve a HTTP 400 with a nice message.

[2017-12-27 00:06] JocelynDelalande opened #295 "PUT api/project/:code/members/:id behaves weird"
Currently, the only working use of `PUT api/project/:code/members/:id` is to change a user name.

It seems that `PUT` has been only partially implemented, on top of `POST` code.

## Cases

Create a user named aa (that is fine, that is the POST)
[code]
### Working case

 (but actually, this behaviour is more `PATCH`-like)
[code]

### Failing case 1 : keeping same name

 (testing idempotence) :
[cod

[2017-12-27 11:35] JocelynDelalande opened #296 "Design choices for Single-page app"
Thinking about #149 and in the need on some pretext to learn angular (already known angularjs, needed to upgrade), I started working on an Angular version. @Phyks is also thinking about vue.js.

At this stage, no one knows if one implementation or the other will reach something worth it.

Anyway… I wanted to share some thoughs / questions.

## A. What should be covered by rich web app ?

The value

[2017-12-27 11:38] JocelynDelalande commented on #296
My initial preference would to **2.**, keeping in mind for further improvements that we should receive 3rd-party data update notifications from server via some other mean (websocket/polling…).

But… I created that topic to gather your opinions/arguments on this topic. I'm quite a newbie on that kind of thing…

[2017-12-27 14:58] #295 closed

[2017-12-27 16:14] almet opened #298 "Use a different dependency for the REST API."
@JocelynDelalande pointed out recently a bug that is related to a package (flask-rest) I published back in the day (6 years ago) to do the REST API.

I've published a change on the package to fix the issue, but it's interesting to note that this package is not really maintained, and doesn't have tests. I wrote this at a point where I wasn't aware of the best practices for software development, I f

[2017-12-27 16:28] #277 closed

[2017-12-27 16:50] almet commented on #296
Hi, there is a lot to be said about this. I believe the choice is more about having an offline / online app.

## Views

Ideally, I think all of the frontend should be done the same way, and handle all operations, for the sake of clarity / maintainability. Having multiple ways to handle the templates etc. can start to be a nightmare at some point.

Now, the different views don't have to act the sam

[2017-12-27 17:39] JocelynDelalande commented on #298
Seems legit :)

[2017-12-27 17:49] JocelynDelalande commented on #296
I assume online at the moment.

Might be true :p

Yes :)

[2017-12-27 18:12] JocelynDelalande commented on #264
Aaaaand 2.0 is out :-)

(and our PR-queue is empty !)

Released on pypi and tagged on git.

@almet `make release` worked like a charm :-)

[2017-12-27 18:12] #264 closed

[2017-12-28 21:43] almet commented on #264
Nice, thanks! I'll need to update the demo server at some point! (I fear with all these updates :p)

[2017-12-29 10:40] JocelynDelalande opened #302 "Wording : Member ? User ? Something else ?"
I think we can be more consistent in the wording we use to designate the people sharing a budget.

In some places of the code it is "Member" (french: "Membres"), in other "Users" (which we translate by: "Membres" or "Utilisateur" in French). So… We are a little messy on that :-)

To look around at current wording state by yourself, read  [the translation file](https://github.com/spiral-project/iha

[2017-12-29 17:11] almet commented on #302
Hi, thanks for raising this. I agree with you on this, but I think we should also be consistent in our naming in the code. « participant » seems fine in french, and probably is also in english (not sure).

[2018-01-04 08:54] JocelynDelalande opened #304 "Check that nginx passthrough basic auth for API"
Similar configuration as #303 might be required for in [nginx vhost conf template](https://github.com/spiral-project/ihatemoney/blob/master/ihatemoney/conf-templates/nginx.conf.j2).

[2018-01-05 20:20] almet opened #305 "Templates are not included in the packaged version"
When summoning the `ihatemoney generate-config gunicorn.conf.py` command, I'm prompted with this error:

[code]

The same happens when I try to run the script with `supervisord.conf, for instance`.

[2018-01-05 20:22] almet commented on #305
I believe this is because `*.js` is not specified in the `MANIFEST.in` file.

[2018-01-05 20:27] almet opened #306 "Supervisord generated config file contains a `None` value"
Here is the output of the `./venv/bin/ihatemoney generate-config supervisord.conf` command:

[code]

I find the `None` highly suspicious. It's supposed to be the `{{ venv_path }}`.

[2018-01-05 20:48] almet opened #307 "Menu doesn't appear entirely anymore"
Not sure to what this is related, but the menu (that pops when clicking "options") doesn't appear entirely anymore.

Here is a screenshot:
![](https://i.imgur.com/QCRBMvc.png)

I'm running Firefox 57.0, but this also happens on Chromium 63. From what I understand, this doesn't happen to all projects, but I haven't found what the problem is.

[2018-01-05 20:50] almet commented on #305
This also seems to be the case with the email templates. Here is a stacktrace I got while trying to send an email with the "forgotten" credentials:

[code]

[2018-01-05 20:59] JocelynDelalande commented on #305
@almet oh shit. Are you working on a patch ?

2.0.1 ahead ;)

[2018-01-05 20:59] almet commented on #305
Yes, soon in your inbox :)

(FWIW, the hosted version is now updated)

[2018-01-05 21:46] almet opened #310 "After entering the admin password, I'm getting redirected to the homepage"
Everything is in the title.

[2018-01-05 21:55] almet commented on #310
This seems to be because the code checks for `pbkdf2:sha256` while my generated password is `pbkdf2:sha1`. This is probably because some hash algorithms aren't available on my target platform.

Still, we should not enforce the use of a specific algorithm, especially if it makes us not support passwords generated with our own method.

[2018-01-05 23:19] 0livd commented on #310
Hum...that's weird because this password check is only executed when the app is started and it only prints a warning.
There is a ``goto`` variable in the admin authentication logic which defaults to the home page and could explain your problem.
https://github.com/spiral-project/ihatemoney/blob/master/ihatemoney/web.py#L124
But yeah your fix is needed anyway :)

[2018-01-05 23:39] 0livd opened #312 "Document or remove sentry error reporting"
The flask application [is configured](https://github.com/spiral-project/ihatemoney/blob/master/ihatemoney/run.py#L132) to report errors to sentry but by default no actual sentry server is provided. So I guess we should at least document it or just remove it if nobody uses it (@almet ?).

Sentry doc: https://docs.sentry.io/clients/python/integrations/flask/#setup

[2018-01-07 19:51] Pofilo opened #314 "Add Version number ?"
I think we should add the version number of **ihatemoney** into the main page (and or somewhere else) in order to allow users to know which version is installed !

For example on [the hosted version](https://ihatemoney.org/), we can't easily know which version is installed.

[2018-01-07 20:37] JocelynDelalande commented on #314
Fair enough.

[2018-01-07 20:37] almet commented on #314
Hi, thanks for your comment.

From there, I started wondering about the security implications of displaying such a version number, and [it seems to be a best practice](https://security.stackexchange.com/questions/4940/is-displaying-what-server-i-am-running-on-the-error-pages-a-security-risk) **not to** display it.

I'm curious: what's your use case?

[2018-01-07 22:01] #305 closed

[2018-01-07 22:33] 0livd commented on #314
Hi @Pofilo, IMO this would be a nice to have feature but maybe only on the admin dashboard to mitigate the security issue raised by @almet.
That's the downside of having a Changelog, people now have easy access to the vulnerabilities of a specific version :).

[2018-01-24 13:49] almet opened #317 "Be listed on up-for-grabs.net"
We could probably get some visibility for open source hackers by being listed at http://up-for-grabs.net/#/

[2018-01-24 13:50] QuentinRoy commented on #317
That is a nice project.

[2018-01-25 16:29] rscoates opened #318 "Left sidebar is not scrollable"
If the left sidebar is too long, a user cannot see the balances for the remaining 'team' members. CSS overflow should be scrollable.

[2018-01-25 16:34] #318 closed

[2018-01-25 16:41] #298 closed

[2018-01-28 04:49] JocelynDelalande commented on #221
A quick-n-dirty-but-better-than-current-state workaround would be to use `input type=text` field for date, which would disable user-agent control.

[2018-01-30 17:00] mcnesium opened #319 "Docker: No module named 'flask_restful'"
I am failing to run this using Docker as described [in the docs](https://ihatemoney.readthedocs.io/en/latest/installation.html#with-docker). Any help?

##### Steps to reproduce:

    $ git clone https://github.com/spiral-project/ihatemoney.git && cd ihatemoney
    $ docker build -t ihatemoney --build-arg INSTALL_FROM_PYPI=True .
    $ docker run -d -p 8000:8000 ihatemoney
    $ docker ps

##### Ex

[2018-01-30 17:47] 0livd commented on #319
Hey @mcnesium,
Just add a quick look at this and it seems that when ``gunicorn ihatemoney.wsgi:application ...`` is run, it uses the ``ihatemoney`` package from the sources in ``/ihatemoney`` instead of the system package installed from Pypi. When installed from Pypi we would need to delete ``/ihatemoney`` or change the working directory.
If you want a quick fix, you can just delete your image and

[2018-01-31 10:28] mcnesium opened #322 "Docker: SECRET_KEY = ""xxxxxxxxxxxxxxxx"" SyntaxError"
Cloned from this repo into `/home/docker/ihatemoney/` I am trying to run this with docker-compose:

    ihatemoney:
      container_name: ihatemoney
      build: /home/docker/ihatemoney/
      links:
        - mariadb:mariadb
      ports:
        - "127.0.0.1:8000:8000"
      environment:
        - SQLALCHEMY_DATABASE_URI = "mysql+pymysql://ihatemoney:xxxxxxxxxxxxxxxx@mariadb"
        - SECRET_KEY

[2018-01-31 10:29] mcnesium commented on #319
thx that helped. but watch my other issue at #322

[2018-01-31 10:29] #319 closed

[2018-02-03 16:33] JocelynDelalande opened #323 "Remove sidebar on statistics view"
![image](https://user-images.githubusercontent.com/429633/35769223-30200dc0-0908-11e8-826f-1b8559e2b915.png)

It seems to me totally redundant with the central table. What do you think ?

[2018-02-06 18:07] almet commented on #323
Yes, it is! Removing the sidebar seems the way to go here.

[2018-02-18 18:04] Phyks opened #325 "Import date as well as bill date"
Hi,

There is currently a single date field on bills, reflecting the date of the bill.

It is usually helpful to have the date of addition as well. This is especially useful when adding long past bills so that the date reflects the real date of the bills, but to allow a way to sort and see last additions.

What do you think about adding a new date field on the bill to store date of last update? I

[2018-02-19 16:51] almet commented on #325
Hi @Phyks, if you have a use case where this new date field would be useful, go ahead!

[2018-02-19 19:21] Phyks opened #326 "Missing configuration option doc"
Hi,

it seems there is an issue with the table in the `installation.rst` file listing the configuration options and it is no longer rendered online: https://ihatemoney.readthedocs.io/en/latest/installation.html#configuration.

[2018-02-19 19:51] Phyks commented on #325
Hi,

I made a basic PR to propose it and discuss it a bit. My typical use case is that I'd like the date of the bill to be the real date, that is the date I paid on (for easy matching with my bank account for instance).

We tend to enter expenses sometimes a long time after we actually paid (typically adding a bunch of utilities bills at the same time, for the past months), and then it is super di

[2018-03-03 10:50] aavenel opened #328 "Spam on hosted ihatemoney demo"
Hi all,

I've noticed that there are some insults and low quality content on the demo project of https://ihatemoney.org/demo/

Perhaps we could try to reset each day the demo project with some example data ?

[2018-03-03 13:45] almet commented on #328
Yes ! I've actually deleted it just right now, the best way to do this seems to be with a few requests on the API and a crontab…

[2018-03-03 15:19] Phyks opened #329 "Redirection to HTTP version on authentication"
Hi,

I have a ihatemoney instance served over HTTPS. It seems that when I authenticate, the `/authenticate` endpoint sends a 302 to the root of my instance (as expected) but the URL is a full URL to HTTP version.

This is not a big deal as I have automatic upgrade from HTTP to HTTPS, but it blocks the ability to use ihatemoney from within an iframe (blocked mixed content).

I guess this is coming

[2018-03-15 22:18] zorun opened #330 "`ihatemoney` command should not hide stderr"
I followed the [documentation](https://ihatemoney.readthedocs.io/en/latest/upgrade.html) to upgrade from 1.0 to 2.1.  I created a new virtualenv and installed ihatemoney 2.1 in it:

[code]

However, I was puzzled because the `ihatemoney generate-config` command output nothing, and did not seem to create any file.

After playing a bit and reading the code:

[code]

First, I am not sure why it tries

[2018-03-15 22:45] zorun opened #331 "500 error (session serialisation issue) after upgrading from 1.0 to 2.1"
I did the following:

- upgrade from 1.0 to 2.1, following the [instructions](https://ihatemoney.readthedocs.io/en/latest/upgrade.html)
- take the opportunity to switch from python2 to python3 (new virtualenv on Debian stretch)

However, I got a 500 error when I first loaded the new version of Ihatemoney with Firefox.  Here is the traceback:

[code]
(I have obviously scrambled the actual hexadecim

[2018-03-15 23:08] zorun commented on #136
Having a graph for statistics would be very nice, and probably not that hard to do, I can give it a try :)

I think this kind of simple line chart would be easier to read: http://www.chartjs.org/samples/latest/charts/line/basic.html
There would be one line for each participant, and one point per month showing the balance for the month.  There could be an option to show the cumulative balance inste

[2018-03-16 08:36] Natim commented on #136
@zorun thank you for your message and welcome to this project.

I don't think the project already have a REST API, so if you were to build one, it would be a bit of work. (CORS, Auth, utilities, documentation).

Also it might be a interesting project to build one.

For now, I guess having a django rendered view would be good enough.
I also wish to have a table explaining how much money users spend

[2018-03-16 08:49] zorun commented on #136
Hi @Natim

There are already such statistics shown in a table, from #257 :) see for instance https://ihatemoney.org/demo/statistics

Regarding the API, I was thinking of using this one https://ihatemoney.readthedocs.io/en/latest/api.html

[2018-03-20 20:15] mcnesium opened #332 "docker-compose production setup"
I keep failing to run this project in a productive Docker environment. Several attempts to go [after the documentation](https://ihatemoney.readthedocs.io/en/latest/installation.html#with-docker) failed because the config file kept being overwritten by the default values from either [here](https://github.com/spiral-project/ihatemoney/blob/master/conf/confandrun.sh#L2) or [here](https://github.com/s

[2018-03-21 08:47] tagru opened #333 "Add a new bill - Sort members alphabetically"
When a new bill is added, the members in for whom was paid are not sorted alphabetically. It looks like they are sorted by the order in which they were added (probably ID).

Can this be changed?

The member overview on the left side already does this correctly IMO.

[2018-03-21 14:50] almet commented on #333
Yes, it's possible! Here is where you should change the code: https://github.com/spiral-project/ihatemoney/blob/master/ihatemoney/templates/forms.html#L104

[2018-04-20 04:24] dthrash opened #334 "Admin password: This admin password is not the right one. Docker container"
I have modified the Dockerfile to include an admin password. I have built the project multiple times using "docker build -t ihatemoney --build-arg INSTALL_FROM_PYPI=True ."

Every time when logging in as an admin, the software says my password is wrong. Which is not the case. How can I go about troubleshooting this error in more detail?

[2018-04-22 18:12] dthrash commented on #334
Receiving the below error message.
After running: `docker exec -ti ihatemoney ihatemoney generate_password_hash `
After receiving a password prompt. The password was entered and a hash was returned.
I then rebuilt the docker image after adding the hash into the config. Still not working.
I noticed that if I enter the same password multiple times, a different hash is presented every time. Shouldn't

[2018-05-10 20:17] Glandos opened #336 "Update translations documentation"
Here is the actual workflow:
[code]

This should be in the doc and the `Makefile`. Note however that the current POT is **very** outdated. I've run it on a local branch, and nearly every reference has to be updated.

[2018-05-10 21:39] 0livd commented on #336
Actually there is already a helper for this in the Makefile which can be run with the following command:

    make build-translations
But you're right, this should be documented somewhere.

[2018-05-11 07:42] Glandos commented on #336
`make build-translations` only compile existing translations to MO files. If new translations string are added (like in #335), then the whole process is needed.

And after running every command, I concluded that this hasn't been done for a loooong time :wink:

[2018-05-12 12:42] almet opened #337 "Upgrade to Flask 1.0"
https://www.palletsprojects.com/blog/flask-1-0-released/

[2018-06-08 14:45] Pofilo commented on #314
Ok, good reason :)

[2018-06-08 14:45] #314 closed

[2018-06-17 08:05] JocelynDelalande opened #339 "drop location comments in pot/po files"
Diff implying po/pot files are hard to review with git because of location comments (ex: https://github.com/spiral-project/ihatemoney/pull/338/files ) that will trigger irrelevant diffs all the time (line numbers change).

OK if we drop them ? (using `pybabel --no-location`). In the same idea, we could drop totally the po/pot header (but I see no option for that).

All those features have an inter

[2018-06-24 11:08] jhass opened #340 "pip 10 breaks setup.py"
The `req` module is gone. My current workaround is to `pip install pip==9.03` in the virtualenv.

[2018-06-24 23:41] JocelynDelalande commented on #340
Thanks @jhass this is pretty bad.

https://github.com/capless/warrant/pull/101/files for a possible fix.

Anyone to implement and test ?

[2018-06-27 08:39] almet commented on #339
That's okay for me! Let's keep things straightforward!

[2018-07-05 19:31] Nartagnan opened #342 "Problem with division and sum"
With unexact divisions, as dividing by 3 a facture of 30.50€, the sum in the sidebar is inexact.
When doing reimbursement, impossible to sold the accounts neatly.

[2018-07-05 19:35] Nartagnan commented on #342
Perhaps generating an "extra cent" (or the opposite), the one receiving it being sorted randomly with the name of the project and the number of the user, and the number of factures.
Possible to put a star near the user holding the "extra cent" (or a black star for the one lacking a cent)

[2018-07-05 19:42] Nartagnan opened #343 "Settle"
No possibility to easily settle accounts.
It is the same than a bill but for only one to one. It could appear in an other color in the "Bill" tab.
Perhaps having a button at each line "account settled" to automatically create the according bill.
(In bills tab, having a different color for settle transactions and bills)
Also having an other button in the "Settle" tab : "other reimbursement" which o

[2018-07-05 19:44] Nartagnan opened #344 ""languages" buttons not visible enough"
It is perhaps a detail, but at first I didn't saw the site was available in French.

[2018-07-05 19:45] Nartagnan opened #345 "Translation - Some strings are not translated"
I was creating the "test1234" project, with FR interface, but the error message was in english.

[2018-07-05 19:50] Nartagnan opened #346 "UX : error message for "project's name already taken""
The error message was in red, as for a technical problem. Perhaps having a friendlier one as it is not critical.
Also, when you try something else, if it is also used, absolutely nothing change. (if the message do not change, I just though "I didn't click, I'll try again", but it was not that)
I suggest :

If the message is dynamic, it will be also easier to understand what it is about.

[2018-07-05 19:53] Nartagnan opened #347 ""This is a free software" could open in a new tab"
Detail, but as it log out, opening it in a new tab would be nice.

[2018-07-05 19:56] Nartagnan opened #348 "Legal disclaimer - About"
There is no link to a legal disclaimer.
It would be different for each instance, but I think it is a legal obligation. It could also indicate who and where the data is held, the license (because Github is ugly), etc...

[2018-07-05 21:07] Nartagnan opened #349 "Bug : trying to access a deleted bill"
When you double-click to delete a transaction, you go on a 404 error.
When you go back <- the transaction seems to still be here (but it is deleted, and the page is not refreshed) and trying to delete it again => 404.

Replacing this 404 by "transaction inexistent or already deleted" could be a solution.
Filtering the double-click could be nice too.

[2018-07-05 21:10] Nartagnan opened #350 "No error message when the name of a participant already exists"
When trying to create a participant with an existing name => go to a weird page.
With the double-click problem and the non-refreshing problem (cf issue #349 ) it can be frustrating.

[2018-07-05 21:11] Nartagnan opened #351 "Augment the settle tab with a graphbar"
Adding a horizontal graphbar under everyone name (in transparency ?)

[2018-07-05 21:12] Nartagnan opened #352 "Project name not visible enough"
Name of the project not really visible. Could be problematic when having more than 1 project.

[2018-07-05 21:15] Nartagnan opened #353 "Possibility to had the same name with juste blank space"
No visible difference when adding "Bob" and "Bob ".

[2018-07-05 21:16] Nartagnan opened #354 "Negative share => crash"
When trying to put a share at "-1" the site crash.

[2018-07-05 21:17] Nartagnan commented on #354
Error 500

[2018-07-05 21:20] Nartagnan opened #355 ""For whom?" shares not repeated"
A (x2) or (x3) etc... could be repeated in the "for whom ?" of a bill.

[2018-07-06 07:39] Glandos commented on #353
Project name or members should be stripped before validation

[2018-07-06 09:28] almet commented on #352
Then that seems to be a style issue. The name of the project appears on the top right. What kind of changes do you suggest to be more visible?

[2018-07-06 09:29] almet commented on #355
Hi,

I don't understand what you want to say with this issue. Can you elaborate?

[2018-07-06 09:30] almet commented on #353
Yep, that seems to be an easy thing to do. If anyone wants to go for it, don't hesitate!

[2018-07-06 09:32] almet commented on #351
This seems related to #136. It seems it would visually help to have these graphbars :-)

[2018-07-06 09:36] almet opened #356 "Create specific 404 pages for transactions, users etc."
Or at least a minimal 404 with the theme of the project rather than the default "naked" one.

[2018-07-06 09:38] almet commented on #349
Nice catch for the double click! It seems an easy fix (let's catch the double click in addition to the simple click).

The 404 page actually seems normal: the bill doesn't exist anymore. Although we could improve the 404 pages as well. I've created #356 for it.

[2018-07-06 09:39] almet commented on #348
Thanks! I've tagged this as a good first bug. Don't hesitate to take it over if you want!

[2018-07-06 09:41] almet commented on #347
This is done intentionally. I believe the good practice here is to let the user chose - browsers have features for that. I believe we should not hijack them.

[2018-07-06 09:41] #347 closed

[2018-07-06 09:42] almet commented on #346
Nice one! I agree, let's change this :)

[2018-07-06 09:43] almet commented on #345
Probably is just because it's not translated… Easy to fix :-)

[2018-07-06 09:44] almet commented on #344
I believe this is a dupe of #35

[2018-07-06 09:52] almet commented on #350
I believe it's because no error is shown.

[2018-07-06 09:53] almet commented on #344
Ah, apparently not. Let's keep the discussion going. I think that if you found it afterwards it's good enough. What do you propose ?

[2018-07-06 09:57] almet commented on #343
See #137.

[2018-07-06 09:57] #343 closed

[2018-07-06 09:58] almet commented on #342
See #165.

[2018-07-06 09:58] #342 closed

[2018-07-06 10:02] almet commented on #355
I'm going to answer here for all the issues you've opened: thanks for taking the time to do it, it's appreciated.

As you can see from the list of issues open in the project, we have quite a few things that could be improved, but aren't a lot of people to work on the project on a regular basis. It works well, though.

If you want to give it a spin and fix a few of the issues you've opened, don't h

[2018-07-07 20:13] JocelynDelalande commented on #340
note that this is why current travis CI is broken on master.

[2018-07-09 08:00] Nartagnan commented on #355
Hello,
no problem, we did a "test party" at the contrib'atelier thursday, and somebody told me about your awesome project. I'm not a dev, so I can only test things and give my thoughts. I'm just trying to help, no bad feeling if it is not implemented.
Tell me if it is more a bother than an help.
I'll add details where needed.

[2018-07-09 08:03] Nartagnan commented on #355
I suggest, when somebody have 2 shares, to show it in the bill :
2018-07-05 | bobby | essai2 | bobby, bob, tobby | 30.50 (7.62 each)
Could be modified in
2018-07-05 | bobby | essai2 | bobby (x2), bob, tobby | 30.50 (7.62 each)

[2018-07-09 08:06] Nartagnan commented on #344
Flags is not good, but perhaps adding a label :
Language : EN, FR
in bold, and in MAJ for the languages perhaps ?

[2018-07-09 08:09] Nartagnan commented on #352
I suggest, instead of :
LOGO    |    Bills / Settle / Statistics    |    Lang    |    Project's name
Having
LOGO    |    Project's name (in bold)    |    Bills / Settle / Statistics    |    Lang    |    Settings icon

Must be tested with the smartphone rendering.

[2018-07-09 08:10] Nartagnan commented on #354
Thursday it was a bug, now it is working (even if having a -1 share should not be possible)

[2018-07-09 20:01] almet commented on #354
Actually [it's a feature](https://github.com/spiral-project/ihatemoney/commit/a1f1655f063f8f6e20ec940b9dd20d1945e5a770) ;) (Useful to say that the system reimbursed you. It's not explained anywhere because it's intended to stay around as a hack)

[2018-07-09 20:01] #354 closed

[2018-07-09 20:02] almet commented on #352
That sounds great! Let's do it !

[2018-07-09 20:05] almet commented on #344
I'm not a big fan about adding yet another text here that will probably clutter a bit the UI.

What about having this in the settings instead? We could:

- detect the language automatically with the browser settings (a specific HTTP headear `Accept-Language` I think is sent)
- in the settings, make it possible to change the language?

That should get us covered for 80% of the users.

[2018-07-09 20:06] almet commented on #355
Ah I see ! Why not :-)

[2018-07-14 09:03] Nartagnan commented on #354
Nice one ^^

[2018-07-16 20:49] JocelynDelalande commented on #355
Interesting. @Nartagnan thanks for all that feedback !

I however see a risk of reducing list readability (I think about cases with groups >5 people where everyone has a share > 1, eg: counting meals over a week for a group).

Not saying it is a bad Idea, just thinking about it :-)

[2018-07-16 20:52] JocelynDelalande commented on #336
Fixed by #338

[2018-07-16 20:54] JocelynDelalande commented on #336
Oh no, this is not fixed as this is not documented nor added to Makefile yet. My bad.

[2018-07-16 21:03] JocelynDelalande commented on #340
Fixed via #341

[2018-07-16 21:03] #340 closed

[2018-07-17 13:31] rlecellier opened #361 "Internal Server Error on connection"
Hi,
I currently use ihatemoney to handle my loan budget. Today i add a user (THE bank) that have 0 weight.
Then i add a bill payed by someone and that should be paied back by THE bank.
-> internal server error.
-> impossible to access previous accounting.

Is it possbile to (by order of preference):
* fix it without me doing anything <3.
* get a csv export of pre-bug budget
* get access to the log

[2018-07-17 15:29] almet commented on #361
Salut Romain,

A few things:
- It seems weird to me to have someone with a weight of zero.
- If you want me to have a look at it, I'll need a way to access your project. Ideally the project name and access code.

Thanks !

[2018-07-18 05:50] JocelynDelalande commented on #361
Hello @rlecellier

Following IHM weights logic : if *THE bank* has a zero weight, it would never owe money to anyone.

How did you understand the zero-weight case ?

(anyway, we should not crash with Internet Server Error, that seems like a bug)

[2018-07-18 11:23] almet commented on #361
We probably should not allow a weight of zero, and validate the inputs?

[2018-07-18 11:29] JocelynDelalande commented on #361
Alexis Metaireau <notifications@github.com> wrote:

Sounds like the thing to do for now.

[2018-07-18 13:31] almet opened #362 "Do not allow zero weight inputs"
Related to https://github.com/spiral-project/ihatemoney/issues/361#issuecomment-405899614

[2018-07-18 21:51] zorun commented on #354
Actually, it depends what a "share" means in the original report.

If it's the amount of a transaction that's negative, then indeed it works (although it's hard to understand what it means!)

If it's the weight of a person that's negative, then it crashes ihatemoney, probably for the same reason as #361   I tried on https://ihatemoney.org/demo/ unfortunately, it's now broken…

[2018-07-19 12:19] almet commented on #354
I think we have a bug! Thanks for the report, we'll try to issue a fix for it. Don't hesitate to have a look if you want in the meantime :-)

[2018-07-29 19:55] Jojo144 opened #363 "Intégration d'illustrations"
[English sum up: some illustrations, only in French for the moment, that could be integrated to explain the software]

Avec une amie nous avons réalisé quelques dessins pour faire une sorte de manuel d'utilisation en BD :
https://cloud.girole.fr/nuage/index.php/s/TsdJQWFtoj6nLyY
Est-ce que ça vous dirait qu'on les intègre à I Hate Money ?
Ce à quoi on a pensé : une boite de dialogue de bienvenue s

[2018-07-30 14:39] Jojo144 commented on #363
Yep, traduire c'est facile par contre soit il faut réintégrer aux images de façon pas trop moche soit il faut réécrire à la main par dessus les dessins originaux, à voir ...
On sait si il y a vraiment des utilisateurs anglophones ?

J'ai ajouté les sources dans le dossier mais c'est à peut près ce que j'avais envoyé : les dessins ont été fait à la mains et scannés. J'ai juste fait quelques retouch

[2018-07-30 15:58] almet commented on #363
Je sais qu'on a des utilisateurs anglophones, c'est certain, mais je n'ai pas de stats.

[2018-08-05 12:28] #306 closed

[2018-08-05 12:39] #310 closed

[2018-08-05 12:59] #336 closed

[2018-08-05 12:59] #339 closed

[2018-08-05 14:33] almet commented on #362
If anyone got some time to review, that would be great!

[2018-08-05 14:58] almet commented on #361
It should be fixed currently on master and on the website

[2018-08-05 14:58] #361 closed

[2018-08-05 15:00] almet commented on #355
I'm going to close this one as I think it's the same as what's currently proposed in #335. Don't hesitate to reopen if I'm wrong.

[2018-08-05 15:00] #355 closed

[2018-08-05 16:34] almet commented on #136
@zorun we never actually answered you! I think the best way to go is to integrate the Javascript in a view to be served directly by the python app. While this method is subject to discussion, it's the way all the project is currently built, so we better stick with it for clarity :-)

If you want to work on this (or if anyone wants), don't hesitate, that would be a welcome addition! Cheers!

[2018-08-05 17:00] almet commented on #348
Actually, I'm not sure exactly what I should do, and what is legally mandatory. Do you have more information on this, so we can update the ihatemoney instance and include terms of service etc?

[2018-08-05 18:58] almet commented on #345
I've fixed it for this specific message, if other messages show up in english and you're in french, it's a bug!

[2018-08-05 18:58] #345 closed

[2018-08-05 19:00] almet commented on #351
I wonder what would be useful here? Should the bars show the current balance, or should they show the different values for different users, at different dates (for instance once per month?)

[2018-08-05 19:01] almet commented on #334
I'm not using docker, but maybe @0livd or @pR0Ps can help here?

[2018-08-05 19:11] almet commented on #332
Hi, I'm sorry I can't really help you out on this, as I don't run docker myself. Maybe @0livd or @pR0Ps can help you on this one?

[2018-08-05 19:13] almet commented on #331
I think it's a matter of having stuff stored in the session that's not compatible after the upgrade. If you want to have a better look at it, don't hesitate, I don't know what to do with it so far :)

[2018-08-05 19:13] #331 closed

[2018-08-05 19:16] almet commented on #330
Here is a related discussion we had about this: https://github.com/spiral-project/ihatemoney/issues/277

[2018-08-05 19:18] almet commented on #329
Does the last changes introduced by https://github.com/spiral-project/ihatemoney/commit/c1b5eb1375cef77454973d5345628de1a9fe9ae6 fix the issue for you?

[2018-08-05 20:00] almet commented on #326
This doesn't seem to be the case anymore, but I believe these options should be made more readable, see #251

[2018-08-05 20:00] #326 closed

[2018-08-05 20:39] almet commented on #322
Did you manage to make it run in the end?

[2018-08-05 20:39] almet commented on #307
Will be fixed with #369

[2018-08-05 20:39] #307 closed

[2018-08-05 20:41] almet commented on #304
I would assume that these are passed by default, no?

[2018-08-05 21:11] almet commented on #337
After testing locally, it seems that nothing special needs to be done. Closing.

[2018-08-05 21:11] #337 closed

[2018-08-05 22:11] almet commented on #241
I can't reproduce, closing.

[2018-08-05 22:11] #241 closed

[2018-08-05 22:17] almet commented on #219
It's been a while since we discussed this, apparently the issue is gone on latest firefox on my mobile. Can you confirm?

[2018-08-05 22:19] almet opened #382 "Make a true mobile-friendly version"
Even if the current version is usable, it's not really pleasant. For instance, you need to scroll horizontally to see all the columns on the table. Taking some time to fix this would be helpful :)

[2018-08-05 23:17] almet commented on #363
J'ai commencé à intégrer les illustrations, voire #383

[2018-08-09 20:32] pyg77 commented on #219
Works perfectly on the demo :)
Thanks everybody!

[2018-08-09 20:32] #219 closed

[2018-08-10 20:46] 0livd commented on #334
Hey, just pushed a PR which fixes this. The problem is that the password hash contains a ``$`` sign which is interpreted as an inner variable by the bash interpreter. Using single quotes instead of double when writing the configuration fixes it.

The password hashes are salted so it's the expected behavior :)

[2018-08-10 21:24] #334 closed, assigned to nobody

[2018-08-10 22:11] #312 closed

[2018-08-10 22:13] #255 closed

[2018-08-29 14:54] ari-s opened #385 "Shared account mode - settle complete project"
suppose a group of people have a shared account (my flatmates and I have one to pay rent). I propose the following:

- add a project setting "shared account"
- in the "settle_bill"-route add a "settle project" button that creates transactions s.t. everyone has a balance of 0. This button is visible only if the project is a shared account.
- add a way to see the values of past settlements - that is

[2018-08-29 19:31] JocelynDelalande commented on #385
Thanks for your suggestion.

I am not sure to get it. So I will maybe ask stupid questions until I understand :-).

If you are speaking of a bank account, at first glance I do not see the point, as an operation paid by the shared bank account is a no-op in terms of users balance.

That is exactly #137, no ?

(what is that abreviation : "s.t." ?)

[2018-08-31 20:18] ari-s commented on #385
s.t. means "such that", but seems like it's used mostly in mathematics

Maybe we're trying to use ihatemoney a bit differently from what it's designed for: we have a shared account. Everyone pays his/her part of the rent to this account and it pays rent for the whole flat, but we also use it to split smaller, often but irregularly occuring bills - think grocery shopping. And this is where expense

[2018-08-31 20:18] #385 closed

[2018-09-03 18:46] almet commented on #385
Hi, and thanks for opening a discussion about this.

I also had a hard time understanding what a shared account is in your initial message :-) It's now clearer with your latest explanations, thanks !

If I understand correctly, it would be useful to you to have a way to tell that everybody settled its debts, not by transferring money to someone else, but by making a transaction to a central accoun

[2018-09-03 18:51] almet opened #389 "Decide which browser versions we want to support"
In #371 @bnjbvr proposed to use es6, but I don't think we made a call on which browsers versions we want to support in general for the project, hence this discussion. Any opinions?

[2018-09-03 18:54] #356 closed

[2018-09-03 18:54] #251 closed

[2018-09-03 18:55] #278 closed

[2018-09-03 18:55] Phyks commented on #389
We can still use ES6 style and use [Babel](http://babeljs.io/) to transpile the ES6 code to regular ES5 code and polyfill the extra required features. A lot of client side code is using it and it totally makes sense in my opinion, but is likely to come up with #296. Using Vue or React, basically requires using Babel.

[2018-09-03 18:55] #260 closed

[2018-09-03 18:58] #333 closed

[2018-09-03 18:59] #350 closed

[2018-09-03 20:12] almet opened #390 "Document how to create database migrations"
It's currently undocumented, and I'm having a hard time remembering how this works :)

[2018-10-03 18:42] 0livd commented on #322
Hey @mcnesium ,

I was able to make the following docker-compose.yml work with docker-compose v1.20

    version: '3'
    services:
      ihatemoney:
        container_name: ihatemoney
        build: .
        ports:
          - "127.0.0.1:8000:8000"
        environment:
          - SQLALCHEMY_DATABASE_URI = mysql+pymysql://ihatemoney:xxxxxxxxxxxxxxxx@mariadb
          - SECRET_KEY=xxxxxxxxxxxxxxx

[2018-10-04 08:20] Gredin67 opened #393 "Set prefered person for refunding"
It would be nice to be able to declare that some people live together (for instance two lovers) and thus can easily exchange money. Then the engine computing how to equilibriate would consider those two people as a single one regarding to the others (sum their expenses). Of course the engine would also give them what they owe each other.

[2018-10-04 13:02] mcnesium opened #394 "Infinite redirect loop"
Freshly cloned from master (https://github.com/spiral-project/ihatemoney/commit/03c41a2b9601da65309d80e24b99864d713ff2c0) with [this](https://github.com/spiral-project/ihatemoney/issues/322#issuecomment-426751335) `docker-compose.yml` added, I am trying to run this thing doing `docker-compose up -d`. Unfortunately I am getting an **infinite redirect loop** instantly.

[code]
[code]
Maybe related t

[2018-10-04 13:04] mcnesium commented on #322
Thank you for replying, this helped. …and took me straigth to the next issue #394

[2018-10-04 13:53] almet commented on #393
Hi, thanks for taking the time to open this.

Can't this be solved by having a member named « Marc + Léo »?

[2018-10-04 14:50] JocelynDelalande commented on #393
No, the following is not handled : 

First thinking : I feel it is a bit clumsy/hard to understand to
have that couple considered both as one person and as two.

However, I think I see the use case : to hint the funding towards
one person. Put another way : to have a setting on each user to
tell which user you prefer to refund.

At first glance, that approach seems feasible, but I'd put a
warning

[2018-10-04 20:18] #322 closed

[2018-10-12 23:05] JocelynDelalande opened #396 "Are we ready for 3.0 release ?"
I recently hit the issue fixed by #358, which is unreleased yet.

That remembered me that we have a bunch of fixes that would be happy to slip in a release, I updated the changelog and it starts looking yummy :-).

https://github.com/spiral-project/ihatemoney/blob/master/CHANGELOG.rst

## Numbering

I'd suggest 3.0. Rationale : as we are dropping sentry support, update cannot be done blindly for s

[2018-10-28 14:38] mcnesium commented on #394
Looks like something went wrong with the build of the docker image, because I doublechecked `web.py` in the running container and found that the patch did not arrive there. So I just rebuilt it and now it does not have the redirect loop anymore. For now I think this issue is obsolete…

[2018-10-28 14:38] #394 closed

[2018-11-25 19:06] JocelynDelalande commented on #396
Hurray, 3.0 [is out](https://pypi.org/project/ihatemoney/#history) ! :champagne:

#366 and others will ship in future release :-)

NB: Seems that I hit some strange shit in zest.releaser neamwhile :

See https://github.com/zestsoftware/zest.releaser/issues/297

I worked arround with https://github.com/spiral-project/ihatemoney/commit/1faf40ae8fbb333b8a3f4431b9e73c0544d0a236

[2018-11-25 20:38] JocelynDelalande commented on #396
Weirdly, travis started yelling about some flake8 issues on my release commit.

Can't figure out why it broke at this moment, the changes I made to fix it were totally unrelated to my previous commits. Useless mystery :)

[2018-11-30 13:42] JocelynDelalande commented on #396
Yes.

And a note stating that sentry will stop working after this upgrade (if used). That is the « breaking » thing.

[2018-12-03 11:08] JocelynDelalande opened #399 "Mettre à jour zest.releaser > 6.15.3"
Corrige https://github.com/zestsoftware/zest.releaser/issues/297#issuecomment-443666361

Suite au bug que j'avais rencontré en publiant la 3.0 de ihatemoney (#396 )

[2018-12-08 16:31] #396 closed

[2018-12-08 16:32] JocelynDelalande commented on #396
Done, thanks @zorun :-)

[2018-12-10 14:04] VSCHULTE opened #400 "hosted version down"
i had 3 acounts there and the last export is really old.
will it be back online? do you have any backup?

[2018-12-10 14:50] almet commented on #400
Hi,

The server I've been using to host ihatemoney.org is unfortunately dead, and the data with it is also gone. I was doing backups but they stopped syncing without me noticing so there is no way to get the data back.

So, ihatemoney.org website will be back but without its data. It will happen when I'll get some time to do it, probably during the next week.

[2018-12-10 14:50] #400 closed

[2018-12-18 15:14] Eole211 opened #401 "ihatemoney.org down"
https://ihatemoney.org seems unreachable for more than 10 days..
Does anybody know anything about that ?

[2018-12-18 15:19] Glandos commented on #401
See #400

[2018-12-18 15:34] almet commented on #401
Sorry about that, the data won't come back. It will eventually be back online, when I get the chance.

[2018-12-18 15:34] #401 closed

[2018-12-18 17:47] Eole211 commented on #401
thank you for your answer. Sad for the data :-s

[2018-12-19 23:48] almet commented on #401
The hosted version is now back online, but without its data. A proper backup strategy is now used so tihs won't happen again.
If you're interested, you can also subscribe to the mailing list to get updates about new features / problems if they arise. It's at https://mailman.alwaysdata.com/postorius/lists/info.ihatemoney.org/

Cheers

[2018-12-19 23:49] almet commented on #400
The hosted version is now back online, but without its data. A proper backup strategy is now used so tihs won't happen again.
If you're interested, you can also subscribe to the mailing list to get updates about new features / problems if they arise.

It's at https://mailman.alwaysdata.com/postorius/lists/info.ihatemoney.org/

Cheers

[2018-12-20 07:18] JocelynDelalande opened #402 "Enhance documentation about YunoHost install"
Now that package is up-to-date… Should we…

List YNH it as one of official installation methods ?

Display a nice button ?
[![Install « I hate money » with YunoHost](https://install-app.yunohost.org/install-with-yunohost.png)](https://install-app.yunohost.org/?app=ihatemoney)

 - in doc ?
 - in readme ?

[2018-12-23 14:30] almet opened #403 "Document unicode settings for postgresql Database"
Not sure why?!

[2018-12-23 22:44] almet commented on #403
On the hosted version, when you add a new bill.

[2018-12-23 22:48] almet commented on #403
[code]

[2018-12-25 12:57] Natim opened #404 "Handle API CORS configuration"
CORS « Access-Control-Allow-Origin » header is missing.

[2018-12-25 13:26] Natim opened #405 "Update API project list"
Today's API looks like that:

[code]

I think it would be better to return:

[code]

[2018-12-25 14:07] Natim opened #406 "API refuse non ascii member's name"
I have no issue with the interface, but the API raises a 400.

[2018-12-25 15:40] almet commented on #404
Please, disregard this last comment: it's already the case: flask-resful is used thanks to the work that @0livd did in #315. I'll check why it's not working properly with CORS requests.

[2018-12-25 15:50] #325 closed

[2018-12-25 16:30] almet commented on #404
See https://github.com/spiral-project/ihatemoney/pull/407/files

[2018-12-25 16:41] #390 closed

[2018-12-25 17:14] #404 closed

[2018-12-25 17:16] almet opened #408 "Test database migrations"
I've just stumbled across this little utility, that might help us :-) https://alembic-verify.readthedocs.io/en/latest/

[2018-12-26 03:31] Ullauri commented on #405
New to the project, I can help with this =)

[2018-12-26 18:07] #405 closed

[2018-12-28 07:19] Natim opened #410 "API fail with 500 when editing a member with a non ascii character."

[2018-12-28 08:51] Natim opened #411 "API reactivate call is missing."
The DELETE can deactivate the user, however while there is a reactivate action in the app, there is no with the API.

[2018-12-28 08:57] Natim commented on #411
I was able to use the PUT method with the `name` and the `activated: True` parameter to do it.

[2018-12-28 08:57] #411 closed

[2018-12-28 09:01] Natim opened #412 "Expose invitation link creation via the API"
Is it possible to get an invitation link for a project using the API?
Can we make it possible ?

[2018-12-30 23:55] almet commented on #412
I think that currently it's not possible. But it shouldn't be too complicated to do via the API!

[2019-01-03 09:03] #234 closed

[2019-01-03 09:05] almet commented on #412
This means different things:
1. Create an endpoint which can generate a new auth token
2. Accept a new authentication scheme, with the auth token

[2019-01-03 10:45] Phyks commented on #235
I think this can be closed with #413 merged, isn't it?

[2019-01-03 11:16] almet commented on #235
I believe, yes.

[2019-01-03 11:16] #235 closed

[2019-01-09 06:36] Natim opened #414 "Add a way to flag a bill as a reimbursement so it is not counted in the stats"

[2019-01-13 13:00] 0livd commented on #403
Hey, it seems that Sqlalchemy has somehow detected that it should talk to your database engine in ASCII. You should check your database config to see which encodings it accepts or maybe try to tune Sqlalchemy settings to force an encoding.

[2019-01-13 14:53] JocelynDelalande commented on #403
So is this something we can handle/enhance on our side ?

[2019-01-13 15:45] almet commented on #403
It seems there are multiple ways to solve this:
- by changing the configuration on the deployed server (which I just did, but haven't tested yet if it solves the problem)
- by enforcing the encoding of the connection, but after a quick look I didn't find how to do so with our codebase.

[2019-01-13 15:46] almet commented on #403
Actually just tested and it seems solved by my config change.

[2019-01-13 17:04] JocelynDelalande commented on #403
Maybe it is relevant to document it in our manual for postgresql configs ?

[2019-01-16 11:38] almet commented on #403
It is!

FTR, I've added `?client_encoding=utf8` to the connection string.

[2019-01-16 12:13] #403 closed

[2019-01-24 11:13] almet opened #416 "Auto export backups"
After the crash of my server, I've been thinking. Almost everyone lost their data even if it was possible to create backups.

Since it's possible to have a json export of the data, it's possible to provide an automated user-centric backup system.

For instance, it's completely possible to export the .json files each month, by sending an email or pushing it to a cloud system somewhere.

[2019-01-24 11:15] almet commented on #149
For future reference, @Natim started working on exaclty this, powered by elm. It's at https://github.com/spiral-project/elm-ihatemoney

[2019-01-24 11:58] almet opened #417 "Add a way to import previously exported json data"

[2019-01-24 11:58] almet commented on #416
Thanks for the feedback. I highly think that having a backup solution on the server is a must have. That being said, for non tech-savvy users backup ninja + borg is a no go.

The idea behind having backups sent to their email addresses is to have something easy to use for non tech people, with a low barrier to enter (everyone already has an email address, and we actually already have it in the db)

[2019-02-10 22:12] almet opened #418 "Items don't seem to be ordered by date"
Bills doesn't seem to be listed by date!

[2019-02-11 12:29] zorun commented on #418
Do you have a screenshot of the issue?

It's probably caused by 0428cf06b50203432cb39bde95e450a481392797 (@Phyks ): bills are now ordered by creation date first. Maybe the ordering is messed up when the creation date is NULL for some bills?

[2019-02-11 13:16] almet commented on #418
Here is the screenshot.

![capture du 2019-02-11 14-15-12](https://user-images.githubusercontent.com/67073/52565618-a0447300-2e07-11e9-9dbf-56ab1f2991f8.png)

[2019-02-11 13:19] almet opened #419 "Redundent labels on bill list"
We've recently added the « Added on » label on the bill list. At least for me, I don't find this information useful, as it's almost always a duplicate of the « When » field.

Maybe should find a way to remove this info if it's the same?

[2019-02-20 09:03] Natim opened #421 "Drop support for Python < 3.6 and use f-strings"
![image](https://user-images.githubusercontent.com/229453/53079468-c26c7e00-34f6-11e9-8acd-7b31081c24f4.png)

[2019-02-20 09:04] #399 closed

[2019-02-22 19:37] zorun commented on #421
Debian stretch comes with python 3.5, so dropping support for it does not look like a great idea…

[2019-02-23 09:50] Glandos commented on #421
Indeed, but Buster will be delivered with 3.7.

Will a backport be in Stretch?

[2019-02-24 16:35] zorun commented on #421
I doubt very much that python 3.7 will be backported to stretch.  I expect that lots of servers will continue to use stretch for some years to come: it will receive security support from the Debian team until 2020, and then it will get LTS support until June 2022: https://wiki.debian.org/LTS

So, unless there is a very good reason to drop support for Python 3.5, please avoid doing this!  F-strings

[2019-02-24 19:51] Natim commented on #421
Thank you for your insights on this, I am closing for now.

[2019-02-24 19:51] #421 closed

[2019-02-24 20:37] Glandos commented on #421
@zorun You're right on a lot of aspect, and I agree that supporting 3.5 is a good idea.
But f-strings are not __only__ cosmetic: https://cito.github.io/blog/f-strings/

[2019-03-05 14:23] eneiluj opened #422 "default server URL in MoneyBuster Android client"
Hi there,

MoneyBuster is an Android app which is compatible with IHateMoney API. It just got accepted in F-Droid today and I realize the default server URL for "IHateMoney" projects is "https://ihatemoney.org". Are you ok with that? I can change it in next release.

[2019-03-05 14:46] almet commented on #422
Hi, glad to hear there's such an app coming along :-)

I'm pretty okay with it using the demo server, as long as the users don't think this server will be available 100% of the time. I don't guarentee any uptime on this server (even though I believe it just works most of the time).

[2019-03-05 14:50] eneiluj commented on #422
I'm glad you're glad :wink:.

It could be useful to say talk about the uptime on the main page of the instance.

[2019-03-05 15:13] almet commented on #422
Yep! Don't hesitate to send a PR in order to have the app listed somewhere in the interface. That would be helpful to a lot of users I'm sure!

[2019-03-05 15:13] #422 closed

[2019-03-05 15:14] almet opened #423 "Add a disclaimer on the server (stating that it doesn't guarentee any uptime)"

[2019-03-05 15:16] almet opened #424 "Mention MoneyBuster somewhere in the docs"
refs https://github.com/spiral-project/ihatemoney/issues/422

[2019-03-05 15:16] almet commented on #423
refs https://github.com/spiral-project/ihatemoney/issues/422

[2019-03-05 15:19] almet commented on #422
Oh, @eneiluj, don't hesitate to mention this on the mailing list, if you want! Links are on the README page.

[2019-03-11 08:51] Ambrevar opened #426 "Full history of changes"
Something that's always bugged me with shared budget managers is that there is no way to see if someone edited something unbeknownst to the other (possibly inadvertently).

This means that those systems lack reliability: when time comes to settle the bills, it's hard to be confident about the data.

A neat way to fix this would be to record _all edits_.  This way, anything fishy (such as "Entry fo

[2019-03-11 10:31] opi opened #427 "Strange mail subject formatting"
I created 2 different projects recently and noticed a strange formatting in mail subject (in french) :

- `Vous venez de créer« foo bar »pour partager vos dépenses`
-  `Vous venez de créer« foo  bar » p  our partager vos dépenses`

What's wrong:

- No space before and after french quotation marks.
- In the 2nd example, an extra space was introduced in the project title (2 spaces between words).
-

[2019-03-11 16:54] almet commented on #426
Hi, thanks for your message!

I think that would be a welcome addition, but I personally don't have any use case for it.

It's interesting to note (and relevant to this topic) we don't really have a concept of users (everyone is the same user interacting with the system), so it's hard to track who made the changes (we could track IP addresses ?).

It's also important to keep in mind that Ihatemone

[2019-03-12 10:39] almet commented on #426
That makes sense :-) I'd say : let's do it!

[2019-03-12 15:18] almet opened #428 "Integrate with a translation tool"
Asked weblate to get a free hosted plan.

[2019-03-18 22:16] Norde commented on #363
Concernant la solution pour rendre ça traduisible :

Il faudrait décomposer image et texte en deux calque différents (idéalement en .svg pour optimiser le poids et s'affranchir des problèmes de taille).

- Le fichier .svg "image" (curé du texte) est placé en arrière plan.
- Un fichier .svg "texte seul" est généré à a volé à partir de fichiers .xml (pour chaque langue).

L'inconvénient c'est qu'il

[2019-03-18 22:27] Norde opened #429 "Allow to attach files (as proof of expense)"
Could the possibility of attaching a file to an expense (like proof / invoice) be feasible?

[2019-03-18 22:33] Norde opened #430 "Add the ability to search / filter expenses"
In order to easily find a particular transaction (or a type of transaction).

The filter could take into account independently or cumulatively :
Amount / Date / Payor / Recipient / Category ... (with range where it's relevant)

[2019-03-20 07:08] Jojo144 commented on #363
Merci de t’intéresser à la question.
Est-ce que ça le fait si plutôt de fournir un calque texte je fourni un calque image pour chaque langue ?
Fr + en c'est bien ça ?
Auquel cas je peux faire ça dans les jours/semaines à venir si quelqu'un veut se pencher sur la PR ...
(Malheureusement je remet mon apprentissage de Flask à plus tard.)

[2019-03-20 09:28] almet commented on #363
Salut @Jojo144, depuis peu on supporte aussi l'allemand. Si tu as une solution ou les textes sont intégrés à partir de vrais textes, c'est mieux. Si ce n'est pas possible, on peut toujours avoir une liste de langues pour lesquelles le tuto est présenté, et faire l'intégration manuellement.

[2019-03-20 09:36] almet commented on #430
Thanks for taking the time to open this discussion.

Why not :-) I personally don't have the use case (a text search usually does the trick for me, using the browser.

I'm curious if anyone else thinks this is needed?

[2019-03-20 09:37] almet commented on #429
It's technically feasible, but I don't think this is the scope we want for this software. What's your usecase here?

[2019-03-20 10:59] Norde commented on #363
@Jojo144 Disons que la solution avec génération de .svg à partir de xml à la volé est très souple pour la traduction (il suffit de traduire un fichier xml modèle et on à toutes les langues).

Par contre c'est vrai que ça demande un sacré boulot de mise en place (personnellement je n'ai jamais utilisé ça, mais je sait que l'utilisation de polices exotique peut être parfois délicate).

Si tu as une

[2019-03-20 11:11] Norde commented on #430
The search will gain a lot of flexibility and performance with such a tool (Just a filter showing only operations that contain a specific term would be great!)

Who has never complained when looking for a transaction during accounts check?

But my case may be special because I am part of a very old roommate, so the expense history is very long ^^

[2019-03-20 11:18] Norde commented on #429
Just being able to attach proof to an expense (especially for large expenses).

It's very convenient for roommate (anyone can therefore check the accounts and trust reign).
It also makes rent receipts easily accessible to everyone.

I think it's a logical function for shared budget management software but it may not be the desired goal.
You may prefer to keep an application as simple / light as po

[2019-03-21 09:49] almet commented on #429
Yep, one of the goals of IHM is to stay as simple as possible. Handling these pieces also means that the server contains a lot more valuable data than before. I'm +0 on this one. If anyone else thinks this is needed, don't hesitate to comment here :-)

[2019-03-21 09:58] 0livd commented on #429
I agree with @almet. Another idea might be to add a new `External link` icon in the `Actions` menu, which can link to whatever this bill is related to, e.g. a file stored on nextcloud/dropbox. What do you think ?

[2019-03-21 10:25] almet commented on #429
If that solves the problem for @Norde, why not!

[2019-03-21 16:00] Natim opened #431 "The Settle algorithm can run 100% CPU for hours if it needs to settle for less than 0.01€"
I rewrote it for elm-ihatemoney here: https://github.com/spiral-project/elm-ihatemoney/commit/19ef3fdcd227354b24e176093a2d27474d94dc86#diff-57e1d8221f5ab91dcf91dab223f5db7bR53
We should backport it to the Python version.

[2019-03-22 15:45] Norde commented on #429
This would be a very good solution that would not weigh down HMI!

[2019-03-24 00:56] almet commented on #429
@Norde are you willing to work on this?

[2019-03-25 15:45] almet commented on #428
It's now live. It's at https://hosted.weblate.org/settings/i-hate-money/i-hate-money/
Still need to do the integration with here, and check if that works well.

[2019-03-25 21:52] Norde commented on #429
My knowledge of python is nil but I will take a look :)

I think that the opening of a simple field "url" is within my capabilities.
For integration with nextcloud I make no promises.

[2019-04-01 15:48] theScrabi commented on #334
Little tipp: If you are writing a **docker-compose.yml** file you would want to replace the `$` in the password hash with a `$$`. This will escape the dollar sign, so it can be processed by `docker-compose`.

[2019-04-13 20:44] almet opened #433 "Add the ability to use the solver via the API"
The logic behind the resolution algorithm could be useful to other projects, as such it might be a good idea to make it available behind an API.

[2019-04-18 23:12] almet commented on #433
finally I did this https://framagit.org/almet/debts

[2019-04-18 23:12] #433 closed

[2019-04-18 23:13] almet opened #434 "Use "debts" to solve the balances"
https://framagit.org/almet/debts

[2019-06-11 07:22] truenicoco opened #436 "Internal Server Error on CSV export"
Trying to export bills or settlements in [this project](https://ihatemoney.org/evg-didou) returns a 500 error. I am using the standard web interface.

[2019-06-11 13:21] eneiluj opened #437 "Question about internal way to compute settlement plan"
Hey! I'm trying to get the settlement plan in MoneyBuster to be identical with the one in IHateMoney. I made a pretty identical copy of the algorithm and I get different transactions in result. I suspect the member list order is not the same which leads to different results.

At the top of `models.py` I see
[code]
and I can't figure out how this is ordered. In MoneyBuster, I tried to order the mem

[2019-06-11 15:23] almet commented on #436
Hi, thanks for the report. I'm marking this as a bug. Can you provide some information about your project, maybe giving us a JSON export? (if it works?)

[2019-06-12 14:30] truenicoco commented on #436
JSON also produces a 500 error. I could give you the password to the project in private if you are interested.
About the project: 19 members with different shares, around 20 bills.

[2019-06-12 14:34] truenicoco commented on #437
For reference, I am the annoying user that [reported the difference](https://gitlab.com/eneiluj/moneybuster/issues/15). On the gitlab issue tracker you can see the differences in the settlement plans, along with eneiluj unsuccessful (but promising) attempt to reproduce IHM's behaviour. Maybe this will help…

[2019-06-16 11:18] Nikosmonaut commented on #323
How would you image this page. Literally removing the sidebar ?
![stats](https://user-images.githubusercontent.com/45662151/59563355-321fef00-9039-11e9-9ec6-99e80bda995c.png)

[2019-06-16 19:16] Glandos commented on #323
The issue with this is the lack of consistency. The sidebar is indeed rendundant, but its color and size is the identity of ihatemoney.
Maybe, instead of removing it, we could increase it in this page to include those statistics.

[2019-06-24 15:56] almet commented on #436
Hi, that would be helpful to get an access there, yes! Can you send me an email at alexis at notmyidea org ? Thanks !

[2019-06-24 16:08] almet commented on #437
Would this help you? @eneiluj

[2019-06-24 16:13] eneiluj commented on #437
Yes it would. I still need to know if this sorting is case sensitive or not.

Thanks for your answer!

[2019-06-24 16:16] almet commented on #437
I think it's case sensitive by default, but can't find any documentation to backup that statement…

[2019-06-24 16:17] almet commented on #436
Here is a traceback info I got from the server :
[code]

[2019-06-24 16:17] eneiluj commented on #437
Ok well I could check by myself by comparing settlements results. Thanks.

[2019-06-25 11:36] truenicoco commented on #436
I just sent you an email. Thanks!

[2019-07-23 09:01] Natim commented on #437
@eneiluj While doing elm-ihatemoney I discovered that there were a bug in the Python implementation, the bug make the settlement page to crash in certains cases.

It would be great to fix the code of the Python code and maybe use the lib that @almet did a while ago to handle this.

[2019-07-23 15:35] eneiluj commented on #437
Well i ported the code in Php and in Java so I might have copied the bug too :smile:.

Did you identify in which case the crash happens?

[2019-07-23 15:47] almet commented on #437
It's related to https://github.com/spiral-project/ihatemoney/issues/431, and the current implementation still has the bug.

I believe the correct way to fix this would be to use the same algorithm that we used in elm-ihatemoney, that I ported to python in the debts library.

That would mean the implementation would have to be changed in php and Java too, which makes it a (small) piece of work. I b

[2019-07-24 15:16] eneiluj commented on #437
Thanks @almet for pointing to the debts lib. It's now implemented like that in Cospend and MoneyBuster.

We'll have coherent settlement results when IHateMoney will use/integrate this tool.

[2019-07-26 20:35] #346 closed

[2019-07-26 22:07] eMerzh commented on #419
Note: might be fixed in #443

[2019-07-27 01:44] #418 closed

[2019-07-27 01:45] #419 closed

[2019-08-27 14:05] almet opened #455 "Password recovery doesn't display any validation message"

[2019-09-02 14:45] almet opened #458 "Add png recompression howto in the docs"
- Install zopflipng (On Debian `apt install zopfli`)
- Run it like the last example in the help page: `zopflipng --iterations=500 --filters=01234mepb --lossy_8bit --lossy_transparent --prefix`
- Since` --prefix add zopfli_` as output image prefix, check that all images are OK, and rename.

[2019-09-03 08:42] #458 closed

[2019-09-09 17:37] almet commented on #227
As of today, here is the list of missing python packages in debian, in order to package IHM there.

| Required version (from ``requirements.txt``) | Packaged version ([in debian stable](https://packages.debian.org/stable/python/)) |
| --- | --- |
| alembic==1.1.0 | python3-alembic (1.0.0-3)  |
| aniso8601==7.0.0 | python3-aniso8601 (4.1.0-1) |
| Babel==2.7.0 | python3-babel (2.6.0+dfsg.1-1) |
| bl

[2019-09-09 20:17] Glandos commented on #227
It seems that there is no packaged alternative. And doing email validation manually is risky, at best.
Maybe the solution is to rely on the SMTP, since we will eventually send an email.
And the invite form can also use HTML5 [email validation](https://developer.mozilla.org/fr/docs/Web/HTML/Element/input/email). It's not server side, but since data is only used to send an email, it should be enough

[2019-09-09 20:59] LeoMouyna commented on #455
Can you please describe a bit this issue ? Which page is involved ? What are your user actions ? And what is the expected behavior ?
Thanks :)

[2019-09-10 11:57] Shaac opened #463 "Style broken when updating to 4.1"
Hello,

I just upgraded from version 4.0 to 4.1 (using pip, and then restarting apache), and now my webpage is broken. I’m not sure what the error is, but there seems to be css issues.

In the console there is this error message `Bootstrap's tooltips require Popper.js`.

You can see my hosted version here: https://money.shaac.me/

[2019-09-10 12:52] almet commented on #227
I'm not sure it's easy to validate multiple, comma separated emails on the web side, but it's probably doable!

[2019-09-10 12:54] almet commented on #455
Hi, when you reset a password, a mail is sent, but no validation message is shown to the user. When I did it last time, I clicked multiple times, and… received multiple emails ! So everything seems to be working, *but* no message is shown to the user when the mail is sent.

[2019-09-10 12:54] almet commented on #463
Hi, thanks for the report! It seems to be a packaging issue, I'm not sure yet how to fix it. Are you willing to investigate here?

[2019-09-10 13:00] almet commented on #463
You seem to have an old version of the templates served. How is your apache configured? If you're using gunicorn, did you restarted it?

[2019-09-10 13:11] aeris commented on #227
Just don't validate email :smile:
There is too much corner cases and almost anything is a valid email address in practice.

[2019-09-10 13:18] almet commented on #227
For the proof of concept debian package, we can surely do that. After, I think the best way to do it would be to either vendorize the content of the package somewhere in IHM, or package it for debian (it shouldn't be too hard ?)

[2019-09-10 13:19] aeris commented on #227
Packaging is not the main problem. The problem is packaging means become officially the Debian maintainer :yum:

[2019-09-10 13:33] almet commented on #227
Why not! For a small library such as this one I think I could maintain.

[2019-09-10 13:56] LeoMouyna commented on #455
Seems like I got a message on ihatemoney.org.
![validationMessage](https://user-images.githubusercontent.com/17725363/64620089-8857c080-d3e3-11e9-9203-dbad1cd81a4a.png)

[2019-09-10 14:10] almet commented on #455
Thanks for taking the time to look into this. Strange! Maybe this version of IHM fixes it, it was definitely the case with the previous release.

That being said, I believe the UX here could be better : rather than having a "flash message", we could redirect the user to another page where they're displayed a text "A link to reset your password has been sent to you, please check your emails", and i

[2019-09-10 14:53] LeoMouyna commented on #455
Why not, but not sure if I will be able to start it before Thursday. So feel free to do it if you want it sooner :smile:

[2019-09-10 16:06] almet commented on #455
Oh, Thursday seems perfect. We don't have any need to rush. If you want to do it, please do it with your own agenda! :-)

[2019-09-10 16:22] Shaac commented on #463
Thanks for your responses. I’m using a simple apache vhost server with the following configuration

[code]

I did restart apache.

To answer you’re question, I’m willing to investigate here, but I don’t want to waste your time if this is something I messed up myself.

[2019-09-10 16:48] almet commented on #463
No worries.

It seems that the server running IHM is still running, and need a restart. It's different from apache, and from your configuration, it seems to be running on port 5000.

What's running on port 5000 ? and how ? You need to kill it and restart it and everything should be fixed, if I'm not mistaken :-)

[2019-09-10 17:36] Shaac commented on #463
Oh yes of course. I had a different systemctl running IHM… Stupid me. I restarted it and now it works perfectly. Thanks a lot!

[2019-09-10 17:36] #463 closed

[2019-09-13 19:50] Thaega opened #465 "Encoding error when running pip install ihatemoney"
Running pip install ihatemoney yields the following error:
[code]
This error could be solved by running instead `LC_CTYPE=C.UTF-8 pip3 install ihatemoney`, however I think it should be fixed at code level.

[2019-09-13 20:36] Thaega opened #466 "Commands do not yield any output"
As I understand it, commands such as `ihatemoney generate-config nginx.conf` or `ihatemoney generate_password_hash` should output respectively a nginx conf file or a password hash to stdout. However, running them does not yield anything for me.

[2019-09-15 18:13] gbip commented on #465
I have the same issue on FreeBSD.

[2019-09-16 16:51] almet commented on #465
Thanks to both of you for the info. However, I'm not able to reproduce on my system (debian 10 & pip `19.2.3`). Investigating.

[2019-09-16 16:57] almet commented on #465
@gbip and @Thaega can you try #468 and tell me if it solves your issue? thanks!

[2019-09-16 16:59] almet commented on #466
Thanks for taking the time to report this here. It's appreciated. I'm not able to reproduce this issue here (on a venv using python 3.7.3). Can you please tell me which environment you're using? thanks.

[2019-09-16 17:00] #402 closed

[2019-09-16 17:00] #424 closed

[2019-09-17 09:25] #465 closed

[2019-09-18 19:52] #455 closed

[2019-09-18 20:48] almet commented on #227
@aeris did you manage to get a hand on your scripts?

[2019-09-18 20:54] aeris commented on #227
Yep, I'm currently on it for Cozy.
Will release it soon, and write a blogpost to explain Debian packaging.

[2019-09-19 00:28] DiegoCaraballo commented on #349
@almet @Nartagnan Hi, I wish I could help with this problem. I await your comments. Regards

[2019-09-20 18:58] Thaega commented on #466
I'm using Debian Buster with python 3.7.3, and I have installed ihatemoney with pip as told in the doc.

[2019-09-21 17:54] Thaega commented on #466
After further investigation, it seems that the commands yield output if they are invoked before running `ihatemoney generate-config ihatemoney.cfg > /etc/ihatemoney/ihatemoney.cfg`. I also noticed that the file `/var/lib/ihatemoney/ihatemoney.sqlite` to which the default `ihatemoney.cfg` generated points does not exist, but I don't know if it's supposed to or if it has anything to do with my issue

[2019-09-22 12:29] almet commented on #466
Thanks for the additional input. That helps. I believe that something might get parsed incorrectly and silently fails. Can you please paste the content of your `ihatemoney.cfg` file here so I can investigate further?

[2019-09-22 15:35] Thaega commented on #466
Here it is:
[code]

Thank you for your help.

[2019-09-22 23:27] Evidlo opened #471 "Split bill by amount or percentage."
Certain applications like Kittysplit and GroupTabs allow for splitting a bill unequally.  This is useful in situations like a restaurant where one person may pay for multiple people's meals.

This can be emulated by separate bills for each check, but really the bills should be grouped together logically and the alternative is tedious.

[2019-09-24 15:05] almet commented on #471
Hi, thanks for opening a discussion here !

Do you have a copy of the UX these projects use to accomplish this?

[2019-09-24 15:15] almet opened #475 "Should we drop support for python 2.X ?"
Hi,

I'm wondering if we should drop support for python2.X series, and eventually modernize a bit the codebase accordingly.

What do you think?

[2019-09-24 20:19] #434 closed

[2019-09-24 20:32] Glandos commented on #475
Since every major distribution have Python 3 in them (CentOS 8 is out!), Python 2 can be safely dropped.

To me, the minimal version should 3.5, but 3.6 is nice with f-strings.

[2019-09-25 00:11] Evidlo commented on #471
Kittysplit UI: ![](https://i.imgur.com/f3JJlUh.png)

iou.ch UI: ![](https://i.imgur.com/A03g2bS.png)

[2019-09-25 09:10] almet commented on #471
Okay, thanks for the info. I wonder if we want to do this, I fear it will clutter a bit the UI. What do other involved contributors think ? (cc @eMerzh @0livd @JocelynDelalande)

[2019-09-25 09:42] almet commented on #475
I believe having 3.6 (or even 3.7 ?) as a target would be sane. IHM is not packaged yet on any distribution, so I believe it would be okay to ask people who want to install IHM to deploy a recent version of python? (not sure, but that's a wild guess)

[2019-09-25 09:42] almet commented on #471
and @Glandos, of course!

[2019-09-25 13:35] eMerzh commented on #471
I would clearly not do this by default (like not in the main path...) But maybe behind an advance option or smth....

[2019-09-25 16:55] JocelynDelalande commented on #471
UI-wise : for that king of needs, on the add bill popup, we could have two tabs :
- « simple » with what we have now
- « advanced » with the kind of new stuff we are discussion, for example.

note: it would have to play nice with user weights.

The impact on db would be quite important also.

[2019-09-25 18:10] zorun commented on #475
Dropping support for python2 is a good idea!

Regarding python3, this was discussed in #421, and I still believe that compatibility with python 3.5 is important.
The end-of-life for python 3.5 is still one year away (2020-09-13): https://devguide.python.org/
Same thing for Debian stretch, it is still supported until 2020 at least.

[2019-09-26 16:28] almet commented on #471
For me, this is one of the main aspects we should consider. Supporting this scenario means that the API will change quite a bit, and I'm a bit reluctant to this.

Also, UI-wise, IHM always has been as simple as can be, and I believe it's the wise path. Any other input would be useful :-)

[2019-09-27 21:36] #353 closed

[2019-10-06 21:10] #429 closed

[2019-10-06 22:10] almet commented on #437
IHM now uses the debts library. closing.

[2019-10-06 22:10] #437 closed

[2019-10-06 22:11] almet commented on #431
Should be solved with the latest update, IHM now uses the debts library.

[2019-10-06 22:11] #431 closed

[2019-10-06 22:31] almet commented on #427
Thanks for taking the time to report the issue here. Sorry for not answering earlier :-)

I'm currently trying to understand what's going on here, definitely something weird : the translation strings seem to be correct in the codebase, but somehow they get modified.

[2019-10-06 22:54] almet commented on #427
So, this seems to not be the case anymore locally, at least when debugging the flask_mail app. Closing for now. The deployed version is still impacted, until I update it to the latest release.

[2019-10-06 22:54] #427 closed

[2019-10-07 00:00] almet commented on #436
Sorry for the delay on this. I've investigated this evening. It seems we're hitting [this issue](https://github.com/unbit/uwsgi/issues/1126).

So it's not an issue in ihatemoney itself, but in uwsgi. I've solved the issue by appending

[code]

At the end of the uwsgi.conf file.

[2019-10-07 00:00] #436 closed

[2019-10-07 16:15] #428 closed

[2019-10-11 20:06] #475 closed

[2019-10-11 20:26] almet commented on #466
See #490.

[2019-10-11 20:33] almet commented on #410
Hmm, I can't reproduce locally.

Here is the command I used:
```curl --basic -u youpi:youpi -X POST http://localhost:5000/api/projects/youpi/members -d 'name=❤️'```.

Unless you can provide more info, I'll close as a worksforme.

[2019-10-11 20:33] #410 closed

[2019-10-11 20:35] almet commented on #406
I cannot reproduce. See #410.

[2019-10-11 20:35] #406 closed

[2019-10-11 20:36] almet commented on #349
This issue is now closed, see the previous commits.

[2019-10-11 20:36] #349 closed

[2019-10-11 20:37] almet commented on #344
We've changed that in recent versions, it should be easier to find!

[2019-10-11 20:37] #344 closed

[2019-10-14 08:41] LeoMouyna opened #493 "Add a refund button on settle page"
At the end of each row we could add a "refund" button that will automatically generate a bill with exact amount from "who pays" to "to whom".

I don't know if you have another way to refund if so let me know !

[2019-10-14 14:43] #352 closed

[2019-10-14 14:45] almet commented on #296
We actually have a full client-side single-page app, written in elm by @Natim, and it's at https://github.com/spiral-project/elm-ihatemoney.

I'm not sure what to do with this now, because I'm not self-confident enough to code the UI in elm only (I don't know it), but would like to have some inputs from other members of the team here.

Thoughts?

[2019-10-14 14:47] Natim commented on #296
To be honest I just took the ihatemoney cases to learn how to build a SPA with Elm.

The API is currently missing a couple of key feature to allow for a full SPA (like invitation links for instance)

Otherwise it is near feature complete.

[2019-10-14 14:49] Natim commented on #412
As a first step, we could also generate a base64 basic token with an embedded payload containing the user/password in the basic format.

[2019-10-14 14:51] almet commented on #317
https://github.com/up-for-grabs/up-for-grabs.net/pull/1551

[2019-10-14 14:51] #317 closed

[2019-10-14 14:52] #466 closed

[2019-10-14 17:23] almet commented on #227
Hey @aeris, any news on this front?

[2019-10-14 17:25] almet commented on #412
It's now possible to authenticate with a token to the API, I believe what's missing is the way to create this token from the API, and this should be pretty easy to do.

[2019-10-14 17:29] aeris commented on #227
Currently very busy at work (on Debian packaging :joy:) :tired_face:
Build environment begin to be published [here](https://github.com/aeris/cozy-debian-builder) but lacks of doc at the moment.

[2019-10-14 17:38] aeris commented on #227
This env is only used for building & publishing.
The packaging part need to be address specifically for each package.
For python, doc is mainly [here](https://wiki.debian.org/Python/LibraryStyleGuide).

Main problem is the interactive installation, with question asked to user for setup, and integration with nginx, vhost, tls & cie.
Debian packaging is just a nightmare on this part, with [old-schoo

[2019-10-14 20:15] Glandos commented on #227
At least you can ask questions while installing. In RPM, it is just not possible to do that.

[2019-10-14 20:27] almet commented on #227
… The problem I have with OS-packaging still stands : I can't understand where to start. In the links you provided, they reference concepts I know nothing about and that makes me impossible for me to get started.

But, this message is not to complain : I would love to find a solution to this problem, but I  believe I don't want to read all the documentation because it's too dense and not grouped i

[2019-10-14 20:56] aeris commented on #227
A good starting point is [this presentation](https://www.debian.org/doc/manuals/packaging-tutorial/packaging-tutorial.en.pdf), available in french [here](https://www.debian.org/doc/manuals/packaging-tutorial/packaging-tutorial.fr.pdf).

Packaging is quite difficult to learn, doc is sparse, no single reference, multiple tools alternatives… :sob:
Take a look at the howto above, then look for already

[2019-10-14 20:59] almet commented on #227
Thanks! Do you have any project I can look at?

[2019-10-14 21:01] JoseAntonioTorre commented on #133
Could you describe this issue?

[2019-10-14 21:05] almet commented on #133
@JoseAntonioTorre I've just updated the description, that should make things a little easier to grasp.

[2019-10-14 21:11] aeris commented on #227
For python, look at [coclyclo](https://github.com/cozy/debian-cozy-coclyco).
For interactive install, look at [cozy](https://github.com/cozy/debian-cozy).

[2019-10-14 21:13] almet commented on #227
Hmm, I'm mostly looking for python-based web servers that are already packaged for debian. From what I understand, Coclyco is "just" a CLI tool, right?

[2019-10-14 21:16] aeris commented on #227
Yep, just a CLI.

[2019-10-14 21:17] almet commented on #227
What do you mean?

[2019-10-14 21:18] aeris commented on #227
Problem packaging for python are not the same for interactive web server setup.
There is no python at all for setup, just plain old bash and nginx vhost deployment.

[2019-10-14 22:42] JoseAntonioTorre commented on #133
Something like this could be enough?
![Screenshot_20191015_004113](https://user-images.githubusercontent.com/1927763/66787601-99b15280-eee4-11e9-92cc-d52b207f607d.png)

[2019-10-14 22:42] JoseAntonioTorre commented on #133
If that is enough I can send the PR.

[2019-10-15 03:00] nishikeshKardak commented on #493
Hey @LeoMouyna, I want to work on this issue. Can I?

[2019-10-15 07:31] Natim commented on #133
I guess it can help. Can we copy paste a list of email comma separated as well as tab or new line separated?

[2019-10-15 07:34] JoseAntonioTorre commented on #133
Now, I have configured it to accept only commas. In my opinion, having multiples ways to insert the same information is not a good idea in terms of usability. I can extend it to allow entering with ';'.
The PR consists of an input that actuates as normal and when you enter a ',' it will envelope it in a tag.

[2019-10-15 07:38] Natim commented on #133
The goal is not to have multiple ways to enter the thing but to handle copy paste from different source.

[2019-10-15 07:41] JoseAntonioTorre commented on #133
Ok, I have read the title and I don't see it there.
So besides the functionality that I have already developed, you want to have the option to copy text from a comma-separated list or any of the format you mention before and make it compatible with this system right?

[2019-10-15 07:47] Natim commented on #133
We don't need to support all of them, I guess handling coma and newlines would be enough.

[2019-10-15 07:48] JoseAntonioTorre commented on #133
Ok, this afternoon I will work on it and if I have time I will send the PR :)

[2019-10-15 11:17] almet commented on #493
There is no other way to create a refund, other than doing it manually. This proposition makes sense to me, adn has been already discussed in #137.

[2019-10-15 11:17] almet commented on #493
Closing as a dupe of #137 (but thanks for the input!)

[2019-10-15 11:17] #493 closed

[2019-10-15 18:57] LeoMouyna commented on #137
@almet, sorry I didn't find this issue before and it's exactly what I wanted. I may work on it this week-end :wink:

[2019-10-15 20:19] JoseAntonioTorre commented on #246
I would be interested in working on this issue.
What do you mean @almet with checking a ProjectHandler?

[2019-10-16 15:46] JoseAntonioTorre commented on #412
I want to help here! Could I?

[2019-10-16 15:49] almet commented on #412
Sure thing!

[2019-10-17 12:58] anunay999 commented on #135
I would like to work on this issue. Can you help me on this

[2019-10-17 16:37] almet commented on #135
Hi @anunay999 ! Thanks for proposing to work on this.

Currently, there is a way to select the language, which is in the top-right corner. Once you've selected the language and if you close and reopen your browser, the default choice is selected again (I believe it's the language of your browser).

There is one relatively simple way to solve this, by persisting the language information into a sess

[2019-10-17 18:06] almet commented on #36
Closing. I believe this is not needed, after all :-)

[2019-10-17 18:06] #36 closed

[2019-10-17 18:07] almet commented on #55
After all this time, I'd say : why not? Should we add tags support?

[2019-10-17 18:11] almet commented on #89
I've just seen that github displays a « Are you sure you want to delete this » alert. That probably should be enough if we want, but having a way to « undo » the delete would work as well!

[2019-10-17 18:13] almet commented on #112
I'm mainly thinking we should redo the project's dashboard, in order to display some stats, to ease the deletion of old projects (or sending an email), etc.

I believe this is a good candidate for a first bug :-)

[2019-10-17 18:15] almet commented on #125
adding data-keyboard="false" would be option 2.

[2019-10-17 18:18] #133 closed

[2019-10-17 18:19] almet commented on #137
See #43 also :-)

[2019-10-17 18:21] almet commented on #140
The problem I see with such an approach is that you couldn't find your way back to your project if you lose the info. Having the email is just for this purpose. Closing for now, feel free to reopen if needed.

[2019-10-17 18:21] #140 closed

[2019-10-17 18:22] almet commented on #149
I'm closing this, I'm not sure we want this for IHM. Feel free to reopen if you think I'm mistaken, but the issue is two years old, we've got one implementation in elm and still use the good old HTML and Jinja.

[2019-10-17 18:24] almet commented on #152
The way to do this in Flask would be to create a task (in `manage.py`)  that would check all projects and see the recurring bills, each day, and mark them with the last date is was run.

I believe it's simple enough for a good first issue, so labeled as such.