[2019-10-17 18:24] almet commented on #165
We're now using an external lib for this. Closing.

[2019-10-17 18:24] #165 closed

[2019-10-17 18:25] LeoMouyna commented on #137
Just a question before starting.
What exactly the button pay should do ?

1. Open a bill form with pre setted value (like this you can define the amount)
2. Send directly a request to the back-end (with fixed amount) and refresh the page

[2019-10-17 18:31] almet commented on #246
@JoseAntonioTorre the correct link is now https://github.com/spiral-project/ihatemoney/blob/master/ihatemoney/api.py#L77

You just need to add a conditional here. The flag is `ALLOW_PUBLIC_PROJECT_CREATION`, and you can access its state with `current_app.config.get(flag)`.

[2019-10-17 18:32] almet commented on #302
We should rework the code as well, to be members everywhere, and reflect this in the strings.

[2019-10-17 18:33] #304 closed

[2019-10-17 18:46] #330 closed

[2019-10-17 18:47] almet commented on #351
Dupe #136.

[2019-10-17 18:47] #351 closed

[2019-10-17 18:53] #408 closed

[2019-10-17 18:54] almet commented on #414
I'm not sure to get it, can you explain a bit more?

[2019-10-17 18:56] almet commented on #423
Dupe #348.

[2019-10-17 18:56] #423 closed

[2019-10-17 18:58] almet commented on #471
I'm mostly leaning towards the "we should not go that way", because it seems to be a complex use case that I'm not sure will be useful to the vast majority of users.

So unless we have other inputs, I'm thinking about rejecting the idea.

[2019-10-17 19:00] almet commented on #137
Interesting! I was mainly thinking about option 2, but… 1 makes sense only if you need to change the amount, which should not happen. in which case would you need to change the amount?

[2019-10-17 19:01] almet commented on #43
Dupe with #137

[2019-10-17 19:01] #43 closed

[2019-10-17 19:03] LeoMouyna commented on #137
For example if you only paid 10 when your debt are 20. I don't know if it's a real case I just wanted to make sure I didn't miss understand the ticket :wink:

[2019-10-17 19:35] leonardofreitas-ciandt commented on #143
I'll gonna take this one, ok? @almet

[2019-10-17 19:36] lndamaral commented on #143
I'm gonna take this one, ok? @almet

[2019-10-17 20:19] almet commented on #143
Sure, go for it!

[2019-10-17 20:20] almet commented on #137
Option 1 seems actually better to me : it lets the user check and modify (if needed) beforehand :-)

[2019-10-17 23:58] jeffspurlock commented on #417
Hello almet, I'm looking to contribute to my first open source project. It looks like you need something that can parse through the json data from a previous export... is that data that was exported from ihatemoney, or is this json data coming from elsewhere?

[2019-10-18 02:33] lndamaral commented on #143
Hey @almet, It won't be possible to do this change due to SQLite limitation (https://sqlite.org/lang_altertable.html)

When setting `nullable=False/True` in the model file, the migration creates an "alter column" statement which, as you can see on the link above, is not possible to perform it on SQLite. On Postgres, it would be possible, but considering that SQLite is the default one (hardcoded, d

[2019-10-18 08:18] Natim commented on #137
Actually we can make it option 2 with a edit button in the list of things.
I guess the most important is to have a different type and not use a usually bill but a settle kind. Especially for the stats page.

[2019-10-18 08:22] Natim commented on #414
Yes that's actually related to https://github.com/spiral-project/ihatemoney/issues/137#issuecomment-543591682

The stats page is supposed to give feedback on how much money each participant spent. Regardless of who paid for it.

Today when using reimbursement by hand, we add a bill saying that X paid what they owed to Y. However it breaks the stats page because it adds the reimbursement to the tot

[2019-10-18 09:28] eMerzh commented on #143
you could do the migration but apply the alter only for non sqlite db no?

[2019-10-18 16:30] almet commented on #414
Okay, closing as a dupe, then, thanks!

[2019-10-18 16:30] #414 closed

[2019-10-18 16:33] almet commented on #137
I'm more leaning towards option 1 because it covers more use cases : when clicking the button / link, open a specific bill form with fields pre-filled, the user can then check and click « Settle this » if that works for them.

[2019-10-18 16:36] almet commented on #417
Hi @jeffspurlock, nice that you chosen our project to contribute :-)

It's only data exported from ihatemoney :-)

[2019-10-18 17:40] almet commented on #471
Closing as a wontfix. Feel free to re-open if you want to discuss further.

[2019-10-19 09:06] JoseAntonioTorre commented on #412
I am trying to understand which is the problem that this issue tries to solve.
I have been reading related issues and I notice that there is a share link that can be used to access to a project. Which is the use case that we are trying to support?

[2019-10-19 09:47] LeoMouyna commented on #137
@Natim I checked the #414, but I don't understand why refund shouldn't be on statistics page ?

For now I implemented option 2 because I didn't read the comments but I don't know how I can bypass a csrf_token check during `form.validate()`.
So it's another plus point for option 1 ! :fireworks:

Option 1 form will only have an amount field pre set according to the settle row.
It will be a modal for

[2019-10-19 10:15] almet commented on #412
Currently, you can send a share link to other people so they can login to the project without knowing its password.

This mechanism is currently onluy supported trough the web interface, and not trough the API. This issue aims at supporting this mechanism: generating the invitation link, and then using it to authenticate on the API.

Hope it's clearer, let me know if not.

[2019-10-19 10:29] almet commented on #137
About #414, and why the refund information shouldn't be counted in the stats : refunds are a way to reimburse the people who landed the money to the group. If we count the refunds in the statistics, then it's pointless : everything will be at 0 at the end.

So, we need to distinguish the reimbursment bills from the other (classic) bills. I believe that adding a `type` field in the database to spec

[2019-10-19 10:31] #221 closed

[2019-10-19 10:31] #246 closed

[2019-10-19 10:57] LeoMouyna commented on #137
About csrf_token I just generated a fake form because I wanted to use form.save() method but it's useless if I just make a save query. :man_facepalming:

Yes everything would be at 0 but I didn't get why it was a problem but if you don't want that to happen, I'll wait for eneiluj investigation before changing datamodel.

About payment form, other fields wont be visible by user but will be filled a

[2019-10-19 11:46] almet commented on #137
Zero stats doesn't seem useful, are they?

I think we can go for my proposal so far (no need to wait for @eneiluj feedback here, I believe we
could make adjustments afterwards if needed).

About your questions :

`settlement` bills should indeed appear on the bill-list page, we need to have something that identifies them as such.

For the form, I believe we should reuse the existing form, but pass

[2019-10-19 12:23] eneiluj commented on #137
I think I agree with @almet about reimbursement bills not counted in stats.

In Cospend and MoneyBuster, I've implemented "automatic reimbursement bills creation" and they currently mess up with stats. It's pretty basic at the moment and just creates all reimbursement bills at once, with full owed amounts. Then everybody's balance is back to zero. It looks like option 2.

Untill now, in the IHM an

[2019-10-19 19:51] JoseAntonioTorre opened #501 "Split test into little ones."
I have been reading the code of test and I have seen that, for example, in test_project we are asserting different use cases. In my opinion, it is better to divide the test and refactor it in a little methods.

What is your opinion?
For example, instead of testing that first we can create a project, later we can not create the same, it is better to have a test to create a project, a test to test t

[2019-10-19 20:02] JoseAntonioTorre commented on #227
Packaging for Debian is just a nightmare. In my work, I have packaged more than 5 packages but I have not uploaded it to Debian repositories. Instead, we have raised our own repository.

The problem is not only related to interactive installing (only this is hard), the problem is that, if you, for example, use a Jquery library in your frontend you should use the official ones packaged from Debian.

[2019-10-20 19:12] almet commented on #227
Thanks for your input @JoseAntonioTorre! I believe that for this project, using external libraries shouldn't be too hard (but I might underestimate the work here).

If you have the skill to start packaging IHM for debian, that would be very appreciated. I probably can help to overcome some of the issues once this is started, but so far I don't know how to start it all :-)

Out of curiosity : how d

[2019-10-20 19:16] almet commented on #501
It's probably better to have atomic test functions, because it's easier to detect where the problem is when it arises. I believe this was done this way because it was easier at that time.

For me the main important thing is to have a coverage of all the scenarios. If you feel like splitting every scenario into multiple (atomic) tests, do not hesitate :-)

[2019-10-20 21:07] LeoMouyna commented on #137
A little update, please don't pay attention to the color.

![2019-10-20 22-55-36](https://user-images.githubusercontent.com/17725363/67166279-3c0e8180-f38e-11e9-873f-6d0135abfb82.gif)

TODO:
- [ ] Add related unit test
- [ ] Remove `settlement` bills from statistics (but maybe not for your balance computation ?)

[2019-10-20 22:00] almet commented on #137
Nice :-) Yes, you need to keep them in the balance computation :-)

[2019-10-21 08:45] JoseAntonioTorre commented on #501
I think that it is better, yes!, I will try to start working on it and let you know it!

[2019-10-21 08:47] JoseAntonioTorre commented on #227
First, I will try to finish the issues that I am working on and later, I will think about packaging... I hate this part of the work but maybe I can try it.

As for your question, we are raising the idea of using only docker.

[2019-10-21 08:53] JoseAntonioTorre commented on #227
But I think you want to be in the official repositories right?

[2019-10-21 08:55] aeris commented on #227
I think it will depends of the difficulty to target Debian Policy compliance…

[2019-10-21 09:37] LeoMouyna commented on #137
Won't it be awkward if your balance is 0 but paid and spent are different ?

[2019-10-21 09:53] Natim commented on #137
They are already different because you often paid more or less than you spent since you paid other shares sometimes and the other way around too.

[2019-10-21 10:49] almet commented on #227
Let's start by packaging it, and then we'll try to resolve the problems to be included officially in debian.

[2019-10-21 18:39] gustavofc commented on #323
I suggest not remove the sidebar, but the column Balance in the main page.

[2019-10-22 08:53] NVanvyve commented on #417
Hi, I'm also interested in this problem.
I looked at the project a little bit and wondered where to integrate the import of json.
Do we want to import the data and create a new project, do we add it to an existing but empty project, or do we import the json and add the data to a project that already contains " bills "?
Basically if I have to create an "import" button, do I have to do it on the hom

[2019-10-22 17:19] almet commented on #417
The simplest of all of them: import to an existing project, that should be enough to get started.

[2019-10-23 15:35] waqarmuhammad1 commented on #417
Hi, if this issue still open i would like to contribute in it.

[2019-10-23 23:06] almet commented on #417
@jeffspurlock @waqarmuhammad1 @NVanvyve one of you will need to take it over, I suggest @jeffspurlock does it, if that's okay for you, as you were the first one to propose. What do you think?

[2019-11-01 15:53] fruffy opened #508 "Settle - Internal Server Error"
Hello,
great website. We set up a project and would like to settle bills. Unfortunately, clicking on the link ("settle") leads to an internal server error. Do you know what the cause of this could be?

[2019-11-01 17:20] almet commented on #508
Hi,

Thanks for taking the time to report the issue. Can you please give me your project identifier so I can have a look? Thanks!

Fri Nov 01 16:53:15 GMT+01:00 2019 fruffy <notifications@github.com>:

[2019-11-01 17:34] fruffy commented on #508
Sure, it is nyusystemcoffee

[2019-11-01 18:57] almet commented on #508
So, it seems we have a bug in `debts`!

[code]

[2019-11-01 19:04] almet commented on #508
cc @Natim, it seems we need to find a better way to handle this!

[2019-11-01 22:43] almet commented on #508
@fruffy, I'm not sure exactly what's happening.

Could you please do an export of your project (settings, then export) and send it to me by email? use alexis  notmyidea org? that would help me understand what's going on. thanks!

[2019-11-01 22:46] almet commented on #508
Also, giving me the access code by email would help :-)

[2019-11-03 16:09] fruffy commented on #508
Did you receive the email?

[2019-11-03 20:16] almet commented on #508
Yes :)

[2019-11-03 20:38] almet commented on #417
Haha, so in the end, anybody wants to work on this?

[2019-11-03 20:54] eMerzh commented on #508
@almet the demo in IHM.org is also affected

https://ihatemoney.org/demo/settle_bills

[2019-11-03 21:09] Natim commented on #508
Rounding errors

Le dim. 3 nov. 2019 à 21:54, eMerzh <notifications@github.com> a écrit :

[2019-11-03 21:37] almet commented on #508
Yep, I've just issued a point release for debts, that should be it! https://framagit.org/almet/debts/commit/09ee167cf0b265610d92bba28fbf4354d4b8b53a

(Currently deploying the fix)

[2019-11-03 21:43] almet commented on #508
And… the show is over :-)

[2019-11-03 21:43] #508 closed

[2019-11-04 13:51] NVanvyve commented on #417
I'm still ready to work on it, but I thought @jeffspurlock had priority. If nothing moves, I start working

[2019-11-04 13:57] almet commented on #417
Awesome, don't hesitate to go for it :-)

[2019-11-15 08:31] jerryshueh commented on #430
I came across this cool little app while looking for a way to split cottage expenses among friends. I think this feature is within my power to attempt. Please let me try my hand at this!

[2019-11-15 08:38] almet commented on #430
Go!

Fri Nov 15 09:31:37 GMT+01:00 2019 Jerry S. <notifications@github.com>:

[2019-11-25 10:22] ArthurG opened #512 "Add ability to record expenses in different currencies"
Consider the use case when a group of friends travels to a different country. They will likely have some expenses in their home currency (airplane, uber to airport, etc) as well as some expenses in the foreign currency (food, entertainment).

This would be a really useful feature to add!

[2019-11-25 16:48] skyrl69 commented on #512
+1 to this feature. Last year we used 9 currencies on our august
holidays, this year the same.
Having an automatic [xe.com] conversion is one thing for debt balance,
but keeping both amounts is useful to input & check bills.

Nice to follow you for the last two months, guys ^

Charles+++

Le 25/11/2019 à 11:22, Arthur Guo a écrit :

[2019-12-02 23:07] NVanvyve commented on #417
It took me a little while to finally succeed in importing a JSON and identifying the data to be imported.
I extract the members who are not yet in the project, as well as their weight, I also have a list of the bills that are not in the project.
Now I just have to add his information to the database and that's where I'm blocking it. Is there a proper way to write data to it?
I'm not sure how to us

[2019-12-03 18:08] almet commented on #417
That should be quite easy to do with the models directly, so the `Person` class. Something like :

[code]

Hope that helps !

[2019-12-03 18:21] almet commented on #512
Hi, thanks for taking the time to open an issue for this.

I've been thinking a bit and… I'm not sure we want this. It seems at a first glance out of scope for IHM, and will probably create more problems than it would solve : how should we handle the conversion rate ? In which currency should we compute the balances?

One simple way to solve this would be to have a default currency per project, an

[2019-12-03 21:43] ndkoch commented on #512
If nobody else has taken this up, I am just beginning to contribute and would like to try and take this on.

[2019-12-03 23:08] almet commented on #512
@ndkoch feel free to hack something up! As I said, I'm not sure how this should be done and depending on how it's done, it'll potentially not be merged if it makes things too complicated.

Not to discourage you, so if you feel like taking it, go ahead :-)

[2019-12-04 22:17] NVanvyve commented on #417
It works great for adding Person but impossible to add bills...
I may miss something but I don't see and I've been going around in circles for hours

[code]
(id's are consistent with the context)

[2019-12-08 05:49] ArthurG commented on #512
Another way you could do this is to :

- Record expenses in any currency
- At settle time, the user can:
1) See how the settlement would work if they were to pay in the original payment currency
2) Allow the user to select a currency, and then calculate settlement into the currency.

For V1, it would probably be enough just to run the settlement algorithm on every currency, without tying into some

[2019-12-08 15:18] RaitoBezarius opened #513 "Import QIF files"
QIF is a common format file for financial data (used by GnuCash and other software), I have some scripts which already do some conversions from CSV (what my bank provides me) to QIF and I'd like to import them in this tool in order to perform more advanced tasks with them.

Do you think it's feasible? I can add the feature myself, I just need to understand what is recommended to do (in terms of co

[2019-12-08 17:17] RaitoBezarius opened #514 "Make weights more discoverable."
When I have three friends and we're managing a project where I pay for N €
And my two friends owe me M_1 and M_2 € such that M_1 + M_2 = N.

Currently, it's set so that M_1 = M_2 = N/2.

But we could enable some way to specify the owed amount, this friend owe me this part and this other friend owe me this part.

Is that easily feasible in the engine? Could I start working on a PR for that?

[2019-12-09 00:35] ndkoch commented on #512
#516

[2019-12-09 12:18] JvPy commented on #501
I would like to contribute.

Never worked with tests before, but would like to learn, if possible.

[2019-12-14 19:22] almet commented on #501
@JoseAntonioTorre would you like to mentor @JvPy on this?

[2019-12-14 19:24] almet commented on #514
Hi, there is already a mechanism for "weights", meaning that some people can have different weights in the project. Is that what you want here?

[2019-12-14 19:24] RaitoBezarius commented on #514
Yes, exactly ; I didn't see it in the web app, is this documented somewhere?
Thanks.

On Dec 14 2019, at 8:24 pm, Alexis Metaireau <notifications@github.com> wrote:

[2019-12-14 19:26] almet commented on #513
Hi, thanks for opening an issue here. QIF seems rather old and has known limitations. Should we support OFX instead?

Also, I wonder what's your use case here, could you please elaborate, and maybe give me an exemple QIF or OFX file so that I can check that out? Thanks!

[2019-12-14 19:28] almet commented on #417
hey, are you willing to push your code somewhere so we can have a look and help you out? Thanks!

[2019-12-14 19:31] almet commented on #514
You need to click on "edit" on the members. It's currently not documented, so it's hard to discover by yourself, I agree.

[2019-12-14 19:33] RaitoBezarius commented on #514
But, in this case, it's propagated to the whole project?
My use-case is sometimes I handle the payment for friends and I want to say that friend A owe me X and friend B owe my Y and I paid X+Y+Z where Z is only my part.

Using weights will enforce this for all expenses :/
Thanks.

On Dec 14 2019, at 8:31 pm, Alexis Metaireau <notifications@github.com> wrote:

[2019-12-14 19:35] almet commented on #514
If I understand what you mean properly, I belive this can be solved by adding multiple bills, right? It means that you landed your friends some money.

[2019-12-14 19:38] RaitoBezarius commented on #514
I wonder, let's look at this scenario:

Me, my friend A and my friend B were in the restaurant, for simplicity, I paid the restaurant for 100 €
My part was 20 €, my friend A was 30 € and my friend B was 50 €.
What's the proper way to add it?
Should I just add 3 bills of 20,30,50 ?
Or is there a way to add 1 bill of 100 and specify amount owed by each person (?).

On Dec 14 2019, at 8:35 pm, Alexis

[2019-12-14 19:43] almet commented on #514
So, it's possible right now : you need to add the bills for your two friends : 30 and 50, in two different bills, marking you as the "payer" and each of them individually in the "for" field.

If we were to add this as only one bill in the UX, one way I can think of would be this :

- Next to each "for" person, one an specify an amount;
- The sum of all the amount specified in the "for" in displaye

[2019-12-14 19:46] RaitoBezarius commented on #514
Alright, I understand ; I agree this is better to keep it as-is, this way it'll work.
I'm just wondering the ramifications in terms of statistics, etc.

On Dec 14 2019, at 8:43 pm, Alexis Metaireau <notifications@github.com> wrote:

[2019-12-14 19:57] RaitoBezarius commented on #513
I think it's okay to support QIF, it avoids users to convert QIF to XXX ; my use-case is this one:

(1) My banks provide me with CSV/QIF/OFX
(2) I process them into my personal tools, filter them, etc.
(3) And I get files which are results from shared expenses, the problem is that obviously QIF/OFX do not have user information so once those are imported, I have to add it myself maybe.

I guess it'

[2019-12-14 20:58] almet commented on #514
Okay, I'm closing the issue then, thanks :-)

[2019-12-14 20:58] #514 closed

[2019-12-14 20:58] almet commented on #513
Okay, I'm closing the issue then, thanks :-)

About your problematic : using the API seems a good way to do this, yes!

[2019-12-14 20:58] #513 closed

[2019-12-14 21:24] NVanvyve commented on #417
Sure
I have pushed what is functional on my fork, I also just pushed the part that doesn't work yet.
You can see the code [here](https://github.com/NVanvyve/ihatemoney/blob/master/ihatemoney/web.py#L445)

[2019-12-14 21:57] almet opened #517 "Looking for maintainers"
Hi folks,

8 years ago, [I published the first version of ihatemoney](https://blog.notmyidea.org/how-are-you-handling-your-shared-expenses.html).

I'm happy with what we have done with this project : it's still straight to the point, not doing a lot of fancy cool stuff nobody needs, it's just doing a set of simple tasks, and it's doing them well.

Since its inception, we've had 10 releases (curren

[2019-12-15 12:40] Natim commented on #517
Don't archive it for sure I will be willing to make release and deploy new version to alwaysdata.

As you said there isn't much to do these days appart from using it and keeping it alive.

[2019-12-15 13:29] Glandos commented on #517
Is there any free beer for a new free software maintainer? ;)

Anyway, don't archive this. I can't be very active, but I'd like to be a co-maintainer if it is needed.

`ihatemoney` is a small-but-good project, and given the recent activity, it seems that it should keep on being as it is.

[2019-12-15 19:56] LeoMouyna commented on #417
I toke a look at your code.
For now when we want to save a Bill we do those steps:

1. Generate a form
2. Generate a bill
3. Send the form with the bill by using
[code]
You are manipulating Bill directly and I don't know if you can save a Bill like you do with a Person :disappointed:
So what if you generate a fake form with `form = get_billform_for(g.project)` and then use `session.add` followed b

[2019-12-15 20:59] LeoMouyna commented on #517
Hi @almet !

I hope you will enjoy your new job and I wish you good luck for your adventure ! Thanks a lot for this project it was one of my first to contribute.

It's probably due to it small and simple architecture so I really hope it won't die with your departure ! :smile:

[2019-12-16 19:28] MagicFab commented on #517
May I suggest changing the licence to GPLv3 ?
This will most certainly attract more possible maintainers and contributors.

[2019-12-16 20:38] NVanvyve commented on #417
I followed your advice. I created a form this way:

[code]
`fake_form(_,_)` is a copy of `save(_,_)` that allows me not to go via form fields
[code]

And I now have a reaction when I commit.
But it is only partially the one that is expected.
After import, only the accounts of those who have debts are modified, not the one of the one who paid (in my case the user who pays is not one of the owers).

[2019-12-16 21:49] NVanvyve commented on #417
Perfect it works!!

[2019-12-17 04:45] indrora commented on #517
@MagicFab It's under a perfectly fine license, no need to slather the GPL on it.

@almet Is there a published roadmap? What work needs to be done to keep the project moving?

[2019-12-17 05:04] douglasg14b commented on #517
@indrora

A bit hostile no? LGPL > GPL IMHO if you are still looking for some protections. A more recognizable license that's friendly to developers isn't necessarily a bad thing, especially when looking for contributors/maintainers.

[2019-12-17 05:50] indrora commented on #517
The license is a perfectly recognizable 3clause BSD with a silly "you should totally buy someone who's worked on this a beer some day if you meet them" addition.

In on-topic notes, let's add this to https://github.com/pickhardt/maintainers-wanted

[2019-12-17 10:19] Natim commented on #517
I added the PR on maintainers-wanted and I added you in a group so that you can help triage the project and start a roadmap if you want to.

[2019-12-17 12:33] MagicFab commented on #517
@indrora I for one won't contribute specially when getting such an answer. Good luck, then.

[2019-12-17 12:44] JJKW1984 commented on #517
@MagicFab you have to grow some thicker skin man. She is just being forthright and forward in her responses. That makes for a good team if you ask me.

[2019-12-17 13:15] Glandos commented on #517
@MagicFab You are free to avoid contribution based on your disapproval of the current license.

However, even if the answer of @indrora sounds rude to you, keep in mind that:
- She is as linked to this project as you
- The goal was asking for maintainers, not a license change.

Of course, a license change can be debated, but may be another issue for that would be the right place.

[2019-12-17 13:18] MagicFab commented on #517
I'd love to hear from [actual contributors](https://github.com/spiral-project/ihatemoney/graphs/contributors) like @Natim @almet @JocelynDelalande @aavenel @0livd @arnaudbos @glandos @JoseAntonioTorre @eMerzh @feth @fredericsureau @Vistaus @QuentinRoy @comradekingu among others.

[2019-12-17 13:20] Natim commented on #517
@MagicFab to be honest, I could see why a GPLv3 would be a good fit for this project.
It is not a lib so it wouldn't prevent businesses to use it.

However why do you think BSD wouldn't be a good fit?

[2019-12-17 13:38] feth commented on #517
Sorry, I don't care about the license as long as it's free and everyone else is happy ; it's a smallish (still, useful!) project.
How about opening another issue regarding the license if this topic is important?

[2019-12-17 13:53] arnaudbos commented on #517
I, for one, don't know what a licence change would imply, so my first reaction would be "why bother?" and I'd apply the YAGNI principle.

But again I have no particular knowledge on the matter so feel free to expose arguments and counter-arguments to try and convince me, but:
* calm down;
* leave people out of it;
* stick to the facts;
* and please do this in another issue, this one's not meant fo

[2019-12-17 14:02] MagicFab commented on #517
@Natim I care about sharing improvements. BSD licences don't require availability of source code. As such it becomes possible to improve on it and publish as proprietary binaries and distributing closed source versions which deny all users of Free software freedoms. Feel free to open a new issue and discuss this if it's important for this project. I merely asked as I looked first at the LICENCE fi

[2019-12-17 21:10] comradekingu opened #519 "Should we change the project's license?"
Continued discussion from https://github.com/spiral-project/ihatemoney/issues/517

@arnaudbos That is a good principle. What makes this Beerware-ish license superfluous to what is already an addition to the BSD-license boils down to whether beverages have any place in a license file.
I know a little bit about licenses, and I still felt unsure about what the license was. Didn't see the readme at fi

[2019-12-17 21:20] comradekingu commented on #517
@MagicFab Don't think my opinion is more valuable by having contributed, @almet I am however down to try and "maintain" things, and not just kicking the wheels. My idea of that being to steer things in the direction of usability. Translations, design, GDPR info, and language mostly. As mentioned, most everything is "done", but then to me, how much of that can be improved upon for no extra bloat, o

[2019-12-17 21:21] almet commented on #517
Hi folks, I have hidden the license-related discussions, because this is not what this issue is made for. I'm not advocating against a license change, it's just that it's not the point of this issue here.

Please use #519 to discuss the matter.

[2019-12-17 21:34] almet commented on #519
Thanks @comradekingu for creating this issue.

I'm personally OK with a license change to GPL, and even more to AGPL. The BSD beerware derivative was used because it though it was fun, but nobody actually offered me any beer ;-)

If we were to change the licensing, it's not clear what the steps would be : should we contact all contributors and ask for their agreement? (and what if we don't manage

[2019-12-17 21:39] comradekingu commented on #519
The BSD points can be converted directly. (To the earlier point of you can take them anywhere without asking anyone) "Some rights reserved" and that point about beer potentially detracts from that. Beerware is a license, and it deepens how it differs. The FSF and OSI has flowcharts on compatibility. Would be nice to ask all contributors anyhow, even for the courtesy of doing so alone.

[2019-12-17 21:40] aavenel commented on #517
Hi @almet,

Ihatemoney was my first open source project as a contributor.
The friendly comments, simple architecture and advice to keep thing simple were always appreciated. I wish every open source contributor could start with a project with such a cool community and maintainer.

I don't develop in python anymore, so I am not a right fit for the maintainer job. However, I strongly hope that someo

[2019-12-18 11:50] JoseAntonioTorre commented on #501
Yes, I am not an expert in testing but I can try it!
@JvPy First, get used to read the testing code and try to figure out what is happening in each test. After that, you will probably see that there are tests that asserts several things that are not related to the test itself. The idea is to divide those tests in little ones in order to make it easier to check where are the errors (in case we have

[2019-12-19 14:23] aavenel commented on #519
Beerware licence is fun, but I agree that switching to a real BSD would be easier for new contributors and the change seems straightforward.

As for switching to an GPL/AGPL licence, this seems more complicated. I have not a strong opinion on this, but I don't really see why we should bother. I would have been perfectly happy with this licence at start, but I don't see any real benefit for it now.

[2019-12-20 14:06] comradekingu commented on #517
I am on https://hosted.weblate.org/user/kingu/ on Hosted Weblate, hoping to be added as admin via https://hosted.weblate.org/access/i-hate-money/ (and then I can deal with adding other project maintainers).

[2019-12-20 22:00] almet commented on #519
I prefer the idea of a viral license in general rather than a more liberal approach.

@aavenel, Your current statement about the fact that IHM is less complete is correct today, but we  We don't know what IHM will become in the future. Making it difficult for people who would like to copy our features without contributing back is something worth it in my opinion.

So, if we are to change the licen

[2019-12-20 22:09] almet commented on #517
So far I an see the folliwing people who proposed to maintain / co-maintain :

- @comradekingu, but that's not clear to me on which parts?
- @Natim for reviews, releasing work and deployments
- @Glandos as a co-maintainer

That's plenty of people :-) I'm unsure how we should make things happen more : don't hesitate to ask if you have questions about something you feel uncomfortable with. I'll stic

[2019-12-20 22:12] almet commented on #517
@comradekingu I've added you on hosted weblate, let me know if you need anything more from me!

[2019-12-21 10:29] JocelynDelalande commented on #517
On my side, my few moments here were pleasant and friendly, nice micro-community. Contributing here is a breath !

But I'll not take any commitment in maintainership… I prefer trying to be more regular on https://github.com/YunoHost-Apps/ihatemoney_ynh  :-).

Anyway, expect small contributions / comments from time to time. As it already have be done.

<3 on you all code crafters, translaters, beer

[2019-12-21 12:31] Glandos commented on #519
Here is my own point of view.

1. The BSD+beer is pointless but fun.
2. Switching to simple BSD could be done without formally asking anyone.
3. Switching to GPL/AGPL should be done with formal consent from contributors.

Personnally I think that BSD licensing is good enough for small projects without commercial competition. This project is in the middle, as said before, since some companies offer

[2019-12-24 00:48] almet commented on #519
I believe i should actually step back on this decision :-) If BSD is simple enough, then why not!

[2019-12-24 07:34] comradekingu commented on #519
@aavenel No reason Ihatemoney should always be relegated to being worse or otherwise non-commercial. PayPal and advertisement can be added regardless. Some licenses are more complicated because they offer more protection. Any BSD offers zero protection against hardware encryption "tivoization", for example. Since none of the protections are potentially off the table, it is a good safeguard to have

[2019-12-25 20:05] Glandos commented on #519
It was just a matter of being honest to every past contributor :) Maybe a simple notification would fit.

[2019-12-26 04:56] JohnReedLOL commented on #519
I like common licenses because when I do a GitHub advanced search I sometimes filter projects by license and typically I filter out anything other than MIT or Apache 2.0.

[2019-12-26 17:06] jyleong commented on #323
Hello, I've decided to take this on and put up a PR. What do I have to do or who to contact to get it merged in?

[2019-12-28 17:16] 35609902357 opened #522 "Privacy policy"
The [website](https://ihatemoney.org/) does not have a privacy policy stating what and how data is collected, stored and eventually shared.

[2019-12-28 19:01] almet commented on #522
Thanks for taking the time to open this issue. I believe it's a duplicate of https://github.com/spiral-project/ihatemoney/issues/348, but still needs to be addressed!

[2019-12-28 19:01] #522 closed

[2019-12-29 10:57] almet commented on #323
Hey @jyleong the best way to do this is to create a new PR. You don't need to assign it to anyone, and somebody will eventually come and review it :-)

[2019-12-29 10:59] almet commented on #517
Thank you all for this nice discussion. I'll close it as I think we know have a set of people willing to do some work on the project. Thanks to everybody involved, and I'm really happy that this project goes forward :-)

See you in a bit!

[2019-12-29 10:59] #517 closed

[2019-12-29 14:37] 35609902357 commented on #348
@almet A search engine will provide many answer on how to write terms and conditions, as a rule of thumb, the less data you collect, the least responsibility you have. No logs, nothing to share, nothing to be accountable for. That of course if the data on the server is encrypted and you can't access it without knowing the user's password, if you can access it that complicates the things a little b

[2019-12-29 15:22] 35609902357 opened #523 "Add the option to split the pay"
Right now only one payer can be selected. Let's say that A offers lunch for B and C, the bill is 60$, but A only has 50$, so B helps him with the remaining 10$. As it is now this would require to input 2 different bills, instead it would be better if the paid amount could be split by inserting the amount each user contributed.

[2019-12-29 15:29] 35609902357 commented on #512
@almet @ndkoch [TrickyTripper](https://github.com/koelleChristian/trickytripper) has this feature, but the conversion rate has to be input manually. It would be useful to have it integrated with online conversion like [Currecncy](https://github.com/billthefarmer/currency) does, it fetches rates online and if no connection is possible it uses the last fetched rate.

[2019-12-29 19:40] Glandos commented on #523
It would require less clicks (especially if there is more than two payers), but on the other hand, it will make the UI much more complex.

Or we need a "Add complex bill" button with a new form.

[2019-12-29 21:59] 35609902357 commented on #523
@Glandos As you can select the people you pay for, you will be able to select the people who pay, the UI won't be more complicated. [TrickyTripper](https://github.com/koelleChristian/trickytripper) allows this and it's very useful.

[2020-01-02 15:16] almet commented on #348
@35609902357 Thanks for the follow up.

That's actually interesting, and I'm thinking about looking for a backend which would allow to encrypt the files with a secret derived from the password, or from something that's not known from the server operator.

We are in 2020, we actully should enforce this.

[2020-01-02 15:39] almet opened #524 "Encrypt the data on the server side"
The goal here would be that nobody operating the server would be able to see what's happening there.

Some information should/might still be visible for us, but I'm not even sure. By default everything should be encrypted, exept maybe contact email, and the last time the project was used, in order to be able to contact the users, and the do some cleaning at some point, for projects which are not u

[2020-01-02 15:59] jvoisin commented on #524
Since this is a web-application, there is no way to protect users from a malicious server.
What you could do, is to encrypt the data on the server, with a key provided by the user, but this would only protect the data from compelled decryption.

[2020-01-02 17:32] almet commented on #524
Thanks for your input @jvoisin. It makes me think about different things :+1:

First, it makes me realize that we actually need to define a (set of) threat model(s), and from there we might want to take design decisions ;

Secondly, and I realize you might already be aware of this, for this discussion I believe we need to make it clear that no measure will completely defeat an attacker, it will on

[2020-01-02 17:50] almet opened #525 "Simplify the creation of a new project"
I like how Splittypie does this : https://splittypie.com/new.

It asks the user to select a name for the project, and in the same window, proposes to add the new participants.

[2020-01-02 17:58] almet commented on #524
As a long-term strategy, we should define a threat model for this application. I'm kind of aware of how that works, but I actually never did this kind of work. I wasn't sure if this discussion should happen in here or elsewhere, but here we go.

Here are a set of questions / items ([taken from here](https://www.owasp.org/index.php/Application_Threat_Modeling)) that I believe can help us define a t

[2020-01-03 13:43] Natim commented on #512
What we usually do is what @35609902357 said, we keep track of the daily currency rate via a cronjob that fetches it everyday and then we use the rate of the day to convert everything to USD and then we display the total in the user currency.

[2020-01-03 19:58] Glandos commented on #524
This can also be restricted. For example, the provided key can stored as a hash, but used for decryption. So, even a site administrator can't read project data.

[2020-01-13 07:59] Natim opened #527 "Add isort support."
See https://github.com/Kinto/kinto/pull/1799
See https://github.com/Kinto/kinto/pull/2276

[2020-01-13 09:13] Glandos commented on #527
I agree.
I already use black on other projects, without any issue. I only run it manually, but it's still very useful to forget about formatting.
isort is also a nice thing to have.

[2020-01-13 20:17] #417 closed

[2020-01-14 15:42] almet commented on #527
That would be nice, and is easy to add :-)

[2020-01-14 15:42] almet commented on #527
I actually did it for black https://github.com/spiral-project/ihatemoney/commit/dc05d1cd17a4f63078f49f2d234e3d58725d5a3d

[2020-01-15 10:38] 2lafru commented on #471
I'm surprised this is considered a complex and rare use case. In my experience, the vast majority of expenses need to be split in a personalized way. The lack of this feature in open source/free solutions is why some people (including me) are stuck with Tricount.
I strongly encourage to consider this feature.

[2020-01-15 10:45] Natim commented on #471
@2lafru To be honest, I had the use case a couple days ago where we had to split and one person haven't had drinks.

The way I did it was to create two bills:
- 1 bill paid by the person with the amount for the 1 person
- 1 bill with the rest of the amount paid by the same person with the amount share between the remaining people.

[2020-01-17 08:25] Natim opened #528 "Store bills in rational cents rather than floats"
Storing bills as floats leads to a number of problematic edge cases.

Instead we should handle money as integers in cents and then display them as float in the end.

We did this change on the elm-ihatemoney project during yesterday hackathon with @gdeest and I think we should fix it in the API as well.

[2020-01-17 08:25] Natim commented on #528
Refs https://github.com/spiral-project/elm-ihatemoney/pull/16

[2020-01-17 12:55] almet commented on #528
I believe this is a duplicate of #165, isn't it?

[2020-01-17 13:00] almet commented on #471
It's my experience : I've been using the app since its conception and i never did miss this feature, so considering this as an "urgent" use case or something that we should "absolutely" doesn't seem right.

That being said, allowing this use case via a different UI might be acceptable. We should take extra care about not making the UX more complex that it already is.

[2020-01-17 13:35] Natim commented on #528
Yes but #165 was closed while we are still using float. And as you well know, we have a couple more bugs with the external lib too.

[2020-01-17 13:37] Natim commented on #528
More interesting research here: https://ren.zone/articles/safe-money

[2020-01-17 15:46] almet commented on #528
Yes, you're right : we should move away from these silly floats!

[2020-01-20 15:58] Velismo commented on #348
Hi! This is my first time cooperating. How can I Help you?

[2020-01-20 16:08] Natim commented on #348
If you want to write a legal discamer that describe the list of private information this software stores it would be great.

Now that I think about it we only keep the email address of the project creator.

[2020-01-20 16:14] Velismo commented on #348
Yeah, sure. I can do that. Sounds good for me.

[2020-01-20 16:29] Velismo commented on #348
Where I can find the info to create the disclaimer?

[2020-01-20 16:43] Natim commented on #348
According to @35609902357 :

[2020-01-20 18:34] Velismo commented on #348
Hey @Natim  I have a suggestion. How can i send it tot you?

[2020-02-03 15:26] sim6 commented on #137
Firstly, thanks for this project, it is awesome.

The @LeoMouyna partial solution looks good to me, but, please could you add who pays in the refund form title?

Maybe could be great to have also a generic refund form where we can select the payer and the receiver. This can be used to track money movements. For example when a arbitrary participant refund another participant who want to leave the p

[2020-02-04 09:24] jkopka opened #529 "Formular: Edit this member -> Submit Button Caption > Change to "Edit""
In the form for editing a member, the caption of the submit button is "Add". That should be "Edit".

for example: https://ihatemoney.org/demo/members/4504/edit

[2020-02-05 09:51] almet commented on #529
Hey, thanks for taking the time to give us this feedback. I'm marking it as a good first bug, it should be fairly easy to change.

[2020-02-05 12:27] jkopka commented on #529
Ok, i would like to give it a try and fix this.

[2020-02-05 13:06] almet commented on #529
@jkopka neat! A cool way to start is to read [the contribution guidelines](https://ihatemoney.readthedocs.io/en/latest/contributing.html), but it should be pretty straightforward for this change.

I'll let you have a look at the code, if you need any help, don't hesitate to tell us, and we'll try to help :-)

[2020-02-05 15:52] LeoMouyna commented on #137
Hi @sim6.
I probably messed up with issues number but you can see the related [PR](https://github.com/spiral-project/ihatemoney/pull/507).
I don't know if this feature is still *required* and tbh I don't remember exactly what I did 3 months ago so I will take a look tonight and show the payer. 😸

[2020-02-07 09:54] jkopka commented on #529
Ok, i have fix it. How do i commit it? I get two errors when i run "make release":
- "You must provide a DEST_DIR"
- "/bin/sh: realpath: command not found"

You have an idea?

[2020-02-08 22:17] #323 closed

[2020-02-09 12:02] almet commented on #529
I don't understand why you're trying to run `make release`? It's meant to be used for people who can issue new releases (not you ;-)).

What are you trying to do?

[2020-02-13 20:27] almet commented on #529
@jkopka hey, are you still willing to work on this?

[2020-02-14 07:34] jkopka commented on #529
I'm on it. `make release` was mentioned in the guide. It's my first contribution for a projekt here on github.

[2020-02-14 09:23] almet commented on #529
Okay, no worries. I'm sorry if the contribution guide isn't clear enough. `Make release` is a command that's made for releasing the software to PyPI, so that users can find it there.

It's not yet the step you are at :-)

Here are a few steps you can follow :

1. Clone the project locally using git clone URLOFTHEREPO and create a branch to work on using `git checkout -b member-add-button`
2. Find

[2020-02-14 09:25] almet opened #534 "Make translation documentation more accessible."
It seems the "how to translate" section of the docs is not easy enough to follow. Especially, if one want to change an already existing string.

Here are a few steps I've given in another issue. We might want to take some of these steps to put in the docs :

- Clone the project locally using git clone URLOFTHEREPO and create a branch to work on using git checkout -b member-add-button
- Find the st

[2020-02-14 14:04] SiM commented on #137
Hi,
I was just looking for this feature and I see that it's close to being integrated, so I just have to wait a little longer! :)

Thanks @LeoMouyna !

[2020-02-14 14:10] SiM commented on #55
Hi @almet ,

In my case it would be usefull to be able to add tags, so I would be happy if this is implemented ;)

Btw thank you for this simple and efficient software !

[2020-02-17 01:56] DavidRThrashJr commented on #471
I plan on implementing this feature. The first step is to refactor the code so that the api can diverge.
Please approve pull request: https://github.com/spiral-project/ihatemoney/pull/533

[2020-02-17 18:19] Glandos commented on #471
I am really curious on this :)

[2020-02-17 19:55] jkopka commented on #529
Thank you.

I got it already changed. Now i am stucked at `make update-translations`.
I got this error:
`make: /bin/pybabel: No such file or directory`
I have pybabel installed, but it is under `./usr/local/bin/pybabel`.
To get the form fixed was the easy part for me. ;)

[2020-02-20 08:45] almet commented on #529
You probably need to run `make install-dev` first. Thanks for you patience ;-) I'll update the Makefile and the docs so it's simpler in the future.

[2020-02-24 19:41] jkopka commented on #529
ok, i've created the branch, have done all necessary changes, committed them locally. How can i create a pull request?

Thanks for all your help!

[2020-02-24 21:07] almet commented on #529
Here is a useful link :-) https://opensource.com/article/19/7/create-pull-request-github

[2020-02-25 04:40] bmatticus commented on #112
I'm taking a stab at this one, just took the dashboard and implemented DataTables as a quick/easy way to add sorting/searching/pagination to the dashboard view.  Created a pull request with updates referencing this issue.

[2020-02-25 15:57] bmatticus commented on #112
Bringing this back here for now. I, reading back over this, think there were ideas of some more additions as well?

1. Add sorting; pagination and searching comes "free" if DataTables is implemented and we delegate this work to the browser.
2. Make project name a link into the project to quickly drive into it to perform other tasks?
3. Additions to actions possibly? I played with adding invite her

[2020-02-25 16:22] almet commented on #112
Nice :-)

I think it's good, yeah!

Why not :-)

I'm not sure it would be the right place for this, we probably should let the actions to the project itself, don't you think?

[2020-02-25 16:42] bmatticus commented on #112
Agree, there was a mention of making it easier to send emails from the dashboard possibly in the second comment?

Maybe a difference email, or maybe driving into the project from here more easily is the proper answer?

[2020-02-26 20:13] bmatticus commented on #112
I've found SQLAlchemy-DataTables that allows the use of SQLAlchemy with datatables to drive backend queries and offload some of the complexities of the queries. I have tested this with the dashboard and it works, but the formatting of the table has to be done in a slightly different, less than ideal, manner.

This can be applied to the existing bills page too, potentially. I have noticed that now

[2020-02-27 11:52] Shaac opened #540 "Fresh install breaks because of dependency Werkzeug 1.0"
Hello,

I just did a fresh installation, following the documentation, namely a new python virtualenv, and then `pip install ihatemoney`.

[code]

It seems that the new realease of Werkzeug 1.0, 3 weeks ago, changed their API. I’ve seen that in requirements.txt, the specified version is 0.16, but `pip install ihatemoney` seems to have downloaded the 1.0 version.

I was able to fix the issue locally

[2020-02-29 15:07] Glandos commented on #328
It seems that the demo project is clean from time to time. Can we consider this closed?

[2020-03-02 18:58] jkopka commented on #529
I have crates and closed the pull request. What’s next?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-04 18:56] gr8temi commented on #540
Hi @Glandos I would love to fix this bug for you

[2020-03-04 21:26] Glandos commented on #540
[**@gr8temi**](https://github.com/gr8temi) commented on [4 mars 2020 à 19:56 UTC+1](https://github.com/spiral-project/ihatemoney/issues/540#issuecomment-594751554 "2020-03-04T18:56:43Z - Replied by Github Reply Comments"):

Please do :)

[2020-03-09 10:30] LeoMouyna commented on #528
Hey @Natim !
Are you sure you want to store integers ? After reading your article we might want to store it as decimal string: https://docs.python.org/3/library/decimal.html and do operations with fractions: https://docs.python.org/3/library/fractions.html
What do you think about this ?

[2020-03-09 13:59] Natim commented on #528
Yes you are exactly right.

[2020-03-10 18:53] baizsof opened #542 "dev env setup fails"
Hey,

I just found this repo, the idea is great, I would like to contribute.

I followed instruction from here: https://ihatemoney.readthedocs.io/en/latest/contributing.html

1. Cloned the repo
2. installed the requirements inside requirements.txt
3. gave command python run.py

And got the following error.
[code]

[2020-03-10 18:58] almet commented on #542
Can you please paste the configuration file you're using? Thanks!

[2020-03-10 19:05] baizsof commented on #542
Hey, thanks for the rapid reply. I have not change the config file at all. Using the default settings, which are the dev env settings stated in the config file.

[2020-03-10 19:10] baizsof commented on #542
Is any other preparation required for dev env then the following one?

`git clone https://github.com/spiral-project/ihatemoney.git
pip install -r requirements.txt
pip install -e .
cd ihatemoney
python run.py`

[2020-03-10 19:34] almet commented on #542
I believe this is because you're running windows. By default, the database is supposed to be in /tmp, which doesn't exist on windows.

I'm not sure if we're currently supporting windows, I've never had any feedback about it, and my knowledge of this OS is fairly low. In order to make this work, I believe you would need to generate a configuration file (see the docs for this) and then point the "IH

[2020-03-10 21:51] jdckr commented on #542
I don't know if it is worth to get it running on Windows. Setup WSL and you're good to go. Still you can access the files from Windows and use your favorite IDE.

[2020-03-13 17:22] indatwood opened #543 "Icon is too small"
*Hi, and thanks for this project, it's great :-) I just discovered it and I'm opening a few issues here and there to propose feedback. Hope it's the right way to do things around here!*

The [icon used as a favicon](https://raw.githubusercontent.com/spiral-project/ihatemoney/master/ihatemoney/static/favicon.ico) is too small for my eyes, or maybe it depends on the colors used, but I find it almost

[2020-03-15 22:17] almet commented on #543
Hi, thanks for opening the issue, that's appreciated, and thanks for the kind words :-)

I'm okay with updating the current icon, this one is not really handy! Not sure about the one you're proposing though, it looks good, but I'm not sure it'll show properly as a favicon.

[2020-03-22 20:23] GateauXD commented on #542
I ran into the same problem that @baizsof had and using WSL instead of trying to install directly on windows worked.

In WSL I used:
[code]
and everything worked properly

[2020-03-23 16:54] almet commented on #542
Thanks! Closing :-)

[2020-03-23 16:54] #542 closed

[2020-03-29 22:32] DavidRThrashJr commented on #471
@Glandos @almet @Natim @2lafru
Getting closer to having this feature implemented. In the project settings you'll be able to set "advanced weighting" to enabled. The front end gui is working and additional database queries have been added. I'm having issues with retrieving the data (weights) from the submitted form. My attempts at using FieldList(FormField(PayedForForm) for the Payed For section ha

[2020-03-30 02:38] DavidRThrashJr commented on #523
Duplicate issue
https://github.com/spiral-project/ihatemoney/issues/471#issuecomment-605712209

[2020-04-02 14:20] JocelynDelalande commented on #540
I can confirm the bug ; that does not only affect current master but also stable release 4.1.3 (probably any fresh install and upgrade).

[2020-04-02 14:27] JocelynDelalande opened #545 "Is requirements.txt honored ?"
Digging a #540, asking myself why werkzeug 1.0 got installed , I was wondering if requirements.txt got used at all,

After installing via pip, here is what `pipdeptree` gives :
[code]

These requirements seems to match only those in setup.cfg (which have no version constraint), and not those in requirements.txt.

If requirements.txt is supposed to be used, how so ?

I think I am missing something

[2020-04-02 16:01] Glandos commented on #545
`requirements.txt` is only used bu `pip` when called with`-r requirements.txt`. When using `pip install ihatemoney`, the listed dependencies in `setup.cfg` are used.
There surely is a way to use the same list, but I don't know it. And it may be hacky :smile:

[2020-04-02 20:17] JocelynDelalande commented on #545
Ok, that is what I feared.

That seems quite inconsistend and dangerous to me :-/. We have absolutely no requirement on deps versions on setup.cfg.

It seems like a situation where devs test with a deppendencies set, and users install another deps set :-p.

I could try to copypaste some hack I saw in other projects I work on to use the requirements.txt from the setup.py/cfg.

Otherwise, we could a

[2020-04-03 02:44] allisongu commented on #55
Hi @almet ,
@nachow16 and I would love to work on this feature!

[2020-04-03 03:00] nachow16 commented on #430
hey @almet ,
@allisongu and I would like to work on this feature!

[2020-04-03 17:27] rosechar commented on #135
Hi, is this currently being worked on? If not I would like to give it a try.

[2020-04-03 18:07] Glandos commented on #135
I don't think so. You can have a look at it :)

[2020-04-03 20:43] Glandos commented on #135
Maybe we can change it in another request, if it's annoying.
But another "good" change would be to select the language based on UA locale.

[2020-04-03 23:27] Andrew-Dickinson commented on #426
Hi @almet

I'm looking into working on this issue. My plan is to add a database table specifically for handling this feature and then a logging call at each endpoint (and each API endpoint as well) which adds an entry to this table, recording the IP address of the request.

Then we can list the relevant log entries for each project on a page called "History" listed next to the "Settle", "Statistic

[2020-04-03 23:35] Andrew-Dickinson commented on #152
Hi @almet

I'm thinking of working on this issue, it looks like the first step would be mockup of the UI changes in the "Add a bill" dialog. It seems like you guys put a lot of emphasis on keeping the default workflow as simple as possible. For this feature, maybe the best way to implement that would be a "Make recurring" hyperlink just above the submit button which expands to reveal the interface

[2020-04-04 03:09] rosechar commented on #135
I have submitted a pull request with the functionality of making session permanent!

could I ask you to elaborate on your last comment about selecting language based on UA locale? I am confused about what UA locale is

[2020-04-04 03:33] rosechar commented on #89
I am going to try taking this on using the approach outlined ( using session object to store the deleted record data)

[2020-04-05 09:51] almet opened #548 "ihatemoney.org expire dans 14 jours"
Hi, I've just received this message from Gandi, and the hosted domain needs to be renewed.

In the past, I've payed it myself or I've asked the users to contribute via a kind of crowdfunding. This time, if it's possible, I would like to not deal with this.

Let me know if you're happy to deal with this :-)

cc @Natim @JocelynDelalande @Glandos

[2020-04-05 09:59] almet commented on #545
I believe I introduced the problem in https://github.com/spiral-project/ihatemoney/pull/483, sorry about it :-)

Previously, `requirements.txt` represented a known working set, [see the docs for more info](https://ihatemoney.readthedocs.io/en/latest/contributing.html#how-to-release). @Natim is the one knowledgeable about this, and he might have good insights about what we should do now.

My take o

[2020-04-05 11:48] indatwood commented on #545
I believe `dev-requirements.txt` contains only extra package information, useful for devs, so @almet, it seems that what you're proposing is that we replace the `dev-requirements.txt` with just a list of requirements with no pinning, but not specific to dev?

[2020-04-05 11:49] indatwood commented on #529
@jkopka If the issue is fixed, then you should close it! Not sure if you have the right to do that?

[2020-04-05 12:23] Glandos commented on #545
After a bit of reading, I think this is interesting:
- https://packaging.python.org/discussions/install-requires-vs-requirements/
- https://caremad.io/posts/2013/07/setup-vs-requirement/

The second one is referenced by the first. Basically, it says that two lists are made for different purposes.

But the second article propose a nice solution. Having this in `requirements.txt`:
[code]
This will m

[2020-04-05 12:26] Glandos commented on #548
I am OK to pay for 1 year from my personal fund. If someone want to add a bit, then we can sum it up.

Also, I already have a Gandi account, if you need to transfer the ownership.

[2020-04-05 12:39] eMerzh commented on #548
@Glandos i can probably put a few euro too if needed,
maybe we can start adding a "donation" on github or some other plaftorm to make this more official and recurring ?

[2020-04-05 12:52] JocelynDelalande commented on #548
Hi ! @eMerzh good idea :+1:. @almet if we manage to get more than enough that way, maybe hosting of ihatemoney.org could go community-funded as well ?

Less fundamental : I'd prefer donations on something more ethical than github, like liberapay.

[2020-04-05 13:07] eMerzh commented on #545
do you guys have feelings about an higher level package manager like https://python-poetry.org/ ?

i think with the lock file & all it can help solve our issues.

[2020-04-05 13:16] JocelynDelalande commented on #545
First take on this (that means, totaly open to discussion and to change my mind).

I read a bit about poetry, in its documentation. It seems really like a powerful, consistent and neat tool. I think there is nothing. I'd love to test it myself.

But. I have the feeling that there is no issue that we face that cannot be solved without using more standard tooling.

It's expert tooling. Using that ki

[2020-04-05 18:38] indatwood commented on #548
Neat. Opening a donation fund for this seems a good idea !

For the hosting, I remember this is community hosted thanks to always data. (I had troubles to find it, but the info is [here](https://mailman.alwaysdata.com/hyperkitty/list/info@ihatemoney.org/thread/4LOQRI5VEAJJSZDRGTR2VBSIKGKJASAI/)).

(Which makes me think we should probably make this email list more visible!)

[2020-04-05 20:54] Glandos commented on #426
Please make IP recording optional.

Some administrators and users don't want this, and new privacy related laws make it even harder to deal with IP addresses. At least in UE, it is considered as a personal identifier.

[2020-04-05 21:38] JocelynDelalande commented on #548
Oh sorry, i forgot about that :x. Thanks for the reminder, and thanks to them !

[2020-04-05 22:06] almet commented on #548
Seems you're on it, awesome :-) I don't believe I need to transfer the domain, using the link in the description of the issue should be issue to renew it!

[2020-04-05 22:12] almet commented on #426
Hey, thanks for your proposal. I'm handing this to the new maintainers, I'll let you see with them!

[2020-04-05 22:13] almet commented on #89
Hey, I'm handing this to the new maintainers @glandos and @Natim. You're in good hands :-)

[2020-04-05 23:49] Andrew-Dickinson commented on #152
I put together some mockups, please let me know what you think!

The behavior of the proposed changes requires the consideration of a back-end "recurrence object". This object would represent the concept of repeating bills. Each bill that is (or was) repeating would have a recurrence object associated with it, and all bills in the same "series" would reference the same recurrence object. Recurrenc

[2020-04-06 02:30] Andrew-Dickinson commented on #426
How about we add two options to the "Settings" page?
- [x] Enable Project History
  - [ ] Record IP Addresses

Where "Enable Project History" is turned on by default, but "Record IP Addresses" is off by default, and "Enable Project History" being off implies that "Record IP Addresses" is also off.

[2020-04-06 02:33] Andrew-Dickinson commented on #426
It seems like the [SQLAlchemy-Continuum](https://sqlalchemy-continuum.readthedocs.io/en/latest/index.html) package could be really useful here. It can automatically log database changes (and IP addresses if used with the Flask plugin).

One challenge I see is disabling IP address logging on a per-project basis. I'll keep digging to see if there's a way to intercept the database call and scrub the

[2020-04-06 06:23] eMerzh commented on #152
Hi, didn't check the rest of the proposal,
but little nitpick, please don't put recurring icon with other actions icons (edit, delete)
i'd probably add it near the date or smth.

Other than that, visually, i like the fact that it's pretty discreet

[2020-04-06 06:25] eMerzh commented on #89
My two cents here: UX wise, i think it's always better to do undo than confirm.

[2020-04-06 09:16] indatwood commented on #152
Wow, that's a nice proposal :-) Thank you for the work done already!

That looks great to me, go ahead !

[2020-04-06 09:19] indatwood commented on #426
I'm also -1 on using IP addresses, for the same reasons @glandos points out, but we could use a hash based on these IP addresses (so that it's unique, but it's not using a personal info such as the IP address), or maybe find another way to identify the user (but I don't know which other way we could use, as we don't have a concept of user !)

[2020-04-06 14:37] QuentinRoy commented on #89
Confirmation dialog are likely to be "chunked". You quickly get into the habit of instinctively clicking on it. It may prevent some "slips" but not "mistakes" (https://www.interaction-design.org/literature/book/the-glossary-of-human-computer-interaction/human-error-slips-and-mistakes).

[2020-04-06 14:53] indatwood commented on #89
@rosechar seems you have an answer here :-) Let me know if you need any help on this :-)

[2020-04-06 18:09] rosechar commented on #89
That certainly makes sense from a UI perspective. I will take the approach of an undo, thank you for your input

[2020-04-06 20:53] Andrew-Dickinson commented on #426
**A note on hashing IP addresses**

IPv4 addresses are only 32 bits (IPv6 are 128bits). Since most internet users are still on IPv4 (and have limited control of it based on their ISP), from a privacy perspective let's limit the discussion to just IPv4 addresses for the moment.

Md5 hashes are 128 bits. Depending on the flavor, SHA hashes are 128, 256, or 512 bits. The point is that since IP addres

[2020-04-06 21:22] Glandos commented on #548
[**@almet**](https://github.com/almet) commented on [6 avr. 2020 à 00:06 UTC+2](https://github.com/spiral-project/ihatemoney/issues/548#issuecomment-609492348 "2020-04-05T22:06:53Z - Replied by Github Reply Comments"):

Indeed. I renewed it just now, for 1 year. I paid using instant transfer, so it should be effective quite fast.

That's the first time I pay for something that I don't own, and I d

[2020-04-07 15:06] Glandos commented on #529
The issue will be fixed with #539 but @LeoMouyna objected the comment I've made, and didn't answer yet, so I'm waiting for a reply.

[2020-04-07 15:13] Glandos commented on #548
https://whois.gandi.net/fr/results?search=ihatemoney.org

By the way, there are personal data in here, I don't know if .org allows you to hide it, but you should try.

[2020-04-07 15:20] Glandos commented on #426
I guess that we either try to record who did what, or just what was done.

If we want to really identify users, then we need to create an user account system. But it is clearly out of the scope of this project, so let's rule it out.

An history of what was done is clearly a nice improvement.

Who did what with IP addresses can be acceptable, just to be able to discriminate changes in small project

[2020-04-07 15:45] Glandos commented on #135
Sorry, I guess I made a mistake.

The browser sends a list of accepted language. And the software should select a sane default based on this list.

[2020-04-07 16:00] Glandos commented on #152
This is indeed a wonderful proposal!

However, to make code a lot simpler, I would like to have another proposal: a copy feature. We can add a "copy bill" that opens the "Add bill" form with all fields filled with the original bill.
Of course, it's a manual operation, and it doesn't fit the original requirement completely.

By the way, a "copy" operation could be useful even with recurring bills i

[2020-04-07 19:52] Glandos commented on #112
Fixed by #538

[2020-04-07 19:52] #112 closed

[2020-04-07 20:00] Glandos commented on #471
@DavidRThrashJr I have created a demo project with 2 participants and 1 bill. Then switch to your branch, and I got this:
[code]
I don't know how you managed to reach your screenshot.

[2020-04-09 16:54] almet commented on #545
+1 to keep the project easy to contribute, of course. That being said, that's not clear to me what the process would be, and, quite frankly, the "how to publish" on our documentation is already kinda messy (read: why not poetry, shouldn't we try first if it helps solving our issues?)

That's not clear to me who should solve this, and it seems "pretty urgent" if the current releases are impacted ;-

[2020-04-12 19:14] DavidRThrashJr commented on #471
@Glandos Try again with my latest commit.

[2020-04-13 08:37] eMerzh commented on #545
Hey don't want to argue to much here,
but i'm also +1 for a project easy to contribute.
The thing is that unlocked deps are already an issue for contributors (new or old) as we can see here.
Poetry is only a single tool (like virtualenv you describe in the doc) and is becoming quite popular.
Also i really think that for new contributors we should concentrate on a fully integrated docker for dev .

[2020-04-14 08:56] #529 closed

[2020-04-14 09:38] JocelynDelalande commented on #545
Thanks for the chat.

So I guess after this discussion we can just move forward and look at any solution that someone would submit via a PR, being with poetry (that add some tooling, but may ease some things also).

[2020-04-15 16:58] rom1dep commented on #471
Hi, as I was looking for a self-hosted tricount alternative, I found out about this project,

not being able to distribute a bill unevenly almost ruled it out for me (and luckily I dug up this issue).

UI doesn't have to be sacrificed either, [here is how it looks in tricount](https://blog.tricount.com/en/screenshot-en-unevenly.png), which is pretty much what @JocelynDelalande proposes.

Thanks @D

[2020-04-15 17:18] rom1dep commented on #528
@LeoMouyna how do you plan on serializing `Fraction('1.1') + Fraction('0.3') + Fraction(100 ,3)`? as a `(521, 15)` tuple?

[2020-04-17 16:38] indatwood commented on #471
That's great :-) @DavidRThrashJr I've checked out your latests commits, but didn't manage to reach a usable state either.

Here is what I have currently ![Capture d’écran de 2020-04-17 18-36-43](https://user-images.githubusercontent.com/59884378/79592610-7f963e00-80da-11ea-90f1-c1c568d74061.png)

@DavidRThrashJr are you okay opening a pull request here indicating "WIP" in its title, so we can foll

[2020-04-18 12:51] Glandos commented on #471
The UI is not the only thing, but clearly, the Tricount design shows that it is easier for a user to enter an amount instead of a weight.

[2020-04-18 21:03] DavidRThrashJr commented on #471
@Glandos
The weights just need to equal the amount, if you want to enter direct amounts.

@indatwood
you have to go to the project settings to enable the advanced amounts
We may implement it like triccount eventually

[2020-04-19 22:17] DavidRThrashJr commented on #471
![image](https://user-images.githubusercontent.com/60800614/79701186-fc572280-8268-11ea-9ffc-7a6f8a7a0e5b.png)
I've copied the triccount layout, except you can't specify the amount per person in the due column. You have to use the weight column.

The advanced toggle switch is enabled for all projects. You can set the project to be in the advanced mode by default, for those who always use the advan

[2020-04-20 13:30] #426 closed

[2020-04-20 13:35] eMerzh opened #556 "Release and discussion"
Hey, now that there are muliple person involve,

i was wondering if now is not a good time to cut a release (beta or some pre- thing)
or at least determin a good time to do that.

also, not sure what's the best channel to discuss this, github issues?

[2020-04-20 13:38] Glandos commented on #471
I'm currently using weights for a full project, so I'll be glad if it's still working.
What I don't understand here is: what happens if weights are changed when creating a bill? Will it change weights on the project?

[2020-04-20 13:44] Glandos commented on #556
I don't know if some people are still using IRC, but I've created #ihatemoney on Freenode.

[2020-04-20 13:55] DavidRThrashJr commented on #471
There wouldn't be a clean transition to what I proposed. The function to calculate what is owed won't use the project level weights anymore. Only the weights on the bill level will be used to calculate what is owed. I could write a transition script to set the bill level to be what is set at the project level during the upgrade to the new version.

No it would not change those weights. If the user

[2020-04-20 16:18] indatwood commented on #471
Thanks for working on this :-)

At first, I found it weird to use weights rather than direct amounts, but I now understand this is due to the naming. Especially if we are using weights on the project, then I think we shouldn't name the two concepts the same way.

What about percentage? I think it betters explains what it does. Also, would it be complicated to add the direct amounts?

[2020-04-20 16:38] indatwood commented on #556
I've joined the IRC channel, let's see if there is some activity in there :-)

+1 to cut a release. I've checked the previous releases and it didn't seemed to have a beta or pre- channel, so I'm not sure how we should do it, but I believe it could be a good thing : a bunch of new features were implemented, and might break :-)

[2020-04-20 18:32] eMerzh commented on #556
the last thing we want to get fix is the werkzeug thing.... i might have a shot at this soon

[2020-04-20 18:51] rom1dep commented on #471
@DavidRThrashJr Both weighting mechanisms could be used in combination to ease the transition, I think it's fine as long as it's clear what the effect is:

user | weight¹ | user weight²³ | effective weight³ | due
-- | -- | -- | -- | --
persona | 300 | 2 | 600 | 362
personb | 156 | 1 | 156 | 94

¹ editable in the bill form
² read-only in the bill form, editable in project conf
³ only shown when per

[2020-04-20 18:53] rom1dep commented on #471
@indatwood : what do you do with/how do you name "percentages" whose sum isn't bound to equal 100?

[2020-04-20 22:09] DavidRThrashJr commented on #471
Too complicated, this didn't pass the "wife usability check"

I'm ok, with making the advanced mode unavailable for people who want to use the weighting on the project level. I just need confirmation from the maintainers of this repo that they'll approve a merge request if it is designed this way.

[2020-04-21 07:52] Natim commented on #545
Usually I tend to keep projects version up-to-date as much as possible.

Since we want to be able to install ihatemoney from pypi we should keep dependencies in setup.cfg, it seems a good idea to me to pin them there and then plug dependabot to the repository in order to keep them up-to-date.

[2020-04-21 08:30] #545 closed

[2020-04-21 08:35] Natim commented on #540
Too bad tests are passing with this bug.

[2020-04-21 08:36] Natim commented on #540
I just tried with 1.0.1 and everything looks fixed.

[2020-04-21 08:36] #540 closed

[2020-04-21 08:55] eMerzh commented on #556
now werkzeug seems to be cared for :)
we can move forward...

[2020-04-21 09:23] #328 closed

[2020-04-21 11:59] #527 closed

[2020-04-21 12:12] rom1dep commented on #471
@DavidRThrashJr if both approaches can't play together/at the same time, doesn't it also mean giving up on backwards compatibility for existing projects?

[2020-04-21 13:18] DavidRThrashJr commented on #471
Correct.
The best case scenario for the existing projects is as follows: When we run the migration.py to the new database schema that includes the weight column in the billowers table, we set the weight in that table to the current project level weights. After that point, the add bill form will pre-populate with the project level weights, thus allowing both project level weights and bill level wei

[2020-04-21 13:44] eMerzh opened #563 "Integration with translation platform"
we should definetly integrate our repo with the translation system, actually weblate.

We might also explore new possibilities like lingohub or transifex if needed

_Originally posted by @Natim in https://github.com/spiral-project/ihatemoney/pull/539#issuecomment-617064016_

[2020-04-21 14:15] Natim commented on #563
Yes I just discovered that people where using weblate. Do you know if there is a PR mecanism with Github ?

I just talked with the CEO of LingoHub and he agrees to give us a free account for I hate money.

[2020-04-21 15:24] indatwood commented on #471
If it's percentages, then their sum should be equal to 100%, for sure!

In term of UX, we could have a range input for each person which participates and have the sliders assigned automatically. For instance if there are two people, then setting the first slider will automatically assign the second one; if there are three people, then assigning the first two will assign the last one.

Or we could

[2020-04-21 15:45] indatwood commented on #563
It seems that we are currently using weblate, and it should be opening PRs automatically when new translations are done on the platform (see https://github.com/spiral-project/ihatemoney/pull/510 for an example).

I know that weblate is open source and offers free access to open source projects, and I believe it's the case for I Hate Money.

[2020-04-21 17:47] #563 closed

[2020-04-22 14:16] indatwood commented on #525
This screen seems nice. I'm attaching a screenshot so that everybody can see.

![image](https://user-images.githubusercontent.com/59884378/79993097-a971ab00-84b4-11ea-95c1-d71adc33221c.png)

Marking this as a good first bug, and pinging @eMerzh as he seems to have good usability insights.

[2020-04-22 14:29] eMerzh commented on #525
didn't new splittypie, not really a huge fan... like participants are required to go forwardb but not marked as required, why choosing currency is SOOOO usefull at this stage.

And all in all our form ask for less informations ...
I think the issue come down our "prefered" login method (the project+password) instead of the token.

My Ideal would be :

Screen 1:
Ask from project name + email

Scree

[2020-04-22 14:38] indatwood commented on #524
This discussion seems both interesting *and* complex :-)

If we want to keep the data away from the server owner, then it seems that there is no way to fix it for good : the admin can intercept all the data he/she want.

That being said, in security it seems that it's a matter of making things harder for the attackers. We could encrypt the data on the server side with a key known only to the conne

[2020-04-22 14:39] indatwood commented on #523
Thanks, Closing :-)

[2020-04-22 14:45] indatwood commented on #519
Hey, so what should we do about this? It seems to be a political choice! (A)GPL seems to be the "best" choice, and BSD seems to be the "easy" one.

I believe having a lawyer's opinion about all this would help. I'm wondering if the FSF could help us with this?

[2020-04-22 14:46] indatwood commented on #501
Hi @JoseAntonioTorre and @JvPy. Are you still happy to work on this?

[2020-04-22 14:56] indatwood commented on #416
I'm not sure what we should do about this. It seems to me that backups are done via the server operators direclty.

I can see why it would be interesting to put the user back in control here — especially with the rise of decentralised softwares, which creates problems of data disapearing when the server crashes — but I believe it's out of the scope of this project to implement something that's not

[2020-04-22 14:56] indatwood commented on #412
This was fixed with #504

[2020-04-22 14:56] #412 closed

[2020-04-22 15:08] indatwood commented on #393
With [the algorithm we are currently using](https://framagit.org/almet/debts/-/blob/master/debts/solver.py#L49-81), doing this will most of the time generate more reimbursment steps.

That being said, it seems feasible only for one couple of persons, one would need to pass the prefered person to reimburse, which would be used in the sorting.

Or we would need to rethink the whole algorithm :-) cc

[2020-04-22 15:11] indatwood commented on #385
@ari-s, if you're around, what do you think about the last @almet's proposal?

[2020-04-22 15:16] indatwood commented on #382
This seems fixed to me!

[2020-04-22 15:16] #382 closed

[2020-04-22 15:17] indatwood commented on #348
Hi @Velismo you can comment here if you want :-)

[2020-04-22 15:18] indatwood commented on #332
Hi, is there anybody around here with expertise on docker?

[2020-04-22 15:22] indatwood commented on #143
Hi @lndamaral !

Are you still keen to work on this?

[2020-04-22 15:23] indatwood commented on #136
It seems this feature is still looking for somebody to implement it :-)

[2020-04-22 15:25] indatwood commented on #135
@Glandos I'm not sure what to do about this then : we merged but we shouldn't have? or should we close this?

[2020-04-22 15:25] indatwood commented on #125
This is fixed thanks to @tombiju's work :-)

[2020-04-22 15:25] #125 closed

[2020-04-22 16:39] Gredin67 commented on #393
I guess you are minimizing the number of reimboursement steps/transfer and the amount of money transfered. You could also release the constraint on minimum amount of money. And add the constraint on preferred person to reimburse. But well yes I guess this change would require to rethink the algorithm.

[2020-04-22 19:43] Glandos commented on #416
I still think that there is already a good bunch of available solutions out there for backups. Adding an internal solution will add some complexity (dependencies on email library), and sending an email is *not* easy: you have to deal with an existing SMTP server with credentials, etc.

We could add another section in the documentation, on how to backup the SQLite database, or how to export the JSO

[2020-04-22 19:47] Glandos commented on #135
The discussion was a bit confused, but we can close this.

[2020-04-22 19:47] #135 closed

[2020-04-22 19:58] Glandos commented on #525
I agree with @eMerzh. The UI is nice and polished, but the UX is different. We all agreed that a currency should be optional, and participants are not mandatory for creation.

Adding participants is a one-shot task, so there's no need to have a "batch add" UI.

Some settings (like currency) could be available from the sidebar as a quick way to review and set them.

[2020-04-22 20:09] Glandos commented on #471
OK, I will throw another opinion here.
I agree that mixing weights between project and bills is too complicated. We are not an accounting software.

I propose the following:
- Keep project weights, to be able to use them as templates for bill weights
- Fill the new bill form with project weights
- In an advanced section, show weights, but the only editable field should be the amount, not the weigh

[2020-04-22 20:30] jdckr commented on #332
Hi,

I didn't have any problems deploying it with docker. I basically followed the available documentation.
I built the image with:
`docker build -t ihatemoney:local .`

After that I deployed it with docker-compose:
[code]

 [entrypoint.sh](https://github.com/spiral-project/ihatemoney/blob/master/conf/entrypoint.sh) lists the available environment variables which are used to create the config file

[2020-04-23 02:08] DavidRThrashJr commented on #471
Thanks for the feedback,
I've implemented the above recommendations in the last commit.
For the weights column when creating a bill I've removed the mention of weights, so that users can use that field however they want. This could be percentages, i.e. 60/40 or specific amounts 20/10 for a bill of 30. This is exactly how ttaccount handles this, they don't label the field.

You can test and use the

[2020-04-23 08:25] Natim opened #567 "Upgrade to WTForms 2.3.1"
It seems that the way we add some errors breaks going from WTForms 2.2.x to WTForms 2.3.x

It might be because of https://github.com/wtforms/wtforms/pull/568

[2020-04-23 16:21] zorun commented on #136
Yes, I never went around to try something, feel free to pick this up :)

For now I'm producing graphs "offline" with a custom json-to-gnuplot conversion script, but it would definitely be better to have it integrated in IHM!

[2020-04-23 17:07] zorun opened #568 "Add a "fixture" system to load dummy data when developing"
When developing, it is often needed to populate a test database with dummy users and bills.

I often end up entering data manually because I don't keep the test database each time I work on IHM.

Django has a "fixture" system that allows to store data in JSON format and load it in the database: https://docs.djangoproject.com/en/3.0/howto/initial-data/

Would it be useful to have a similar system f

[2020-04-23 17:34] zorun commented on #556
A new release would be good! 4.1.3 is now 7 months old and things changed quite a lot.

However, there are some pretty big features (such as #553), so it would be good to gain more exposure to catch remaining bugs and regressions. The IHM doc says:

*Ihatemoney follows [semantic versioning](http://semver.org/). So  minor/patch upgrades can be done blindly.*

In that case I wouldn't upgrade blindly

[2020-04-23 18:41] eMerzh commented on #568
we could probably use faker for that...
 also think that this could help developper experience.

[2020-04-24 07:15] Natim commented on #556
I think going with semantic versioning is good enough. If there is a bug, people can still use the previous version in the meantime, file an issue and we will do a patch release right after. We don't need to make a complex setup here IMHO.

Release early, release often.

[2020-04-24 17:32] zorun commented on #302
Currently (10c35e41ce7) we have the following distribution:

| Word | Occurrences in source translation file | Occurrences in code¹ |
|--|--|--|
| people | 3 | 2 |
| member | 3 | 297 |
| participant | 3 | 0 |
| person | 1 | 98 |

Regarding strings, I don't think a single word would be appropriate everywhere, for instance "People to notify" in the email invite form sounds right because they are not

[2020-04-24 19:56] zorun opened #576 "Improve translatability of the new "History Page" feature"
The new History Page (#553), while awesome, is a bit hard to translate as it stands currently.

The first problem is that the type of object is uppercased, because it's the first word in English. However, it might not be the first word in other sentences. For instance: `Participant Foo added` could be translated as `Ajout du participant Foo` or even `Ajout de Foo comme nouveau participant`.

The s

[2020-04-24 21:41] symphorien opened #577 "migration fails from empty postgresql database"
I'm updating the ihatemoney package in NixOS from 4.1.3 to 4.2 and the automated tests fail when the backend is postgresql.

The full error is here, and happens on a freshly created and empty postgresql database.
[code]

This does not happen on 4.1.3 or with the sqlite backend.

[2020-04-25 08:48] Natim commented on #577
@symphorien thank you very much for this early bug report. I guess that the kind of feedback we were needing for this release.

I know that Alembic sometimes is having issues auto generating migrations and they need to be improved by hand.

[2020-04-25 09:14] Natim opened #578 "Document how to configure locally"
[code]

[2020-04-25 09:20] Natim commented on #577
Can you tell me if #579 fixes the issue?

[2020-04-25 09:43] symphorien commented on #577
Yes this fixes the migration and the test now passes.
Note that it's really simplistic (it only creates an empty project) : https://github.com/NixOS/nixpkgs/blob/master/nixos/tests/ihatemoney.nix#L28-L30

[2020-04-25 09:55] #577 closed

[2020-04-25 11:09] Natim commented on #576
I did a first pass in #581 to be able to translate it in French. It could be sufficient for now. Let's iterate if we see other issues.

[2020-04-25 11:57] zorun commented on #576
As always the devil is in the details ;) With the current French translation:

[code]
Some of the issues: no space before ":", wrong *accords* like "ajouté" instead of "ajoutée", inconsistent upper-case, "du liste" instead of "de la liste"...

Having whole strings to translate would easily solve all these issues for all languages.

The weird part `42.0 for <description>` is another issue, see #584

[2020-04-25 12:15] Glandos commented on #302
Since #575 goes for "participants", and I agree with this, let's go for this renaming.
Of course "participants" will be used only for people already in the project. When referring to invitation or administration, it still can be "people" or even "user".

[2020-04-25 12:17] JocelynDelalande commented on #302
:+1: @glandos @Natim @zorun

That is such a joy when some people craft a solution for an issue you reported a few years back :hugs:

[2020-04-25 17:28] zorun commented on #302
@JocelynDelalande sometimes it takes time for good ideas to materialize ;)

@Glandos thanks for mentioning "user", I have updated the statistics table to account for it.

The result is interesting: "user", "participant", "people", "member" are used in the strings, while "member" and "person" are used in the code.  The only overlap is "member"...
Also, updating strings should be easy (14 occurrence

[2020-04-25 22:00] Andrew-Dickinson commented on #576
@zorun Should be mostly fixed now, can you take a look at #587 and let me know if you see anything I missed?

[2020-04-26 10:33] zorun commented on #540
I just tried installing a fresh ihatemoney 4.1.3 on Buster and I still have the issue:

[code]

Here is a pip freeze in the virtualenv:

[code]

So, I believe werkzeug 1.0.1 does not fix the issue. Manually downgrading to 0.16did.

[2020-04-26 12:33] zorun opened #588 "Prepare a bugfix-only 4.1.4 release?"
Currently, the latest release 4.1.3 is broken for new installs (#540).

The new 5.0.0 release (#570) might still take some time to happen (fix pending issues, wait for translators to pick up new strings, etc). In addition, it drops support for python 2 and python 3.5, so even in the long run some people may not be able to switch to 5.0.0 immediately.

Thus, I would like to propose a new "stable" 4

[2020-04-26 12:39] eMerzh commented on #588
i  👍 that :)
quickly checked and your summary cherry-picks are good for me.

[2020-04-26 17:41] zorun commented on #588
Cool :)

I have started preparing a WIP branch here: https://github.com/zorun/ihatemoney/tree/prepare_4_1_4

I found a few more fixes that could be backported, but it's still missing dependency pinning and translations for now.

[2020-04-28 16:36] JocelynDelalande opened #597 "Point to playstore/fdroid app rather than nerdy git"
The smartphone icon points to https://gitlab.com/eneiluj/moneybuster

This is not nice for « simple users ». As, on earth, « simple users » are more numerous than « app developpers », maybe we could point to something more user-friendly :-)

[2020-04-29 09:49] zorun commented on #588
It turns out that there were many more small fixes than I thought... I have edited the list in the first comment.

Currently missing are: proper dependency pinning (does anyone want to work on backporting this?), email error handling, Russian translation.

Two tests are failing with python2 while everything passes with python3, I'll have to investigate:

- BudgetTestCase.test_invite: `AssertionErr

[2020-04-29 10:47] JocelynDelalande commented on #471
Thanks @DavidRThrashJr ; this is an hard design exercise.

Just tested quickly, a few remarks :

## why advanced mode is enabled by default ?

## bill weights vs bill ammount stuff

That is a very mathematics approach, hard to understand for end-user.

I think we have to implement @Glandos suggestion : fully showing in UI, that amounts are expected. Manually using weights at bill-level stuff shoul

[2020-04-29 12:08] zorun commented on #471
@DavidRThrashJr I think I found a bug with http://23.95.228.117:5000/demo , or there is something I don't understand:

- at the beginning, there are no bills
- I start adding a bill with amount 42, paid by `foo`
- in the same form, I change the "weight" of `bar` to 20 and `foo` to 1. The JS correctly displays "Due 40" for `bar` and "Due 2" for `foo`
- I save the bill
- now `bar` owes `foo` 280, as

[2020-04-29 16:42] Abo7atm commented on #597
Is anyone working on this? I'd like to work on it. Please give me a little explanation about this issue.

[2020-04-29 19:51] Glandos commented on #597
![Screenshot_2020-04-29 Account manager](https://user-images.githubusercontent.com/297578/80640181-545d0880-8a63-11ea-9f86-ab63e97cf7ff.png)
The red icon at the bottom is a link to a smartphone application. Right now, the link is pointing to the source code, and for a better user experience, it should point to the application store where the user can install the application in one click.

[2020-04-29 20:57] #512 closed

[2020-04-29 20:58] Glandos commented on #512
Thanks @ndkoch for your initial work on this. @dark0dave took it through the end.

[2020-04-30 03:58] DavidRThrashJr commented on #471
@zorun definitely a bug. I enabled "Advanced Weighting Enabled by Default?" and now it shows it in the summary correctly: +40 for `foo` -40 for `bar` . Will fix it soon.

@JocelynDelalande
thanks for going into your use-case. I think this is a good way of handling the issue.

Saves you an extra button click, if you use the advanced mode a lot.
I don't care if we take it out, but it's just a small

[2020-04-30 11:03] zorun opened #599 "Currency: switching back to "no currency" gives unexpected results"
When using a default currency in a project, it is possible to add bills in various currencies and they will be converted to the default currency.

However, switching back to "No currency" in the options gives unexpected results:

- new bills are added without currencies (this is expected)
- existing bills keep their currency (this is expected)
- however, the converted amounts still reflect the pre

[2020-04-30 11:11] zorun commented on #599
Here is an extreme example:

- set default currency to JPY
- add bills in EUR and GBP
- switch back to "No currency"
- add a new bill (without currency)

The result is shown below:

![ihm-no-currency](https://user-images.githubusercontent.com/731144/80703583-523a8e80-8ae3-11ea-8ce4-bc278cda8b42.png)

For the bills in EUR and GBP, the "Amount" column is still in JPY but this is not shown anywhere.

[2020-04-30 11:18] zorun opened #600 "Currency: duplicate information in "Amount" column when using no currency"
When using no currency, the new "Amount" columns only shows duplicate information:

![ihm-duplicate-amount](https://user-images.githubusercontent.com/731144/80704272-9712f500-8ae4-11ea-993b-fc9a39faaac5.png)

I see a few alternatives to improve it:

- simply remove the column when no currency is used
- only keep "21.00 each" in the "How much?" column, and move the total amount to the "Amount" colu

[2020-04-30 12:28] zorun opened #601 "Currency: failure with postgresql: "value too long for type character varying(3)""
The currency is declared as a string of length 3:

[code]
However, an empty currency is encoded as the string `No Currency`, which is longer than 3 characters.

Strangely enough, sqlite doesn't seem to care, and happily stores longer values:

[code]

But with postgresql, it is not even possible to apply the migration, because the default value is larger than the maximum length:

[code]

[2020-04-30 13:22] zorun opened #602 "Add CI tests against postgresql and mysql"
Two recent examples (#601 and #577) show that sqlite behaves very differently from postgresql and mysql, and that they both get much less exposure than sqlite.  This results in bugs or regressions that are discovered late.

We cannot reasonably expect contributors to test their code with sqlite, postgresql, mysql. Before upgrading to a major ihatemoney release in production, I manually check that

[2020-04-30 14:23] indatwood commented on #471
Thanks for your work on this!

I'm sorry to jump on this, but "wife usability test", seems inappropriate to me : we don't know your wife nor her experience with computers, and it seems to rely on the false premise that "women are bad at tech".

On the topic, I think we should decide together what the ux should be here if possible.

My stake on this is I that using amounts seem to cover better the

[2020-04-30 14:49] zorun commented on #601
Apparently, the code `XXX` is used to denoted "no currency": https://en.wikipedia.org/wiki/ISO_4217#X_currencies

To use this code, currency codes should probably be converted to a "human-friendly" string when choosing a currency in the list of currencies. Or at least an exception would have to be made for `XXX`.

[2020-04-30 16:10] zorun opened #603 "How to handle optional features (UI/UX and convention)"
Historically, I think that the only optional feature was per-participant weights. We now have several additional optional features, and this is something new for ihatemoney: we may have to think how to best handle current and future ones, especially regarding consistency. This impacts the UI/UX and the way features should be integrated (enabled by default or not, always have an option in the setti

[2020-04-30 16:24] indatwood commented on #603
Thanks for starting a discussion about this :-)

One of the reasons I like IHateMoney is that it has a clear and simple user experience. What you're proposing makes me actually wonder if we should have an optional screen to enable special features, at project creation.

Let me expand on this :

1. You create a project
2. Once this is done, you're redirected to a new page, when you're asked if you

[2020-04-30 16:39] indatwood commented on #602
Hey, that's a great idea! IHM uses TravisCI, and it has support for PostgreSQL and MySQL (and actually [quite a few others](https://docs.travis-ci.com/user/database-setup/)).

Then I'm not sure about the best way to do it, but here are a few ideas :

1. Create a different test [configuration file](https://github.com/spiral-project/ihatemoney/blob/master/ihatemoney/tests/ihatemoney.cfg) and a speci

[2020-04-30 16:41] indatwood commented on #601
This seems to be the simple option, but comes with the need of a new feature, to translate the currency names.

Another simple fix would be to extend the size of the field ;-)

[2020-04-30 16:43] indatwood commented on #601
Note for later : we might want to rely on this lib for the translations : https://pypi.org/project/iso4217/

[2020-04-30 16:45] indatwood commented on #588
I'm not sure if you found your way with the error you mentionned. @Natim fixed it in https://github.com/spiral-project/ihatemoney/commit/53dae96bdbfcf09f4cef56afda8a7ad567458eeb

[2020-04-30 23:13] zorun commented on #588
@indatwood I had not found it, and it works, thanks!

I just finished pinning/fixing dependencies and backported the Russian translation.

Should I just create a new branch (let's say `stable-4.1`) positioned on `4.1.3` and open a PR against this branch? The goal is to let the CI run through the PR, iterate on any necessary changes, and finally merge it.

[2020-05-01 19:48] Glandos commented on #601
@indatwood after a loooong search, I discovered that Babel has everything we need:
- http://babel.pocoo.org/en/latest/api/numbers.html#babel.numbers.format_currency
- http://babel.pocoo.org/en/latest/api/numbers.html#babel.numbers.get_currency_name
- http://babel.pocoo.org/en/latest/api/numbers.html#babel.numbers.get_currency_symbol

I am currently working on this.

[2020-05-02 19:20] DavidRThrashJr commented on #471
Not what I meant. She's my most important customer, so her opinions have an impact on the product.

The way I have it now, this use case and others can be satisfied.

A use case that involves percentages is:
You have an agreed upon percentage for your living expenses. I.e. rent / car expenses are split between a group of people at different percentage weights.

[2020-05-02 20:47] Glandos commented on #471
In the current demo, we can only set weight, and it updates amount.
Wouldn't it be possible to have the other way: set amount and it updates weight? It would make a lot of JS, ensuring that everything is consistent, but it can cover all use cases I guess.

[2020-05-02 23:13] zorun commented on #471
Actually, with the current demo, you are free to put an amount in the (unlabeled) "weight" field. It's just a bit weird because the "Due" column becomes useless for this use-case.

[2020-05-03 14:00] MagicFab opened #605 "Spanish (LatAm) translation finished, please update it"
Hi, I've completed the Spanish translation using Weblate. What would be the next steps so it's updated on the website and in the code ?
Thanks for your work! I hope this can be useful to many.

[2020-05-03 14:56] MagicFab commented on #597
A bigger dowload button at the top linking to a download page pointing to F-Droid, Play Store and Apple Store would be more intuitive IMO.

See this as an example : https://jitsi.org/#download

[2020-05-03 15:09] MagicFab commented on #471
I am new to the project, I just finished the Spanish translation. I like the "keep it simple" approach.

I tried the demo server and it looks good. I'd like to suggest automatically adjusting the remaining amount when the first weight is changed in an bill.

For example, there is a 2000$/month fill for rental, in a 5 member project

I assign 1000 weight to the first member. The other 4 members wou

[2020-05-03 15:15] MagicFab commented on #599
Where do you see default currency ? I don't see this in the web interface.

[2020-05-03 15:22] MagicFab commented on #471
I found a few missing pieces when testing this at http://23.95.228.117:5000 :

* In the summary report the "How much ?" column still indicates an amount split in 2
* When editing a bill with varying weights, only the weight can be edited, the due amount is not shown
* When editing a bill the total amount only show one decimal for integer values
* The owed amount seems broken in the left column. Fo

[2020-05-03 15:28] #605 closed

[2020-05-03 18:06] JocelynDelalande commented on #597
Thanks for suggestion @MagicFab ; I have been thinking about the big download button and I think this is too much clutter for regular users.
It is as like all those users-hungry websites which choose to show subscription form at 1-click distance but login form at 2-click distance.

Those are patterns prioritizing agressively new user adhesion over regular users comfort.

I'd like we take care abou

[2020-05-03 18:16] DavidRThrashJr commented on #471
This could be something we could add later, but let's get the main functionality merged first.

Yes, I was delaying the decision on how to handle this. Should we just hide the split amounts? Or replace it with "Custom Allocation"?

Two decimals will show if it's non-zero. i.e. 123.45

Yeah sorry this bug is know still need to fix it. If you enable "advanced" mode in the project settings it shows t

[2020-05-03 22:36] zorun opened #607 "Statistics are mixed up between participants"
I noticed that the statistics (Paid/Spent) are sometimes attributed to the wrong participant.

Here is an example matching [the current test](https://github.com/spiral-project/ihatemoney/blob/15ab04e636f1c267da3ef1c6bd4cdc68449b2e97/ihatemoney/tests/tests.py#L897) but with simple name changes (fred → zorglub, tata → quentin, toto → manu, you'll see why):

![ihm-bug-statistics-1](https://user-image

[2020-05-03 22:37] zorun commented on #607
I am working on a fix, the most complicated part is to test this properly.

[2020-05-04 02:05] MagicFab commented on #605
Thanks!

[2020-05-04 04:56] MagicFab commented on #597
I understand your comment about looking hungry for users. It's the first thumb down I've earned ! :smile:  At the same time keep in mind the bottom of the page is probably the last place people will look for a download option.

When you land on https://ihatemoney.org/ it looks like a web app (**only**). I maintain that a single "Download the mobile app" or similar clear option at the top would ben

[2020-05-04 05:00] MagicFab commented on #471
I am not sure what you mean here. I think it should behave the same as when first entering a new bill, I was expecting that.

If it's currency, I would expect to always see 2 decimals and the appropriate symbol ($, euro, etc.). Otherwise it doesn't feel consistent and can lead to think it's accepted in the project, lowering trust in its accuracy.

[2020-05-04 07:19] Glandos commented on #605
Thanks to you for your work! For now, the main website will need to wait before getting updated.

[2020-05-04 18:37] indatwood opened #609 "Rethink how the demo project works"
Currently, the demo project is just a special project that we reset now and then when it's too cluttered.

I think of a least one better ways this could be :

Have a demo project which is unique to each user, generated on the fly and destructed a few hours later. On this project members are already created and a few expenses are there.

We might want to display something special for this project s

[2020-05-04 20:01] zorun commented on #609
Good idea! :+1:

The user would need to be informed of the project password, because it is needed to change project settings.

Also, a use-case of the demo project is to send a link to show something interesting like a bug. This should still be possible, which means that a lifetime of maybe 1 week would be good. It's still infinitely less than the current lifetime :)

[2020-05-04 20:22] zorun opened #610 "The private code is no longer stored or sent in cleartext"
Since a few years already (#286), we hash a project password ("private code") and don't store it in clear text. I just looked and we also don't seem to send it by email.

However, the tooltip on the home page (`ihatemoney/templates/home.html`) still says:

This text should be changed. The code is used for connecting to the project and to change its settings. It is never sent to anybody and is no l

[2020-05-04 21:03] Glandos commented on #609
Filling the demo project with some data can be a good idea.

Having temporary demo projects, one per user, seems to add a lot of conditions in code, with too few advantages to me.

If the goal is to avoid maintenance on the demo project, we should add some tools for that, on top of `ACTIVATE_DEMO_PROJECT`.

[2020-05-04 21:06] #607 closed

[2020-05-05 10:56] indatwood commented on #609
What do you have in mind?

[2020-05-07 20:34] #363 closed

[2020-05-07 20:56] #601 closed

[2020-05-07 20:56] #600 closed

[2020-05-07 21:02] Glandos commented on #609
A Python script that can clear the demo project based, or reset it to an initial state via JSON. It could be run with cron-like tools.

[2020-05-08 00:02] indatwood commented on #609
It seems a script like this already exist, we might just want to populate the demo then :-) and document how the cron should be setup.

[2020-05-08 22:35] JocelynDelalande commented on #597
I hope you took well my comment and thumb down. I appologize if it hurted, the thumb down was about one suggestion you made, not about you as a person. I like to chat and elaborate ideas for ihateoney with you, and I value your contribution here :-).

I'm mixed about it. I think my current opinion remain at the moment : bottom buttons + meta tag seems a good clutter vs visibility compromise to me.

[2020-05-08 22:53] mofadashi opened #614 "merge weblate translation 'zh_Hans'"
zh_Hans is listed in supported_language.conf , the language now is 100% complete. Is there anything else I need to do?

[2020-05-09 10:43] #614 closed

[2020-05-09 10:43] Glandos commented on #614
Nothing from you, you did the most difficult part: thanks for that, it is merged right now.

[2020-05-14 20:14] Glandos opened #621 "Reword "see" into "show""
@comradekingu raised the issue that "see" is not clear for the action that go the detailed page of an item in a table. Currently, it's used in:
- Dashboard for each project https://github.com/spiral-project/ihatemoney/blob/a8e74c98df44fc7632c036e8e534d93e8fc4de48/ihatemoney/templates/dashboard.html#L19
- Bill list for each bill https://github.com/spiral-project/ihatemoney/blob/981edd413acfdd4786fa

[2020-05-14 20:16] comradekingu commented on #621
It is the same problem as using "Go" for open.

[2020-05-15 09:59] rajat641 commented on #610
Hi @zorun Can I work on this ??

[2020-05-15 10:07] Glandos commented on #610
@rajat641 Yes, you can, nobody is currently working on this. Thanks for taking care of it :+1:

[2020-05-19 06:28] rajat641 commented on #610
Hi @Glandos @zorun ,
I have created a PR for this fix. Request to have a look. Here is the PR link- https://github.com/spiral-project/ihatemoney/pull/623

[2020-05-21 06:49] CubixPro commented on #597
Is this issue open or is it resolved?

[2020-05-21 06:55] CubixPro commented on #348
Can I work on this?

[2020-05-21 07:00] CubixPro commented on #136
Can I work on this?

[2020-05-21 07:45] Velismo commented on #348
Yep. No problem for me.

El jue., 21 may. 2020 8:55, CubixPro <notifications@github.com> escribió:

[2020-05-21 09:34] Glandos commented on #597
There was an attempt in #598. You can find more discussion there, and especially the [last one](https://github.com/spiral-project/ihatemoney/pull/598#issuecomment-626169426). My guess is that we need to create a new page within the project to point out different alternative clients.

[2020-05-21 09:36] Glandos commented on #136
@CubixPro yes, you can start working on this.
Don't hesitate to make a prototype first. We usually prefer solutions that are lightweight: not too much dependencies, and keep the page light on JS for example.
I know that nice charting needs JavaScript. But we don't need to provide a Grafana-like screen :)

[2020-05-21 09:38] Glandos commented on #348
@CubixPro thanks you for taking time to work on this!
Don't hesitate to send some prototypes first, because maybe we just want to make it optional, since we like to keep this project as light as possible.

[2020-05-21 09:51] CubixPro commented on #348
Okay
I am a bit confused as to where exactly to add the disclaimer?

[2020-05-21 14:30] CubixPro commented on #136
Should I use Canvas.js?

[2020-05-21 19:11] zorun opened #626 "Display email address of administrator in error messages related to emails"
Once #595 is merged, we will show an error message to the user if the email configuration of the server is broken.

In addition to that, it could be useful to give the email address of the server administrator in the error message, so that the user can actually report the issue.

@Glandos suggested using `MAIL_DEFAULT_SENDER`

Some limitations we should probably put in place:

- don't do that if p

[2020-05-21 21:53] zorun commented on #588
With #595 merged and backported this is ready to go!

@Glandos @Natim what do you think of creating a `stable-4.1` branch? Once it's done, I will be able to open a PR to merge my [4.1.4 branch](https://github.com/zorun/ihatemoney/tree/prepare_4_1_4)

[2020-05-21 21:58] zorun opened #627 "Chinese translation is not taken into account"
Several new languages were added with #613.

For all languages except Chinese, this works fine: after selecting the language in the top-right menu, most text is translated in the interface.

However, it does not work with Chinese: even though the translation is mostly complete, nothing happens and all text stays in English in the interface.

It may be that we are doing something wrong with the lan

[2020-05-21 22:03] zorun commented on #627
So, simply renaming `ihatemoney/translations/zh_HANS-CN/ to `ihatemoney/translations/zh_Hans/` fixed the issue.

Now we have to either convince weblate to change its language code, or configure Babel to accept weblate's language code...

[2020-05-22 11:11] comradekingu commented on #610
@rajat641 "Make an access code and send it to your friends"?

[2020-05-22 12:49] YBSker commented on #111
Hey, is this issue still open and if so could I try to solve it?

I'm new at this open source thing, so I apologize if I shouldn't be commenting to contribute/if it takes a bit.

[2020-05-24 08:08] #610 closed

[2020-05-24 08:19] Glandos commented on #136
It seems that CanvasJS [requires a licence](https://canvasjs.com/license/). Google Charts requires [loading from Google servers](https://developers.google.com/chart/interactive/docs/basic_load_libs), so it's also a non-goal for this project.

However, there are a lot (too much?) other libraries that can fit. For example [C3.js](https://c3js.org/) that is based on D3. It's maybe missing some featur

[2020-05-24 09:17] #627 closed

[2020-05-24 09:18] Glandos commented on #627
If I tested everything correctly, weblate doesn't care using `zh_Hans` instead of `zh_HANS-CN`. So I just did the same commit as yours.

[2020-05-24 09:36] Glandos commented on #111
Hi @YBSker yes, it is still an opened issue, so you can try to solve it.
The main difficulty is that for now, we don't have a system for background tasks, so maybe we can add a manual task to be run from the dashboard, and the email could also be sent to the administrator. But it will require a lot of change.

[2020-05-24 09:45] Glandos opened #630 "SQLAlchemy issues warning for backref / back_populates"
Currently, I have:
[code]

The warning gives an advice, but I'd like some other comments on it.

[2020-05-24 09:45] #609 closed

[2020-05-24 11:58] zorun commented on #627
Ah cool, thanks, I didn't think weblate would be happy if we just moved the folder!

[2020-05-24 11:59] zorun commented on #599
@MagicFab the default currency can be changed in the project settings

Obviously, you need a recent version of i hate money, currency support was added only recently.

[2020-05-24 12:18] zorun commented on #602
@indatwood thanks for the pointers!

I skimmed [the doc](https://docs.travis-ci.com/user/languages/python/#testing-against-multiple-versions-of-dependencies-eg-django-or-flask) a bit, and it seems that using env variables is the way to go.

I'm testing this now on #631

[2020-05-24 12:33] zorun commented on #602
Fun realisation: we may need a test to check that CI tests are actually run against postgresql ^^

[2020-05-24 15:25] zorun commented on #602
Ok, this is the way I got it to work in #631 :

- add [an environment variable in travis config](https://docs.travis-ci.com/user/environment-variables/#defining-public-variables-in-travisyml) to create additional builds that use different databases
- tell `tox` to pass down this environment variable to the python code
- in the tests, if this environment variable is defined, use it to set `SQLALCHE

[2020-05-24 16:18] zorun opened #632 "History test case fails with MySQL"
The work-in-progress CI on postgresql and mysql (see #602 and #631 ) uncovered its first bug :)

The testcase that fails with MySQL is `HistoryTestCase.test_disable_clear_no_new_records`:

See https://travis-ci.org/github/spiral-project/ihatemoney/jobs/690649479 for more details.

@Andrew-Dickinson could you have a look when you have time?

[2020-05-24 16:26] zorun opened #633 ""Incorrect date" warning with MySQL"
Another warning caught by #602 / #631 :

See https://travis-ci.org/github/spiral-project/ihatemoney/jobs/690649482

This one seems to affect many test cases, so it probably comes from a very basic feature (bill date, or auto history generation).

[2020-05-24 16:51] YBSker commented on #111
Hey @Glandos I'll be happy to see if I can explore the manual task option. Apologies if this is not the place to ask since again I am new at this, but I've been trying to get the project to run and have been so far unsuccessful on both methods listed and on 2 different machines running Windows 10.

When trying to run the command "ihatemoney runserver" or "python run.py" I get a "ModeuleNotFoundErr

[2020-05-24 16:56] zorun commented on #111
@YBSker See #542, Windows is not directly supported (mostly because nobody really tried to make it work). However it should work with WSL.

[2020-05-24 17:11] JocelynDelalande commented on #111
And/Or we allow it to be ran from CLI and we document how to add cron/systemd task for it ?

Le 24 mai 2020 11:36:37 GMT+02:00, Glandos <notifications@github.com> a écrit :

--
Jocelyn

[2020-05-24 17:19] CubixPro commented on #136
Okay sure thanks. I'll look into this and let you know :)

[2020-05-24 17:25] Glandos commented on #602
I am wondering if it's possible to make them optional, but requires them to run tox tests. Or make tox issue a warning when such a requirement is missing.

[2020-05-24 17:29] zorun commented on #602
I thought about it, but I didn't find anything in tox to do something like that (conditionally install a package depending on the value of an environment variable)

It would be easy to install dependencies in new tox test environments like `py34-postgresql`, but as I said I don't think adding new test environments is a good idea.

[2020-05-24 18:44] Glandos commented on #348
You're asking the right question :+1:
In my mind, we shouldn't reinvent the wheel: put a link in the footer, leading to a new page with legal stuff in it.

[2020-05-24 20:29] indatwood commented on #602
You probably can test if the Travis env variable is set (or another one like RUN_POSTGRES_TESTS) in the tests and run it only if it is the case.

And then set the variable in the Travis config :-)

[2020-05-24 23:37] rajat641 opened #634 "ToolTip Bug Fix"
This is a bug related to Issue #610

Note: I have updated the code and raised a PR #635

![image](https://user-images.githubusercontent.com/8374949/82767472-b4ce3400-9ddc-11ea-87bb-b5b4581fe4a5.png)

[2020-05-25 07:34] #634 closed

[2020-05-25 14:08] zorun commented on #588
Ping @Glandos @Natim

[2020-05-26 10:30] najann commented on #543
Hi there!
I just came across this project and already added some translations using weblate :)
What do you think of the following icons as an alternative for the current favicon?
<table>
<td><img width="90%" alt="Screenshot 2020-05-26 at 12 23 23" src="https://user-images.githubusercontent.com/47032941/82890161-0943f180-9f4c-11ea-9b48-2300783a070a.png"></td>
<td><img width="70%" alt="Screenshot 20

[2020-05-30 11:56] Glandos commented on #543
I like the second one. There are also nice ones in https://thenounproject.com/search/?q=money%20share
Like https://thenounproject.com/term/average/2028785

[2020-05-30 12:12] Glandos commented on #588
Branch created from tag 4.1.3. @zorun has write access in the mean time, waiting for joining the right team.
And thanks for maintaining this branch!

[2020-05-30 12:36] #621 closed

[2020-05-30 12:38] Glandos commented on #621
[**@comradekingu**](https://github.com/comradekingu) commented on [14 mai 2020 à 22:16 UTC+2](https://github.com/spiral-project/ihatemoney/issues/621#issuecomment-628864125 "2020-05-14T20:16:04Z - Replied by Github Reply Comments"):

I was not able to find "Go". Was it removed since your comment?

[2020-05-30 17:40] comradekingu commented on #621
@Glandos That was just an example. :)

[2020-06-01 21:18] zorun commented on #588
Thanks for the branch creation @Glandos  !

The pull request is here, hopefully final (I may still update translations if some fixes are made in master before releasing): #640

Reviews and tests are welcome, but please don't merge yet (and especially **don't merge-squash it** ;-) ).
I plan to upgrade my server to 4.1.4 as a final test. And then hopefully release this week-end!

[2020-06-01 21:46] zorun commented on #588
Just built a local wheel file and upgraded my server with it (python 3.7 on Debian buster): the upgrade went well, and everything seems fine!

[2020-06-07 19:29] zorun commented on #588
I have just merged #640 !

@Glandos I don't have the rights on pypi, how should we go about it? Could you publish the release?

[2020-06-07 21:00] Glandos commented on #588
Sorry, I can't do this. Only @almet @JocelynDelalande or @Natim
But I'll be glad to be a maintainer on PyPI :)

[2020-06-12 23:04] zorun commented on #588
Thanks @Glandos

@almet @JocelynDelalande @Natim I don't like to prod people, but how do we move forward? Could you release 4.1.4? Should @Glandos and/or me get access to the pypi package to make the release?

There seemed to be interest in this release and no opposition. I have spent several hours on this and it was a good opportunity to contribute again to IHM after several years, but I would be

[2020-06-15 19:03] neilZon commented on #143
Hi, is this still up for grabs?

[2020-06-15 19:08] Glandos commented on #143
Hi @neilZon, yes, you can have a look at this :) Feel free to ask any question!

[2020-06-15 19:39] indatwood commented on #588
Hi, I've asked to @almet IRL and he added "Glandos" to the maintainers. Hope that's the right nickname @Glandos?

We should be good to go!

[2020-06-15 21:00] #588 closed

[2020-06-15 21:59] zorun commented on #588
Thanks a lot! <3

[2020-06-16 07:55] Natim commented on #588
Sorry I totally missed your message requesting my help :(

[2020-06-26 23:53] IsabellaRO opened #649 "Feature request"
I think it would be super interesting to add a Brazilian Portuguese translation to this project. I can do this translation if someone with permissions add this language option in the Hosted Weblate :)

[2020-06-27 00:03] Natim commented on #649
I just did https://hosted.weblate.org/projects/i-hate-money/i-hate-money/pt_BR/

Thank you

[2020-06-27 00:03] #649 closed

[2020-07-13 02:01] bmatticus commented on #332
If you haven't resolved this yet, I believe your error is in your URI. You are specifying a user, password and host for your mariadb instance but not a database. It should look something like this:

SQLALCHEMY_DATABASE_URI = "mysql+pymysql://ihatemoney:xxxxxxxxxxxxxxxx@mariadb/ihatemoney"

The /ihatemoney at the end will tell it which database to use, which your user should have full privileges on

[2020-07-14 15:08] tmancini85 commented on #523
Hi everyboyd, first of all thanks for this great project.

I'm not sure this is a duplicate of #471, since there the matter is to split unequally who spent, whereas @35609902357 was asking to split (unequally) who paid, which would be another great improvement for ihatemoney.

Of course, if I misunderstood #471, I'm sorry :-)

[2020-07-17 20:33] zorun opened #653 "Publish documentation automatically"
I have noticed that the documentation is out-of-date compared to the git repo: https://ihatemoney.readthedocs.io/en/latest/index.html

Maybe we can automate publishing to readthedocs when we push to the repository?

[2020-07-17 20:51] zorun opened #654 "Split a project by year / archive old bills"
I have used the same project for 5 years, and it is now too big to be usable: it has 1200 bills and it's all really slow (both for the server and for the browser). I had already improved IHateMoney's performance when I was having performance issues with "just" 350 bills (#161) but it's no longer enough. And now I understand that small projects fit better in the philosophy of IHateMoney.

A nice wa

[2020-07-17 20:52] zorun commented on #654
I have a quick & dirty implementation of splitting by year, implemented as a command in `manage.py`. I will publish it at some point.

[2020-07-17 21:01] zorun commented on #577
Hi @symphorien , I noticed that you use 4.2 for the Nix package.  The 4.2 tag was a mistake, the next major version will be 5.0 and it's not ready yet.

We have published a bugfix release 4.1.4 on pypi some weeks ago, but we forgot to push the tag on github. It's now done. You should use this version for the Nix package.

[2020-07-17 21:39] zorun commented on #556
I have created a milestone to track blocking issues before 5.0.0 can be released: https://github.com/spiral-project/ihatemoney/milestone/5

In my opinion we should not merge new features before the release of 5.0.0: it already introduces many new features. We should focus on ironing out the last big issues with the these features.

[2020-07-17 22:13] zorun opened #656 "Show "External link" less prominently when creating bill"
Since #479, it is possible to add an URL as "External link" when creating a bill.

However, the field is really big and prominent in the bill creation page, even for people that do not need this feature.

It would be good to find a less prominent design, so that:

- people that don't need External links are not bothered by the additional interface
- people that need External links can still easily

[2020-07-17 22:32] zorun commented on #603
I have mixed feelings about this "first user experience" idea: it's nice because, once the project is created, it gives you an "efficient" UI that has just the options you wanted and you don't have to think about all the options.

But it deviates from the "clear and simple" principle: there are many different combinations of possible UI and feature sets, which becomes hard to test and maintain. In

[2020-07-17 22:33] zorun commented on #603
And yes, once this discussion converges, we should definitely document it somewhere! The documentation and github templates look like good places.

[2020-07-18 09:28] symphorien commented on #577
Is it possible to downgrade from 4.2 to 4.1.4 without database shenanigans? If not, I am afraid that downgrading is a no-no.

[2020-07-18 12:09] zorun commented on #577
It's supposed to be possible:

[code]

However, it's probably completely untested. I just tried from latest master and it breaks with sqlite:

[code]

Apparently sqlite does not support dropping columns... https://code.i-harness.com/en/q/1cfc76e

[2020-07-18 19:36] Glandos commented on #654
I use the same project to balance bills in my house. But once in a while, we do the math and money transfer, and clear everything. Accounting history is done in another software, so my project is never big enough.

Don't you think pagination (#480) can improve this?

[2020-07-18 19:44] Glandos commented on #523
@35609902357 was clearly asking to select the people who pay, and not the ones who spent.
However, I have to ask one question to be sure: in the first use-case, A and B are payers, and B and C are payees? So B was paying a little bit for himself?

[2020-07-19 09:02] 35609902357 commented on #523
Uneven splits is all this is about. As it is right now this app keeps track of a whole bill paid by one peron. In made up an example scenario where three friends go to a restaurant during a trip where they decided to balance the expenditures once they get home. The example bill is 60$, A has 50$ and B has 30$, so A pays 50$ and B puts the remaining 10$. This can't be done without creating two bill

[2020-07-19 10:39] symphorien opened #658 "Please don't pin point releases and future releases"
Hello,

Here is the perspective of pinning from the point of view of a downstream packager.

Let me start with an anectdote.

Yesterday I noticed that sqlalchemy-continuum 1.3.9 does not build on nixpkgs-unstable. One of the tests is failing. This has been fixed in version 1.3.11. This is a no brainer: the point release has no incompatibility, let's upgrade to 1.3.11. Oh no, ihatemoney has pinned

[2020-07-19 12:08] symphorien commented on #658
Also, please don't change how you pin dependencies in patch releases. Patch releases are supposed to be seamlessly updatable.
(I'm referring to e37d0a98ff5de7ce508b50ac94406ed732fe065a)

[2020-07-19 12:10] symphorien commented on #567
Is WTForms 2.1 ok ?

I'm trying to bump ihatemoney from 4.1 to 4.1.4 on NixOS 20.03 (which is a stable release, so bumping WTForms should be avoided if possible).

[2020-07-21 09:18] Natim commented on #632
Apparently it is a MySQL specific error : https://stackoverflow.com/a/14302701/186202

[2020-07-21 12:36] zorun commented on #556
The plan is to release version 5.0.0 next Sunday (26 July), including an upcoming fix for a significant issue. The fix will also be released in stable version 4.1.5.

[2020-07-25 16:30] Glandos commented on #658
I propose to apply your proposal in 5.0, and keep 4.1.5 as-is. Since pin pointing was already changed, I propose to avoid a new change in the 4.1 branch.
Any thoughts?

[2020-07-25 16:37] symphorien commented on #658
Relaxing pinning in 4.1.5 is not a breaking change, so it cannot hurt, but what you propose is a good way forward anyway!

[2020-07-25 20:15] Glandos commented on #567
I am using Debian/testing, and the WTForms package was migrated to 2.2 on 2018-10-06. I *think* that it was working nicely with 2.1, but I can't be sure of that.
If I have time, I can change the `setup.cfg` and run tests. They are not perfect, but quite complete anyway.

[2020-07-25 22:14] zorun commented on #567
Looking at the WTForms changelog for 2.2, I don't see anything that we rely on.

Form processing mostly didn't change between ihatemoney 4.1 and ihatemoney 4.1.4, so if it worked with 4.1 it should continue to work fine with 4.1.4 as well.

[2020-07-25 23:05] zorun commented on #658
I like the principle.

In addition, I wonder if we should indicate minimum versions up to X.Y.Z when we are aware of bugs in specific versions (see e.g. b76da172652da94c1f9c4b2fdd965375da8a2c3f or 96d5e9b73000a44524449e477aa9a48f990ca044)

For these two issues it would look like:

[code]

The problem is that [according to the documentation](https://www.python.org/dev/peps/pep-0440/#compatible-rele

[2020-07-25 23:17] zorun commented on #658
In fact we can just do this if needed:

[code]

[2020-07-26 08:02] Glandos commented on #658
Isn't it possible to do `Flask-WTF~=0.14,>=0.14.3`?

[2020-07-26 09:00] zorun commented on #658
Good point!

[2020-07-26 09:59] zorun commented on #632
So, the simpler version below should work for MySQL and PostgresSQL, but fails with SQLite...

[code]

With sqlite:

[code]

https://docs.sqlalchemy.org/en/13/changelog/migration_12.html#orm-support-of-multiple-table-deletes

[2020-07-26 10:19] zorun commented on #630
I have a slightly different warning (it's the same issue though):

[code]

This is with `SQLAlchemy==1.3.16`

Interestingly, the warning says that this will be deprecated in SQLAlchemy 1.4 (but it already complains about it so it's already kind of deprecated in 1.3)

[2020-07-26 11:32] symphorien commented on #567
Tests do pass with 2.1 so I'll go for it. Thanks.

[2020-07-26 13:18] Glandos commented on #599
A third solution would be to convert everything to the same currency before switching to "No currency", and drop all of them.

But honestly, it would much simpler to check all bills currency, and disable "No currency" in the dropdown menu if some of them are different. We could add a small explanation.

[2020-07-26 13:20] Glandos commented on #599
But, I have to add that the current behavior is weird anyway. Switching back to "No currency" should remove currencies, and not keep the old ones "just in case".

[2020-07-26 16:21] #658 closed

[2020-07-26 20:21] Glandos commented on #630
This was introduced by SQLAlchemy-Continuum. This should be fixed in 1.3.10 by https://github.com/kvesteri/sqlalchemy-continuum/pull/240 but I am trying to figure out why this is not installed by our setup.cfg.

[2020-07-26 20:23] Glandos commented on #630
Nevermind: this is just my virtualenv that was too old.

[2020-07-26 20:23] #630 closed

[2020-07-28 04:00] daiboy123 opened #667 "Mr David Paul Mcneil"
Bigboydai69@gmail.com

[2020-07-28 07:59] Glandos commented on #667
Spam.

[2020-07-28 07:59] #667 closed

[2020-08-02 23:50] allanqin commented on #543
Hi, I'm looking for my 1st open source project to contribute to. Is anyone currently working on this?

[2020-08-03 10:58] najann commented on #543
@allanqin I had the same intention but feel free to work on this issue now!

[2020-08-23 17:00] lemgandi opened #672 "ihatemoney/ihatemoney/conf-templates/ihatemoney.cfg.j2 database URI appears wrong"
Reads:

`SQLALCHEMY_DATABASE_URI = 'sqlite:///var/lib/ihatemoney/ihatemoney.sqlite'`

Should read:

`SQLALCHEMY_DATABASE_URI = 'sqlite:////var/lib/ihatemoney/ihatemoney.sqlite'  `

 (note 4 '/' rather than 3) When I place my sqlite database into /var/www/ihatemoney/db/ihatemoney.db in default_settings.py  with just 3 '/', I get 'internal server error'.  I presume  that most users edit this URI to

[2020-08-27 11:50] Sammed98 commented on #597
If this issue has been cleared, why is the issue still open. But I don't think the button links to f-droid or play store link.

I am just a new to this and wanted to contribute to this project. I cloned this repository and the button linked to the GitLab and not the play store link. So, I want to understand whether this still needs the changes or can be closed.

[2020-08-27 12:09] Sammed98 commented on #543
I have made a pull request for this issue #675 . Please have a look.

[2020-08-27 12:23] Sammed98 commented on #525
So, is anyone working on this? In case not, then could someone guide on whether we are proceeding with this issue and what UI changes are needed to be done.

[2020-08-29 17:01] Villaquiranm commented on #501
@indatwood @Glandos  Hello, could you give more information about this issue like the most problematic files / test to refactor ?

Thanks

[2020-08-31 04:12] devil-cyber commented on #534
can I work on this issue

[2020-08-31 07:29] Natim commented on #534
Please file a PR with your proposal.

[2020-09-05 12:29] sahven commented on #143
Hi, I'm new to open-source dev. I'd like to take up this task if it's still open. If yes, please let me know how and where should I start?
Thanks

[2020-09-07 20:28] Glandos commented on #501
Well @Villaquiranm I'm glad you asked. The few tests I've written were difficult, because it seems to me that a lot of code has to be duplicated, especially for project and bill creation.
The `BudgetTestCase` is clearly too big, and should at least be in its own file.

So as a start, it should be nice if each "real" test case class were in their own file. But it should be done with code factorizat

[2020-09-07 20:32] Glandos commented on #525
This task is very subjective and opinionated. Sometimes, we will disagree. The best advice is to start some rough sketching, and post it here, to serve as a base discussion.
The goal is to be sure that the bare minimal is required to create a project:
- Project name
- Project maintainer email

The code is even optional and could be generated by the server. Inviting other people can be done in a se

[2020-09-07 20:35] Glandos commented on #597
Indeed, a modification was accepted in #598 but it is not the final goal, so this issue is still opened. See @JocelynDelalande comment: https://github.com/spiral-project/ihatemoney/issues/597#issuecomment-623154318

[2020-09-09 18:39] Villaquiranm commented on #501
@Glandos Ok, i will try to do something nice :)

[2020-09-17 09:27] JocelynDelalande commented on #143
Hello @sahven and welcome around and… in open-source world ! :unicorn: :rainbow: 🌼 !

We use git and pull requests to receive contributions.

Are you familiar with git and pull request ?

Rough steps are :

- create a fork of this repository
- clone your fork
- create a git branch dedicated to this ticket
- commit locally on that branch (one or several commits)on your fork, a branch dedicated
- pu

[2020-09-17 11:35] kduchrow opened #679 "Salt is required for PBKDF2"
Hi, I am trying to deploy ihatmoney with docker-compose.
After struggeling with the admin Password, I generated a working Admin PW.
Now after logging in to the admin dashboard, i am getting this error :

[code]

Thank You for helping!

[2020-09-25 04:50] dependabot-preview[bot] opened #681 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/spiral-project) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/spiral-project/update-logs/48676442).

[2020-09-27 20:04] Glandos commented on #679
It seems that the value for `ADMIN_PASSWORD` is not correct. Did you generate your password with `ihatemoney generate_password_hash` or another tool?

[2020-09-27 20:12] #681 closed

[2020-09-27 20:41] #672 closed

[2020-09-27 20:42] Glandos commented on #672
Thanks a lot!

[2020-09-28 06:55] kduchrow commented on #679
I tried it with other tools, but it won't work at all.
After I used the `ihatemoney generate_password_hash` tool, I got the message I've shown above.

[2020-09-28 20:36] Glandos commented on #679
Can you try to enter a dumb password like `test`, and copy/paste the output here for me to test?

[2020-10-01 10:31] kduchrow commented on #679
Sure,

[code]

[2020-10-01 10:44] kduchrow commented on #679
Okay, I fexed it. Obiousily you don't need any quotes or double $ if using .env file in Docker-Compose.

I tested this Line and it worked ...

`ADMIN_PASSWORD=pbkdf2:sha256:150000$HDAyBoP3$7d4c52ab93d8a956eba35d6f714885fb38bd100cd4dcbbd251b608d2c251bafa`

[2020-10-01 10:45] #679 closed

[2020-10-06 11:11] thejacobx commented on #136
Hi guys, is this still open? Can I work on this issue? :)

[2020-10-17 13:30] Villaquiranm commented on #501
Hello @Glandos , I expect this PR is more or less what you expected, if you have any suggestion to improve it please let me know i'll be glad to continue coding

[2020-11-20 15:59] Hustenbonbon opened #697 "Point to iOS app"
Hi, as I've just seen in #597:

A couple of other contributors and myself have developed an iOS app for iHateMoney and Cospend.
The focus is on Cospend, but we try to also provide full functionality for iHateMoney.

Here is the link to github:

https://github.com/mayflower/PayForMe

And to the AppStore:

https://apps.apple.com/us/app/payforme/id1500428306

During February and March, when I did mos

[2020-11-23 15:33] charlie45000 commented on #433
Wouldn't it be better to just add a settle_bills function to to the api?
Since the application already has the ability to do that, there is no use to use an external program. (or at least what are the reasons to do so?

[2020-11-24 21:22] #597 closed

[2020-11-24 21:22] #697 closed

[2020-11-24 21:33] Glandos commented on #433
Do you have a use case to use `ihatemoney` to settle bills outside of the current user interface?

Of course this could be exposed, but `debts` is already there. It is an external program, but for me, using an API or an external program is nearly the same: you need some programming language to make the calls, gather data, etc.

[2020-11-24 22:17] Glandos commented on #136
I can't believe I waited so long to answer to you, @thejacobx. If you are still opened to contribution, you can start on it.
But be aware that we will accept a contribution with a compatible charting library. So, no external loading, a no non-free license :)

[2020-12-10 03:11] raghupalash opened #704 "Language not changing to Hindi"
Translation files are available for hindi on location ihatemoney/ihatemoney/translations/hi/LC_MESSAGES/
"hi" is also added to SPPORTED_LANGUAGES list in default_settings.py  , still website is not changing language to hindi when selected.

[2021-01-05 21:04] Glandos commented on #704
The main site on https://ihatemoney.org/ is lacking behind the last development version. You can either run your own, or wait for a new deployment (that I'll try to push anyway).

[2021-01-05 21:17] #501 closed

[2021-01-10 17:51] tmancini85 commented on #523
@35609902357 and @Glandos, sorry for the late reply, I didn't have time at that moment and then time passed :)

@Glandos: yes, in the opening example B is paying a little bit for himself. For sure A and B are payers; B and C are payees, and maybe also A is, it's not made explicit.

@35609902357: if I understand well, #471 is about managing when, let's say, A eats food for 25 $, B for 20$ and C for

[2021-01-10 18:26] tmancini85 commented on #137
Hi @LeoMouyna,
first of all thanks for your work on this!

I don't know if the development is finished. Do you have any updates?

I also saw that, following @almet indications, you've called bill types classes "loan" and "settlement". Even if it's something internal to the app and final users will not see it, could it lead to some misunderstanding? Loans can also occurs between users, it's the sam

[2021-01-11 08:18] LeoMouyna commented on #137
Hello @tmancini85.

I developed this feature like 10 months ago but it wasn't as good as I wanted and we never agreed on the right solution. Maybe I will take some time to implement it again but right now I don't have enough free time to work on it.

But you are probably right, add a Bill type could be a great improvement and could help solve some other issues. Feel free to look at my dev and rewo

[2021-01-14 20:39] Glandos commented on #137
For reference, some extensive work was done in #507 but not merged because it needed more work.

[2021-01-14 22:38] tmancini85 commented on #137
Hi @LeoMouyna and @Glandos, first of all sorry, I didn't notice #507 was closed.

Anyway, it would be cool to work on it, but unfortunately my full time non-IT job doesn't leave me enough free time to start coding again, for the moment I can only be a FLOSS passionate from the outside. Maybe one day, but surely for that time IHM will have already moved a lot forward :wink:

[2021-02-02 13:50] nkoester opened #713 "pytz.exceptions.UnknownTimeZoneError on clean installation with docker"
I setup ihatemoney on my local machine and for the use in my local network using docker. I am on the nightly build and navigating to the history gives me an ```Internal Server Error```. On console the docker container logs the following.

<details>
  <summary>Click to show error message</summary>

[code]
</details>

This error occurs with and without any data in the 'test' project.

the docker hos

[2021-02-02 14:03] nkoester commented on #713
I have no idea how i managed to scroll past the ```BABEL_DEFAULT_TIMEZONE``` configuration documentation. But setting it to "Europe/Paris" as mentioned (or even "UTC") does not work :( The issue persists.

Maybe a default setting could be used in case the system timezone is not set? I can imagine other users with docker will experience this issue as well.

[2021-02-02 14:12] nkoester commented on #713
It seems the entrypoint.sh is not forwarding the BABEL_DEFAULT_TIMEZONE variable:

https://github.com/spiral-project/ihatemoney/blob/master/conf/entrypoint.sh

[2021-02-04 22:31] #713 closed

[2021-02-08 17:30] stemy2 opened #715 "Inaccurate costs repartition"
Hello,

The costs repartition is really strange and means that everyone pay for the purchase, except the one who bough it.

I take my example: we are 7, i bough some things and the total costs are divided by 6 and i have nothing to pay even if i take advantage too of what i bough. I don't think it's supposed to work like that.

[2021-02-08 17:40] Natim commented on #715
Maybe you forgot to add the one who paid as part as the bill sharing?

The software handle the case where someone pays for other without being part of the bill sharing.

![image](https://user-images.githubusercontent.com/229453/107259326-261e4780-6a3d-11eb-9836-e7b668e0351f.png)

[2021-02-08 17:48] stemy2 commented on #715
Nevermind, i misread my bill, everything is correct.

[2021-02-08 17:48] #715 closed

[2021-02-08 18:04] stemy2 opened #716 "CSRF token has expired"
Hello,

I'd like to connect to my project on my PC and my phone, but when i'm trying with my phone, i have the message here above. What is a CSRF token ? How can i create a valid one ?

[2021-02-08 18:11] stemy2 opened #717 "How to mark a bill as "paid" ?"
Hello,

For what i saw on the website, it is possible to mark a bill as "paid", but i don't understand how, i didn't found any such option. How am i supposed to make the statistics accurate in relation to the actual refunds ?

[2021-02-08 21:54] Natim commented on #717
![image](https://user-images.githubusercontent.com/229453/107286241-99858080-6a60-11eb-8a91-cc65a74af2a3.png)

This is how I do it nowadays, however I think something has been worked on which might not be deployed yet.

[2021-02-09 09:08] Glandos commented on #716
I guess you connected on the main instance https://ihatemoney.org/

A CSRF token is a string generated by the server to avoid abuse. It has a limited lifetime. It is stored as a cookie. So you have two choices:
- The page was loaded a long time ago; just reload it before logging in.
- Your browser is filtering the cookie. You can try to unblock it if you have a special browser/extension/blocker.

[2021-02-18 03:59] damonphilipross commented on #143
Hey this looks still open mind if I work on it?

[2021-02-19 20:12] almet commented on #548
Reopening this, since it's about to expire again.

Here's the mail I just received :

[2021-02-19 20:14] almet commented on #548
I believe that would be a good choice :-) In the past, I asked the most active people using IHM if they wanted to pay for it, and received quite a good feedback. (Not sure it's okay regarding the law to use their email to contact them like this, but well… that's what I did!)

[2021-03-09 09:39] mcflyhalf commented on #136
I am hoping that the 3rd time would be a charm with this issue and checking whether it is still available. I am willing to take it up.
Is this still open? Can I try to work on it?

[2021-04-01 12:52] ToadCast opened #726 "Docker broken build"
Hello, I'm trying to setup an instance with Docker, I cloned the repository on my machine, I followed the [documentation with Docker](https://ihatemoney.readthedocs.io/en/latest/installation.html#with-docker). I changed few options in the `Dockerfile`:
- ACTIVATE_DEMO_PROJECT to False
- ALLOW_PUBLIC_PROJECT_CREATION to False
- ACTIVATE_ADMIN_DASHBOARD to True

The `docker build` part worked just f

[2021-04-01 12:57] ToadCast opened #728 "AttributeError in worker process [Docker]"
Hi, after fixing my issue with building process (cf. https://github.com/spiral-project/ihatemoney/issues/726) I still can not use the docker image because of an `AttributeError`. Here is my command to launch my instance:
[code]
and the error:
[code]

[2021-04-02 11:15] ilkohoffmann commented on #728
Same problem here

[2021-04-02 14:59] TiDjY35 commented on #728
also same problem

[2021-04-03 00:42] jav099 opened #729 "Dev env sqlite db is not being created?"
Hello,

I found this repo and found it very cool and so wanted to contribute.

I followed contributing instructions and got it all set up.

I started making my proposed changes and was using 'make serve' to view the app and do my testing with the demo project.

It was all working fine, I made some last changes and ran make test. I got some errors saying "Hint: make sure your test modules/packages

[2021-04-03 12:53] ilkohoffmann commented on #728
The issue seems to be related to

- [Stackoverflow #66644975](https://stackoverflow.com/questions/66644975/importerror-cannot-import-name-columnentity-from-sqlalchemy-orm-query)
- [Stackoverflow #66647787](https://stackoverflow.com/questions/66647787/attributeerror-cant-set-attribute-when-connecting-to-sqlite-database-with-flas)

Pinning SQL-ALchemy version to <1.3 seems to resolve the build issue

[2021-04-03 15:21] ilkohoffmann commented on #728
Seems like the API `http://api.exchangeratesapi.io`, which is used by the class `CurrencyConverter`, is not allowed to be used without an API Key (anymore?). Not a proper solution, but replacing line 24 `rates = requests.get(self.api_url).json()["rates"]` with `rates = dict()` fixes that issue for me.

[2021-04-04 08:18] jonglezb commented on #729
I think the issue is that we use the same sqlite file for tests and for the dev server, which can make things inconsistent.

@Glandos any thoughts about this? should we use another sqlite file for tests?

[2021-04-04 08:43] jonglezb commented on #726
Hmm, it's a bit strange that we install ihatemoney when **running** the container, as opposed to when **building** it...

Also, by default, we install the release from Pypi which can be quite old (as it is now)

@bnjbvr do you know if this is expected? Shouldn't we install ihatemoney when building the container?

[2021-04-04 08:54] zorun commented on #729
I think the issue is that we use the same sqlite file for tests and for the dev server, which can make things inconsistent.

@Glandos any thoughts about this? should we use another sqlite file for tests?

[2021-04-04 08:54] zorun commented on #726
Hmm, it's a bit strange that we install ihatemoney when **running** the container, as opposed to when **building** it...

Also, by default, we install the release from Pypi which can be quite old (as it is now)

@bnjbvr do you know if this is expected? Shouldn't we install ihatemoney when building the container?

[2021-04-04 08:59] zorun commented on #728
Thanks for the report. Can you open a new issue for the exchangerate change?

[2021-04-04 09:06] #728 closed

[2021-04-04 09:19] bnjbvr commented on #726
Hmm I can't recall exactly, but I guess the thinking was to try to get the latest release that was available, so that restarting/respawning the Docker instance would always get the more up to date version. That being said, if it's downloading from pypi and the pypi releases are old, this defeats this purpose. So yeah, it might be better to install ihatemoney when building the container, from the s

[2021-04-04 17:00] jav099 commented on #729
It's a weird issue because doing a clean install again on another directory without adding any of my modified files yielded the same error. However I was finally able to view my changes and make some adjustments by doing a clean install on a VM and then adding my changed files.

[2021-04-05 09:47] #548 closed

[2021-04-05 09:50] almet opened #733 "domain name expiration in 14 days"
Got another email from gandi for the domain name expiration so I'm creating a new issue, and closed #548.

Cher client,

Vous recevez ce message car vous êtes un contact pour le nom de domaine ihatemoney.org avec le compte ou l'organisation almet.

Nous vivons en ce moment une période inédite. Face à cette crise de santé publique internationale, nous sommes conscients que les priorités sont redéfi

[2021-04-05 12:51] Glandos commented on #729
`make test` runs `tox` with different environments (python 3.6 to 3.9, flake8, black and a last one for documentation). `tox` uses its own subdirectories, isolated, in `.tox/`. If you have issues when running tests, you can first try to remove `.tox/` directory.
Running `pytest` directly will run tests with your **current** environment, which is always better when developing, since it's faster, an

[2021-04-05 13:12] Glandos commented on #733
OK, since last year I renew the domain, I think someone else could do this now.

By the way, I just created a LiberayPay account on https://liberapay.com/IHateMoney

I set the goal to 0.4€ per week, just enough to renew the main domain. I'm about to add this in the readme.

[2021-04-05 13:15] jav099 commented on #729
I tried removing .tox/ directory but I still get the same 4 errors, all of which say
`ImportError while importing test module '/Users/javiercontreras/Desktop/EECS481/481-HW6/ihatemoney/.tox/py37/lib/python3.7/site-packages/ihatemoney/tests/budget_test.py'`  Any idea why this might be?

[2021-04-05 13:25] Glandos commented on #729
Could you provide the full output of `make test`? You can quote it in a GitHub comment using triple-backticks around it (both on beginning and end) for better rendering.

[2021-04-05 13:27] jav099 commented on #729
[code]

[2021-04-05 15:03] Glandos commented on #729
You are missing #730. I encountered the same issue today :wink: SQLAlchemy 1.4 broke its API, and `SQLAlchemy-continuum` is not up to date for it.

Without leaving your environment you can:
- `git fetch upstream` (if your remote for this project is named `upstream`)
- `git rebase upstream/master`

Remove `.tox/` subdir, and re-run it.

[2021-04-05 16:14] jav099 commented on #729
That fixed it, and all tests passed. thanks!! I'll be submitting the PR soon :)

[2021-04-05 16:14] #729 closed

[2021-04-07 10:11] almet commented on #733
Thanks for doing this :-)

[2021-04-07 10:12] almet commented on #733
I'm also wondering if we shouldn't add a way to put this information on the website itself. In the past, I used to send an email to the users asking them to finance if they wanted. The cost was higher then because it was also covering hosting the service, which is now offered by alwaysdata.

[2021-04-07 11:31] almet commented on #656
So, what about an "extra fields" clickable link which expends to a few optional fields that could be then filled?

[2021-04-07 11:33] almet commented on #603
So, to move forward on this one, I believe we could take the easy way : features are classified between main and extra features. Extra features shouldn't be displayed to the user unless they ask for it. We could add some UX hints to show their presence.

What do you think?

[2021-04-07 13:12] almet opened #735 "KeyError "rates" when running `make serve` on latest master"
After a fresh install, it seems that the currency convertor isn't up to date with the returned JSON from their API.

See the traceback.

[code]

[2021-04-07 13:15] almet commented on #735
It seems to be because I don't have an API key for their service.
[code]

[2021-04-07 13:18] almet commented on #735
Seems related to https://github.com/exchangeratesapi/exchangeratesapi/issues/117

[2021-04-07 13:29] #735 closed

[2021-04-07 16:22] almet commented on #717
Hi, like @natim I though this was the case, but I'm also doing this hack by adding a transaction in the opposite direction.

[2021-04-09 15:53] ilkohoffmann opened #737 "exchangeratesapi.io requires an API Key"
Requesting / in the browser results in following error:

[code]

Seems like the API http://api.exchangeratesapi.io, used by the CurrencyConverter, is not allowed to be consumed without an API Key (anymore?).

[2021-04-10 19:08] Glandos commented on #733
Now, I clearly hesitate to donate myself. Since the money will finally be transferred on my personal account, it's a bit stupid, since it will be cut off by 5% at best.

The goal is just to show that someone already paid… Sometime, it is more attractive.

[2021-04-10 19:10] Glandos commented on #656
Like a simple [`details/summary`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) tag?

[2021-04-10 19:12] Glandos commented on #603
History can be moved in the dropdown menu at the top right then, as an extra feature.

[2021-04-10 19:23] Glandos commented on #726
https://github.com/python-greenlet/greenlet/issues/232

It seems that Alpine changed something in the image…

[2021-04-10 19:27] Glandos commented on #726
@ToadCast can you try adding `GREENLET_TEST_CPP=no` as an environment variable, instead of adding `g++`?

Of course, we may need `g++` someday, but in the meantime… Let's get lowtech ;)

[2021-04-10 20:07] ToadCast commented on #726
@Glandos it fixes the build indeed, I'll update my pull request with this change 🙂
The run still faces the issue related to https://github.com/spiral-project/ihatemoney/issues/728 but that's another topic.

[2021-04-10 20:31] #726 closed

[2021-04-10 23:53] ToadCast commented on #737
It seems to be fixed by https://github.com/spiral-project/ihatemoney/pull/736
It worked on my server.

[2021-04-11 10:08] almet commented on #737
I confirm that I fixed this in #736. Let us know if that's not the case, thanks!

[2021-04-11 10:08] #737 closed

[2021-04-11 10:13] almet commented on #716
Hi, and thanks for the issue. I'm closing it since we're lacking information to reproduce. Don't hesitate to reopen and provide more information and steps to reproduce if it's still happening.

[2021-04-11 10:13] #716 closed

[2021-04-11 10:14] #717 closed

[2021-04-11 13:37] almet commented on #733
Hi, I've sent an email to the most active users (people with more than 10 bills in a project active in the past 30 days), to ask them to pay on liberapay if they want and can.

Can you please add me to the owners there? Thanks! (https://liberapay.com/Almet/)

[2021-04-11 13:50] almet commented on #733
FWIW, le petit code que j'ai utilisé pour récupérer les mails en question est ici : https://gist.github.com/almet/423e71aa9846d6e38d9892390e8270a2

[2021-04-11 14:35] almet commented on #733
I'm closing the issue, we've enough money it seems :-)

[2021-04-11 14:35] #733 closed

[2021-04-11 17:29] almet commented on #632
FWIW, I was trying to reproduce the issue locally and it seems that it's now possible in recent versions of MariaDB (see https://mariadb.com/kb/en/update/#update-statements-with-the-same-source-and-target).

[2021-04-11 17:40] almet opened #743 "Drop support of MySQL and replace it with MariaDB"
So I'm wondering if we should drop support for MySQL in favor of MariaDB. MariaDB is now the default mysql implementation on Debian 10, and since Debian 9.

Since we're about to release a major version of IHM, it should make sense to drop MySQL altogether as we now have a good community-driven replacement, which also solves some bugs (#632 ) for us :-)

What do you think?

[2021-04-11 17:47] Natim commented on #743
I'm not sure what you mean by dropping support. In my opinion MariaDB and MySQL may use the same driver, don't they?

[2021-04-11 17:48] Natim commented on #743
Actually this might be related to https://github.com/spiral-project/ihatemoney/issues/632#issuecomment-817342784
I'm ok with dropping support then.

[2021-04-11 17:49] almet commented on #743
Yes, it's why I'm thinking about dropping support. In general, I don't think having a too wide support scope is a good idea.

[2021-04-13 17:25] Glandos commented on #733
À l'année prochaine !

[2021-04-16 21:29] Glandos commented on #743
I'm no longer a real user of MySQL/MariaDB, but yes, all major Linux distributions switched to MariaDB. So, yes, support only MariaDB is a good option for me too.

[2021-04-21 14:14] dependabot-preview[bot] opened #747 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/spiral-project/update-logs/77478113).

[2021-05-22 16:35] Salamandar opened #752 "404 on tagsinput.css"
Hi,

I don't know if it's problematic (there's no visual issue), but on my nginx logs i found that :
[code]

I searched around, and in fact tagsinput.css is not installed with pip.

[2021-05-22 19:31] #747 closed

[2021-05-22 22:21] Salamandar opened #760 "gunicorn exits on database upgrade"
Hi,
I've got an issue where on the initial database upgrade, ihatemoney exits after having done the upgrade.
I'm expecting gunicorn to "survive" and create new workers after that, and not have the user manually restart ihatemoney, right ?

Here is the syslog :
[code]

[2021-06-03 09:01] florencebiree opened #761 "GDPR link in the bottom of the pages"
Hi,

This is a feature requested by one of my users: adding a configuration settings to easily add a link to a GDPR notice at the bottom of each pages.

This avoid to change the code to just add a link to private data statements, etc.

I haven't the time to code this now, maybe later :-)

[2021-06-08 22:47] zorun commented on #656
It's a simple and pragmatic way to fix this, I like it.

People that want to add an external link on each bill might find it annoying, because it would require one more click for each bill. But we can start with this simple solution, and somebody could propose a better UI/UX design later if this use-case is important for them.

[2021-06-08 22:57] zorun commented on #656
Anybody want to work on this? (I suck at web UI)

[2021-06-09 21:38] #567 closed

[2021-06-27 21:33] ToadCast commented on #523
Hi, I faced the issue for my last project of two payers for seven payees whom spent different amount. I do believe that https://github.com/spiral-project/ihatemoney/issues/471#issuecomment-605712209 addresses the part with different amount of money spent, and this current issue addresses the part of multiple payers (whether or not they are payees as well).

[2021-07-01 21:19] JocelynDelalande opened #772 "4.2 release status ; delete 4.2 related branches ?"
Hi there :wave:

What is exactly 4.2 release status ?

It can be found here : https://github.com/spiral-project/ihatemoney/releases/tag/4.2

But I get the impression that it's a dead-end, and that 4.2x did not received the [security patch](https://github.com/spiral-project/ihatemoney/security/advisories/GHSA-67j9-c52g-w2q9) and [never got released on pypi](https://pypi.org/project/ihatemoney/#hist

[2021-07-03 07:03] zorun commented on #772
Yes, it was a tagging mistake: according to semantic versioning, the next release is supposed to be 5.0 (because we drop old python versions)

I thought it was already deleted.

[2021-07-03 07:04] zorun commented on #772
See #570

[2021-07-03 11:09] Glandos commented on #772
@JocelynDelalande Go for deletion :boom:

[2021-07-04 09:11] Glandos commented on #656
I hacked something like this:

https://user-images.githubusercontent.com/297578/124379620-703bea00-dcb8-11eb-8fd3-d04bcace02d1.mp4

Does it sound good (except some margins…)

[2021-07-04 16:55] zorun commented on #656
Excellent! :+1:

Yeah, you probably need a slightly bigger margin between "Options avancées" and the actual fields.

[2021-07-04 17:15] thoelze1 commented on #471
I have just found this project and am considering using it for sharing expenses among a household. We'd rather not use [Splitwise](splitwise.com) but I like that it offers 5 ways of splitting a bill:

- By an even split. Each participant owes the same amount.
- By percentages. The user assigns each participant a percentage such that their sum is 100%. Each person's percentage is multiplied by the

[2021-07-04 18:26] zorun commented on #743
I updated #631 to run the CI against mariadb, and I can confirm that mariadb 10.3.X passes all the tests.

So, I'm OK with dropping support for MySQL and requiring MariaDB >= 10.3.2. Debian buster satisfies this requirement; Debian stretch does not, but it is no longer supported anyway (because we stopped supporting Python 3.5)

I will prepare a PR to update documentation & release notes about thi

[2021-07-05 06:52] #632 closed

[2021-07-05 06:52] #743 closed

[2021-07-06 09:47] JocelynDelalande commented on #772
Thanks for your answers. Tag is now deleted, I kept the branch because, while being misnamed, this is the one used for #570.

[2021-07-06 09:47] #772 closed

[2021-07-06 18:20] JamieSlome opened #777 "Trying to get in touch with you regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and so am not sure how to best contact you privately to disclose the security issue.

Can you add a `SECURITY.md` file with your e-mail to your repository, so that I know who to contact? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) is the b

[2021-07-06 19:42] Glandos commented on #777
@JamieSlome The file is now created. Thanks for your upcoming report!

[2021-07-06 19:51] #599 closed

[2021-07-07 13:04] KarolosLykos opened #778 "AttributeError: can't set attribute when connecting to sqlite database with flask-sqlalchemy"
Hi, I have a problem starting the docker container.

I followed the documentation and built the image.

But when I run the container I get the following error.

AttributeError: can't set attribute when connecting to sqlite database with flask-sqlalchemy

[2021-07-07 15:57] kofoednielsen opened #779 "Docker image is gone"
It seems the docker image `ihatemoney` no longer exists on dockerhub?

[2021-07-07 16:02] kofoednielsen commented on #779
Ah, sorry for creating this issue. It likely never existed, i was using a local docker image 🤦‍♂️

[2021-07-07 16:02] #779 closed

[2021-07-07 20:07] zorun opened #780 "Invalidate token when the private code of a project is changed?"
Currently, the token associated to the project is generated based on the global secret key and the project ID, and is independent of the private code.

It means that the following is possible:

- a project is created with private code A
- somebody gets access to the token (either through the API, or simply by receiving an invitation email because it contains a link with the token)
- the private co

[2021-07-07 20:37] zorun opened #782 "The API documentation is outdated"
I was following the documentation of the API, and the current format of API responses is quite different from the documentation.

For instance the output of `/api/projects/XXX` is completly different from https://ihatemoney.readthedocs.io/en/latest/api.html#getting-information-about-the-project

[2021-07-07 20:38] Glandos commented on #780
Yes, it seems a bit logical that a new private code invalidate old tokens. We could even imagine to use the last code update timestamp (as available with continuum) to be sure that setting a new code and going back to an already used code doesn't reactivate tokens.

[2021-07-07 20:50] zorun commented on #780
When going back to a previous private code, then it would make sense that the associated token works again, no?

Basically, the token would be a kind of secure hash of project ID + private code, so it would have exactly the same sensitivity as the private code.

[2021-07-08 11:40] kofoednielsen commented on #778
I fixed this by setting the environment variable `NIGHTLY=true` in my container. This uses a Flask-SQLAlchemy=2.5.1

[2021-07-08 12:07] Glandos commented on #780
[**@zorun**](https://github.com/zorun) commented on [7 juil. 2021 à 22:50 UTC+2](https://github.com/spiral-project/ihatemoney/issues/780#issuecomment-875923769 "2021-07-07T20:50:55Z - Replied by Github Reply Comments"):

I imagined the use case where you shared a token without sharing the private code to someone, and all others know the private code. Now you just want to invalidate the token. So y

[2021-07-08 17:06] KarolosLykos commented on #778
Thank you very much that fixed the problem. I tried setting up the Flask-SQLAlchemy to 2.5 inside the setup.cfg but nothing. I'm not used to python, so I don't know if that was a smart move, messing around with the configuration files :D

[2021-07-08 17:06] #778 closed

[2021-07-08 23:42] zorun opened #785 "Cannot create any bill in a project without currency"
- create a project with no currency
- add participants
- try to add a bill: it fails with:

[code]

I suspect that the form contains an actual currency, even though it isn't shown in the UI.

I'm surprised that the tests don't catch this kind of big issue...

[2021-07-09 07:08] Glandos commented on #785
Sorry to flood issues with videos but I don't have any errors:

https://user-images.githubusercontent.com/297578/125038031-35113080-e095-11eb-982e-ebc56c36a476.mp4

I tested it with the current master, new virtualenv, new database.

[2021-07-09 22:40] #656 closed

[2021-07-09 22:50] zorun commented on #785
Ok, I can only reproduce with WTForms==2.2.1 (what I had in my old virtualenv), it works fine when upgrading to 2.3.3

I think the issue is that the default currency in the "Add bill" form is wrong: when I try to add a bill on a project with currencies, the "Add bill" form shows "AED" as currency by default (the first choice in the list). I think this wrong default value explains the error I am ge

[2021-07-09 23:19] zorun commented on #785
Ok, tests fail as expected (with sometimes hard-to-understand errors, but it's minor):

[code]

[2021-07-09 23:24] zorun commented on #785
This seems to be caused by #768

In general, when updating a dependency in setup.cfg, it's better to also raise the minimum version, so that existing virtualenvs get updated.

[2021-07-10 08:22] #785 closed

[2021-07-12 02:56] wrecker opened #792 "Change Dockerfile to setup the app at build time instead of runtime"
The current Dockerfile is written to download the python dependencies and setup the full app when the container starts up. This means everytime the container starts up it goes the whole process of downloading the python dependencies from PyPi and setting up the app. I was trying to bring this up in an isolated environment and realized it wouldn't work. There are other side-effects like users canno

[2021-07-12 03:04] wrecker commented on #792
I have a PR if you would like to see review it.

[2021-07-12 07:38] zorun commented on #602
This was finally done in #631

[2021-07-12 07:38] #602 closed

[2021-07-12 07:44] zorun commented on #792
Hi, welcome! This is definitely a change we want to have, I also don't like the current process (but I'm not a big Docker user). I'll comment on the PR.

For reference, we have another issue about Docker here: #332

[2021-07-12 20:49] Glandos commented on #576
Closed via #587

[2021-07-12 20:49] #576 closed

[2021-07-13 05:57] wrecker opened #798 "Update Flask-SQLAlchemy version in setup.cfg"
This is needed to pickup the fix made in Flask-SQLAlchemy https://github.com/pallets/flask-sqlalchemy/issues/910

[2021-07-13 14:37] wrecker commented on #798
Actually not needed.  Closing this.

[2021-07-13 14:37] #798 closed

[2021-07-14 11:51] zorun opened #801 "Publish docker images automatically"
It would be nice to publish production-ready Docker images on the docker hub. It should be automated, except maybe for releases.

I have this in mind:

- `ihatemoney:latest`: built and published by the CI in the master branch
- `ihatemoney:X.Y.Z`: built and published by the CI on a tag
- `ihatemoney:stable`: points to last X.Y.Z release
- in addition, we can try building an image in the CI to chec

[2021-07-14 12:40] zorun commented on #653
Apparently it's already done automatically: https://readthedocs.org/projects/ihatemoney/builds/

I guess it was broken when I looked last time.

[2021-07-14 12:40] #653 closed

[2021-07-14 16:48] kofoednielsen commented on #778
Yeah the docker file is very funny. Doesn't do much at build time, and at run time in downloads the code, builds and runs 🤷‍♂️

[2021-07-14 18:19] ra-ju commented on #792
Since the PR #793 has been merged, can we close this issue?

[2021-07-14 19:56] zorun commented on #778
This should be better now thanks to #793

[2021-07-14 19:58] #792 closed

[2021-07-14 20:13] zorun commented on #761
If I understand correctly, you want to be able to display a custom link to an external website in the footer, and the link URL would be part of the configuration? It's not about adding a new custom page in ihatemoney?

It sounds useful, patch welcome :)

[2021-07-14 20:18] zorun commented on #760
It sounds like a bug, gunicorn is not supposed to exit after migration. Signal 15 is SIGTERM.

Can you share more details about your environment? OS, version, `pip freeze`, your `SQLALCHEMY_DATABASE_URI` variable, the exact command you run, etc.

[2021-07-14 20:27] zorun commented on #752
This `include tagsinput.css` was wrongly backported to the 4.1 stable branch, it's not actually used there. It's a new feature of the invite page that will only be present in newer versions.

So in short: it's completely harmless.

I've fixed in the `stable-4.1` branch for good measure, but I don't think we will be doing a new 4.1.X release before the next major version 5.

[2021-07-14 20:27] #752 closed

[2021-07-14 20:31] zorun commented on #556
So, it turns out there were quite a lot of fixes needed, and the motivation died down after last summer.

Let's try to release before 26 July of this year ;)

[2021-07-14 20:34] zorun opened #803 "Crash on history page when no timezone is available"
Reported by @symphorien on IRC:

[code]

This happens when `BABEL_DEFAULT_TIMEZONE` is not set AND `/etc/localtime` does not exist on the system. We should fallback to UTC in this case.

[2021-07-15 09:33] Salamandar commented on #752
OK !! Thanks a lot for the fix :D

[2021-07-17 11:01] zorun commented on #780
Well, sorry @Glandos , I hadn't thought about this egg-and-chicken problem: to validate the token, we need to know the project ID (so that we can fetch the private code), but we don't know the project ID until we have decoded the token...

Maybe we can take another approach with a counter:

- store a counter in the database for each project
- when the private code of a project is changed, increase

[2021-07-17 14:45] zorun opened #806 "Export and import currencies"
Currently, export and import don't handle bill currencies.

We should add it, but there are several corner cases. In addition, ihatemoney 5 should accept to import a dump from ihatemoney 4 (without any currency information)

I'm working on it.

[2021-07-17 15:49] zorun opened #807 "Rename "owers" to "beneficiaries"?"
I find "owers" really hard to understand, and it does not seem very common. I also have trouble translating it to French, the current translation is "débiteur" which is very technical.

Fortunately, it's not used much in the user interface.

What about renaming it to "beneficiaries"? It's the people that benefit from a bill, which means they need to participate financially.

[2021-07-17 22:09] Glandos commented on #777
Thanks for your report!

[2021-07-17 22:09] #777 closed

[2021-07-17 22:48] Glandos commented on #807
It's deeply rooted into the project: https://github.com/spiral-project/ihatemoney/commit/b3db90545c5bd76d4acb6abfe5356e87b0f0cdcf#diff-033b73e4d04258f5db8307e1f3befc5033cd554ffc801b4d4bb347a8dbbb5715R52 (aka: it's the initial commit).

Do you planned to rename just the I18N parts? Or also the whole code?

[2021-07-17 23:25] zorun commented on #807
Hmm, right, good question, there are three kind of places where it's used:

- UI: I checked again and "owers" is only used in the history log
- code: changing it should not be very hard, but it has limited usefulness
- API fields (such as JSON export): changing that would be a big breaking change

So, it does not seem to be a big UI problem for "normal" users (i.e. not looking at history and not u

[2021-07-17 23:33] zorun commented on #806
So, the plan is to add the currency in the bill export and the "settle plan" export with the list of transactions.

Here goes an example for the list of bills in CSV:
[code]

And for a project without currency, it would look like this:
[code]

I find it a bit ugly to expose this `XXX` thing, so I tried to represent "no currency" with an empty string when exporting while keeping it `XXX` internally

[2021-07-17 23:43] Glandos commented on #806
"XXX" is the [official ISO code for "No currency"](https://en.wikipedia.org/wiki/ISO_4217). That's why it is used, and in my opinion, should be used for export.
But the whole column can be stripped if the **default** currency is "XXX". And on import, if there is no currency column, then the project is using "XXX" as the default.

[2021-07-18 12:18] zorun commented on #806
Ah right, I forgot that it's an official code, so I guess it's fine to expose it.

For exporting, I would prefer if the format is the same for all projects, it's much less confusing.

[2021-07-18 12:56] zorun opened #811 "Language list is not scrollable on mobile"
I just tested on Android (with a somewhat weird browser), and I cannot scroll in the language list. French is high enough in the list to be selectable, but many languages are not that lucky.

See screenshot:

![image](https://user-images.githubusercontent.com/731144/126067813-94ddbaf3-8477-4bc6-9c09-9594a16d21d8.png)

[2021-07-18 16:16] shreyash00007 commented on #811
hey, I just got the fix of it you can add the some code to the class "navbar-collapse"

  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: #343a40;
    width: 500px;      //adjust in desktop view
    height: 110px;

[2021-07-18 16:47] Flecart commented on #811
@shreyash00007 you have to open a pull request to collaborate!
Fork the repository, make new branch and open pull request

[2021-07-18 20:48] #803 closed

[2021-07-18 20:52] Glandos commented on #811
[**@Flecart**](https://github.com/Flecart) commented on [18 juil. 2021 à 18:47 UTC+2](https://github.com/spiral-project/ihatemoney/issues/811#issuecomment-882084809 "2021-07-18T16:47:43Z - Replied by Github Reply Comments"):

For a simple file edition, you can even:
- Navigate to the file, display it
- Click on the “Pen” icon at the top right
- Edit & save
- Submit the PR

For small contributions,

[2021-07-18 21:29] zorun commented on #811
Fixed by #813, thanks.

[2021-07-18 21:29] #811 closed

[2021-07-18 22:13] zorun commented on #806
Draft PR: #814

Still need to add a few testcases for some import corner cases:

- import bills without currency in a project with a default currency: should add the default currency to these bills
- import bills with a currency (the same for all bills) in a project with no default currency: should strip the currency on all bills
- import bills with several different currencies in a project with n

[2021-07-20 10:53] jendrikw opened #815 "AttributeError: can't set attribute"
I know there are a lot of issues related to this, but I couldn't find a solution.

I'm trying to install ihatemoney on a fresh debian 10. I executed `pip3 install ihatemoney`. This is the output from pip:

[code]

Running `ihatemoney` produces the following error message:

[code]

What can I do to fix this error?

[2021-07-20 17:40] zorun commented on #815
It's because the current release doesn't pin SQLAlchemy and the new version is not compatible. You can fix it with:
[code]

We are nearing a new major release, it will work fine once it's out.

I have just added this workaround to the documentation: https://ihatemoney.readthedocs.io/en/latest/installation.html#install

[2021-07-20 17:40] #815 closed

[2021-07-23 02:25] ranjit-git opened #817 "💥 potential security vulnerability"
potential security vulnerability has been disclosed to huntr platform for your repo .
plz validate them.
you can validate them via magick link sent to your mail or by signing up in huntr
https://huntr.dev/bounties/892946b8-0b8f-4592-876f-2cdf3d35e0d0/
https://huntr.dev/bounties/f9ffef38-4060-4e13-a4f2-7e7fe7dc1fe7/
https://huntr.dev/bounties/b806b9c3-48c8-44cd-bbce-918dd6d1e2ad/

[2021-07-27 06:51] hiqua commented on #471
@jimbo2106 did you give up on your changes? Should we start from scratch?

For reference, this is how it looks like with a recent version of Tricount. One can set fixed amounts, and the rest is split between the others with the coefficients given. I rarely use fixed amounts, but the coefficients are quite useful.

![signal-2021-07-27-081726](https://user-images.githubusercontent.com/3812042/127108

[2021-07-29 07:12] jimbo2106 commented on #471
I personally am using Tricount.

We never came to consensus on how to move forward. The project level weights are contentious with the bill level weights.
 @Glandos  is the maintainer, so he has the ultimate say and I'm not willing to maintain a fork.
This is still my opinion:
https://github.com/spiral-project/ihatemoney/issues/471#issuecomment-617174166

My fork still works if you'd like to try i

[2021-07-30 18:14] ekand commented on #782
I am interested in this issue, and will look around and evaluate whether I am able to help with it.

[2021-08-01 14:31] zorun commented on #782
Thanks for the first improvement! As discussed in #821 there may be more changes needed though.

[2021-08-14 19:41] Glandos commented on #806
[**@zorun**](https://github.com/zorun) commented on [19 juil. 2021 à 00:13 UTC+2](https://github.com/spiral-project/ihatemoney/issues/806#issuecomment-882123284 "2021-07-18T22:13:22Z - Replied by Github Reply Comments"):

In this case, bills without currency should have the default currency of the project to be consistent with the first point. If the project is set to "No Currency", then it will u

[2021-08-30 19:27] unnameduser2 opened #830 "can't start server after building"
Hi,

I've tried now to get ihatemoney running on several different machines, but all with the same problem, despite if trying with root or a normal user account.
Tried with these instructions: https://ihatemoney.readthedocs.io/en/latest/installation.html

Tested OS so far: Debian 10.10, Ubuntu 20.4.3 LTS, CentOS 8.4.2105

a) before "pip install ihatemoney" I need to run "pip install wheel", otherw

[2021-08-31 10:21] zorun commented on #830
You said you followed the documentation, did you see the warning about needing to install a specific version of sqlalchemy?

[2021-08-31 19:46] #830 closed

[2021-09-01 23:19] Mageek627 commented on #806
Hello, I'm not sure where it's best to ask this, so let's try here:

This new currency feature (to which I'm really looking forward), is it strictly for known "fiat" currencies ? Would custom currencies be supported ? (For example: I owe you 2 HUGS) Will cryptocurrencies be supported ?

[2021-09-03 22:46] Glandos opened #833 "Custom currencies support"
Hello, I'm not sure where it's best to ask this, so let's try here:

This new currency feature (to which I'm really looking forward), is it strictly for known "fiat" currencies ? Would custom currencies be supported ? (For example: I owe you 2 HUGS) Will cryptocurrencies be supported ?

_Originally posted by @Mageek627 in https://github.com/spiral-project/ihatemoney/issues/806#issuecomment-9108852

[2021-09-03 22:49] Glandos commented on #833
In fact, currencies were introduced because people need to **convert** between them. And that we can have a reasonably reliable reference for conversion rates.

Cryptocurrencies are highly volatile, so I guess it will be more difficult. And custom currencies like HUGS (which could be a neat currency btw) can't be converted, so in my opinion, it should stay with no currency.

[2021-09-04 07:40] zorun commented on #833
+1, if you want to use a custom currency that is not easily convertible, just use "no currency" for your project. Values are just numbers, so they could mean anything (€, foocryptocoins, hugs...).

That being said, well-known cryptocurrencies are already supported as currencies: I see BTC in the output of the API we're using.

[2021-09-07 21:16] zorun commented on #806
I have merged #814, thanks @Glandos for the review!

[2021-09-07 21:16] #806 closed

[2021-09-15 20:44] DanielNetoP opened #838 "Weight is being rounded on balance member list"
Currently the user's weight are being rounded on to 1 decimal case only, so if we select 0.75 as the weight for one user and 0.25 for the other we see on the balance member list as 0.8 and 0.2 image below:
![image](https://user-images.githubusercontent.com/10155766/133506738-51e76bda-e498-4019-b56a-42993062dbc7.png)

[2021-09-16 20:06] Glandos commented on #838
Thanks for this suggestion, I have to admit that I also like to have two decimals. Is it possible for you to add a new test case for this? I'll guess that we need to test that:
- 1.0 is displayed as 1
- 1.10 is displayed as 1.1
- 1.15 is displayed as 1.15

[2021-09-16 20:56] DanielNetoP commented on #838
Thank you @Glandos
I've just updated the PR with the test cases.

[2021-09-19 17:04] #838 closed

[2021-10-05 21:22] almet opened #841 "Protect project creations with a captcha"
The hosted version of ihatemoney.org is currently spammed by robots, and AlwaysData (our hoster) disabled project creation until we are able to filter them out.

I believe we could solve this issue by using a captcha. I don't want to use ReCaptcha or proprietary solutions, though. I unfortunately don't have so much spare time these days, so if anybody want to take this over that would be awesome.

[2021-10-10 10:16] Glandos commented on #841
Honestly, an optional CAPTCHA is not a bad idea. But I can only put a veto for a solution with reCaptcha.
However, there are alternatives:
- https://www.hcaptcha.com/ Used by CloudFlare. It's also a service from a big company.
- https://friendlycaptcha.com/ The demo seems interesting. Especially because it has a warning when JS is disabled
- A custom field. I gathered a lot of positive feedback fr

[2021-10-10 11:03] almet commented on #841
Hi, I dont like proprietary solutions either.

We have spammers and our hoster service asks us to filter them. They do not care about the solution as long as It works.

The impact on them is increased database size and outflux of emails.

Unless someone would like to tackle this (I dont), I'm fine with landing this. It's off by default and solves an existing issue.

If somebody wants to take time

[2021-10-10 15:11] almet commented on #801
That would be great!

[2021-10-10 21:21] zorun opened #847 "Expose list of allowed currencies in API"
While updating the API doc for 5.0, I came accross an inconsistency: we can choose the currency while creating a project through the API, but there is no way to know which currencies are allowed.

It would be nice to expose the list of currencies in the API.

[2021-10-10 21:30] almet opened #848 "Make multiple currency optional"
Hi, I wonder if we should make multiple currency support optional, or at least if we should separate it from the project creation.

I find the project creation form kinda big already, and I wonder if postponing the choice of a default currency to when the project is first created and still empty would make more sense?

What do you think?

[2021-10-10 21:34] Glandos commented on #848
I was asking myself the same question. We can either remove it or hide it behind a `<detail><summary>` tags, like we did in the bill creation (#783).

[2021-10-10 21:39] almet commented on #848
Removing it would make more sense, I think it would be okay to let this be the "default_currency" by default.

[2021-10-10 21:44] Glandos opened #849 "Error (aka danger) flash message should be persistent."
All flash messages are not equals. A normal message could disappear after a reasonable delay, but an error should be manually dismissed. Otherwise, it's confusing for the user.

[2021-10-10 21:44] #833 closed

[2021-10-10 22:01] zorun commented on #848
If we don't show this option at project creation, then we might as well remove the feature altogether! It will probably never be used if it's only available as an advanced option in the settings.

Currently, if the user doesn't choose a currency, then the project is set to "no currency" mode, which is good. The UX could be improved in two ways:

- leave it in the form, but hide it behind a tag lik

[2021-10-13 11:49] ghost opened #854 "(sqlite3.OperationalError) unable to open database file"
Hi, after making a clean install and start systemctl service I get this error:

[code]

My config file:
[code]

[2021-10-13 15:46] almet commented on #854
When you have a `Bad Gateway` error it probably means that your reverse proxy is not configured properly. Can you paste your NGINX config here so we can help? Thanks

[2021-10-13 15:50] almet opened #855 "Handle environment variables better"
@zorun said in another discussion :

[2021-10-13 19:17] Glandos commented on #849
Yes, message disappearing should be a feature only when something "normal" happens. E.g. "Your bill was added successfully", since this can be confirmed in the bill list. In any other cases, the user should acknowledge the message, when the information can be seen anywhere else.

[2021-10-13 22:09] #849 closed

[2021-10-13 22:36] zorun opened #857 "Check that changing the private code invalidates cookies"
Since recently, changing the private code is a way to remove access to previous members: it prevents people from logging with the old private code (obviously) but also with the old token (e.g. in invitation links).

However, if a previous member still has a valid cookie, he/she may still be able to login anyway. We should check if it works, and if yes, fix this issue.

[2021-10-13 22:55] zorun opened #859 "Rethink security model around tokens"
While writing documentation in #858 , I thought that the token model is a bit strange.

Tokens are good when used in invitation links: people can connect without knowing the private code, and so they can't change the private code in the web interface.

However, the same token can be used to change the private code through the API!

I like the feature "get access to a project without the power to c

[2021-10-14 06:54] #782 closed

[2021-10-14 08:06] almet commented on #854
Obviously we also need to see gunicorn.conf.py

[2021-10-17 11:13] almet commented on #854
I'm closing this as it's not a bug in IHM but feel free to ping us if you need more help.

[2021-10-17 11:13] #854 closed, assigned to nobody

[2021-10-17 13:36] almet commented on #859
I like the idea that anybody with access to the project can change anything in it. It's simple enough and reduces the need to implement ACLs.

[2021-10-17 13:41] almet commented on #857
Interesting :-)

I confirm that this is a problem : changing the project code doesn't invalidate the cookies. One way to mitigate this would be to include something derived from the project code in the cookie, and checking against it when checking the cookie.

[2021-10-17 13:42] almet commented on #848
Okay, I feel we have a consensus here!

[2021-10-17 13:56] #760 closed

[2021-10-17 14:05] almet commented on #633
Is it still an issue?

[2021-10-17 14:14] almet commented on #626
I like this :-)

[2021-10-17 14:17] #534 closed

[2021-10-17 14:18] almet commented on #524
Closing this, let's reopen if we really want it :-)

[2021-10-17 14:19] #519 closed

[2021-10-17 14:20] almet commented on #348
Duplicate of #761

[2021-10-17 14:20] #348 closed

[2021-10-17 14:53] zorun commented on #654
Now the main issue for me is really to have different weight for each year, exactly like you (based on average income for the year).

Pagination does help for performance (this is why I developed it ;) ), but the "Statistics" page still takes 15 seconds to load with 1200 bills.

I ended up splitting the history of bills by year (using the quick & dirty command I was mentioning above). And now, we

[2021-10-17 15:52] zorun commented on #654
To be more accurate: we add bills during the year, and then, at the end of the year (or even a bit later), we change the weights of the participants according to their average income during the year.

This works very nicely, and it would be much more difficult to do with per-bill weights (which I think would be too complex anyway)

[2021-10-17 18:51] almet commented on #471
Hi, if you want to have this merged here, (and that would be great), then you need to be open to discussion with the team who will be maintaining the project in the long term.

My understanding is that we should input amounts here rather than weights, or at least make it possible to have both and have something easy to use. cf what @Glandos said :

Could you please recap what is blocking this to b

[2021-10-17 19:52] Glandos commented on #633
I guess not, according to the latest status of CI tests.

[2021-10-17 19:58] Glandos commented on #543
I feel a little uncomfortable with a single € or $, for being less inclusive. However, money lacks a universal symbol (¤ is know by nearly no one), and the dollar sign fit this role since the end of the WWII now…
Do you think we need something with a currency sign? With coins or banknotes?

[2021-10-17 20:53] Glandos commented on #654
This would be "solved" by fixing #471. However, for things like this, I would **much** prefer having options in the project settings to do that: Splitting a project according to some criteria, etc. Having a subproject feature seems overkill in this situation.

[2021-10-17 20:54] almet commented on #543
(we can remove the $ sign)

[2021-10-17 21:03] Glandos commented on #302
That works for me. I would go by first renaming strings, but *maybe* that's because I'm lazy on refactoring.

[2021-10-17 21:29] Glandos commented on #543
I found https://thenounproject.com/term/money/2796491/ that's nearly the same, without the dollar sign, and with less pixels, so it can fit better in a favicon:
![image](https://user-images.githubusercontent.com/297578/137645571-800f51f7-68e5-4c41-8037-062695cca67a.png)

I was trying to find an icon with a coin and/or banknote and a share/split sign but it's very difficult. There is too much choic

[2021-10-17 21:31] almet commented on #543
That will do I think :-)

[2021-10-18 18:00] zorun commented on #556
For me #848 is not blocking, and I'm against merging anything new before 5.0.0 is out.

In short: let's release 5.0.0 now!

[2021-10-18 21:48] almet commented on #556
Oops, sorry I'm reading this just after merging #848… Let's release!

[2021-10-19 22:10] zorun opened #868 "Improve visibility of official Docker image"
Now that 5.0.0 is released and includes an official docker image, let's make it more visible!

* Add a description to https://hub.docker.com/r/ihatemoney/ihatemoney/
* Add a link/badge/whatever from the README to point to the docker images
* Add the Docker option to the installation docs

[2021-10-19 22:13] almet opened #869 "Allow translation of invitation emails"
Currently, the invitation emails are [directly encoded in templates](https://github.com/spiral-project/ihatemoney/blob/cfbce99f195ea9b373c8b8fbf365e1562262c9de/ihatemoney/templates/invitation_mail.en.j2), and aren't part of the translated strings.

We should change this :-)

[2021-10-19 22:23] zorun opened #870 "Illustrations / showcase are not included in pip package"
When installing ihatemoney via pip, the illustrations ("BD explicative") does not work:

ihatemoney.example.com/static/showcase/1.jpg -> 404

The images are not included in the pip package, I think we need to include *.jpg to MANIFEST.in (no idea how this works).

By the way, these images are quite big, could we reduce them easily?

[2021-10-19 22:52] #870 closed

[2021-10-19 23:02] almet opened #875 "Reduce the size of showcase images"
Spinoff of #870 by @zorun.

[2021-10-19 23:08] almet commented on #875
Yeah, that's good to reduce the size by 50%, they seem really large atm.

[2021-10-19 23:09] zorun commented on #556
@almet strange, your tags for 5.0.0 and 5.0.1 are not in the master branch, is it intended?

[2021-10-19 23:12] almet commented on #556
I'm not sure :-) Should it be on master? I usually create a branch to prepare everything and run `make release` from there, which probably explains why it's not based on the master branch.

How would you do it?

[2021-10-19 23:47] zorun opened #877 "Email sending crash when creating project?"
While testing something else in my dev environment, I got a crash related to emails:

[code]

I think it's related to non-ascii characters in the french translation of emails -> I plan to reproduce and add a test covering this

[2021-10-20 04:25] seakyith commented on #869
Hello, I would like to work on this issue. Can you show me which file that I need to work on?

[2021-10-20 10:30] almet commented on #136
Play thanks ! Let us know if you need help ☺️

Le 20 octobre 2021 10:39:04 GMT+02:00, Carlos Pimentel ***@***.***> a écrit :

[2021-10-20 18:50] almet opened #881 "Upgrade SQLAlchemy to 1.4+"

[2021-10-20 20:19] #877 closed, assigned to nobody

[2021-10-20 21:50] almet commented on #136
Please, have a look at the existing PR at https://github.com/spiral-project/ihatemoney/pull/731. good stuff there, it was abandoned but you probably could build on top of it.

[2021-10-21 01:51] seakyith commented on #869
Thank you for your help! I tried to run test based on the documentation with make test command. I ran into the following error

make: *** No rule to make target `test'.  Stop.

Any helps would be appreciated.

[2021-10-22 15:56] #868 closed, assigned to nobody

[2021-10-23 11:29] rugk opened #887 "Localize date picker"
## Problem

I'm using this in German and the date picker has this US format:
![image](https://user-images.githubusercontent.com/11966684/138554081-1bf866fd-71b5-4483-8ddc-6ae39f79c6d3.png)

## Solution

Oh, I just notice my Firefox is en_US / translated into English, though the website preference says German, so maybe that's the reason and you can do nothing here unless you switch away from the de

[2021-10-23 11:59] rugk opened #888 "Allow entering time in date picker"
In contrast to the app (at least when used with Nextcloud Cospend), I cannot enter a time in this web application.

IMHO, it should be optional as sometimes you don't know a time, but well :sweat_smile:

cf. https://github.com/spiral-project/ihatemoney/issues/887 -> it only shows a date field.

[2021-10-23 14:01] zorun opened #889 "Computing the balance or statistics is slow on big projects"
Somebody reported that ihatemoney is now much slower than the previous version (4.1.5), and I can confirm using a big project.

I identified two slow actions:

- computing the balance (as shown in the list of bills or in the "settle bills" page)
- computing statistics

For a project with 1000 bills, both actions create thousands of SQL queries like this:

[code]

I traced this query back to the `B

[2021-10-23 15:26] #889 closed, assigned to nobody

[2021-10-24 13:47] #887 closed, assigned to nobody

[2021-10-26 22:14] zorun opened #894 "Automatically create a release on github"
We use zest for the release process: https://ihatemoney.readthedocs.io/en/latest/contributing.html#how-to-release

It would be nice if zest could automatically create a release on github with the changelog extract.

[2021-10-28 11:41] ynco opened #896 ""Add a new bill" hidden behind pager UI on mobile"
Hi,

Since the pager feature was added, the "Add a new bill" button is no longer visible on mobile.

Screen capture from Firefox's Responsive Design mode:

![screen](https://user-images.githubusercontent.com/4499944/139248360-b0b65b50-e69b-4f40-89b0-4719cb9221fa.jpg)

    $  pip show ihatemoney | grep Version
    Version: 5.1.1

[2021-10-29 21:22] rugk commented on #888
TBH I really only opened it because the other apps, as already said (cospend etc.) do have that fine-grained granularity. I guess for them it is useful if you "just now" enter the time and so the current time is the valid one – that's easy to enter. Actually [I asked them to make it optional](https://github.com/eneiluj/cospend-nc/issues/96) as [otherwise that could be quite annoying](https://gitla

[2021-10-30 15:30] #875 closed

[2021-10-30 19:24] almet opened #902 "Convert all documentation to markdown"
We currently use the python rst standard.

[2021-10-30 19:46] almet opened #903 "Notifications are getting in the way"
See ![image](https://user-images.githubusercontent.com/67073/139556604-865fea3b-923a-4735-8d34-501272e82c1b.png).

I'm not sure what to do about this: we could probably make the notifiications in the flow, and not floating on top of the rest of the content.